<bla-common-dialog [config]="config"
                   [loading]="loading">

  <a name="bla-selectionlist"></a>

  <form id="veranstaltungNeuForm"
        class="horizontal-form half-page"
        #veranstaltungNeuForm="ngForm">


    <!-- Name -->
    <div class="form-group row">
      <label for="veranstaltungName"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.VERANSTALTUNG_NEU.FORM.NAME.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="name"
               class="form-control"
               id="veranstaltungName"
               name="veranstaltungName"
               #veranstaltungUsername="ngModel"
               [(ngModel)]="currentCredentials.username"
               pattern= "^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
               placeholder="{{ 'MANAGEMENT.VERANSTALTUNG_NEU.FORM.NAME.PLACEHOLDER' | translate }}">
        <div class="invalid-feedback">
          {{ 'MANAGEMENT.VERANSTALTUNG_NEU.FORM.NAME.ERROR' | translate }}
        </div>
      </div>
    </div>

    <!-- Wettkampftyp -->
    <div class="form-group row">
      <label for="veranstaltungWettkampftyp"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.VERANSTALTUNG_NEU.FORM.WETTKAMPFTYP.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <bla-dropdown-menu
          id = "veranstaltungWettkampftyp"
          name = "veranstaltungWettkampftyp"
          [items] = "getVersionedDataObjects()"
          [optionFieldSelector]="'name'"
          (onSelect)="onSelect($event)">
        </bla-dropdown-menu>
     <!--   <input type="wettkampftyp"
               class="form-control"
               required
               minlength="8"
               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])[a-zA-Z0-9]+$"
               id="veranstaltungWettkampftyp"
               name="veranstaltungWettkampftyp"
               #veranstaltungPassword="ngModel"
               [(ngModel)]="currentCredentials.password"
               placeholder="{{ 'MANAGEMENT.VERANSTALTUNG_NEU.FORM.WETTKAMPFTYP.PLACEHOLDER' | translate }}">-->
        <div class="invalid-feedback">
          {{ 'MANAGEMENT.VERANSTALTUNG_NEU.FORM.WETTKAMPFTYP.ERROR' | translate }}
        </div>
      </div>
    </div>

    <!-- Sportjahr -->
    <div class="form-group row">
      <label for="veranstaltungSportjahr"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.VERANSTALTUNG_NEU.FORM.SPORTJAHR.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <bla-dropdown-menu
          id = "veranstaltungSportjahr"
          name = "veranstaltungSportjahr"
          [items] = "getVersionedDataObjects()"
          [optionFieldSelector]="'name'"
          (onSelect)="onSelect($event)">
        </bla-dropdown-menu>
       <!-- <input type="password"
               class="form-control"
               required
               id="veranstaltungSportjahr"
               name="veranstaltungSportjahr"
               #veranstaltungVerifyPassword="ngModel"
               [(ngModel)]="verifyCredentials.password"
               placeholder="{{ 'MANAGEMENT.VERANSTALTUNG_NEU.FORM.SPORTJAHR.PLACEHOLDER' | translate }}">-->
        <div class="invalid-feedback">
          {{ 'MANAGEMENT.VERANSTALTUNG_NEU.FORM.SPORTJAHR.ERROR' | translate }}
        </div>
      </div>
    </div>

    <!-- Meldedeadline -->
    <div class="form-group row">
      <label for="veranstaltungMeldedeadline"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.VERANSTALTUNG_NEU.FORM.MELDEDEADLINE.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9" id = "veranstaltungMeldedeadline">
        <input type="name"
               class="layout-datum"
               id="Tag"
               name="veranstaltungName"
               pattern= "^[0-9]+$"
               placeholder="Tag">
        <input type="name"
               class="layout-datum"
               name="Monat"
               pattern= "^[0-9+$"
               placeholder="Monat">
        <input type="name"
               class="layout-datum"
               name="Jahr"
               pattern= "^[0-9]+$"
               placeholder="Jahr">
      <!--  <input type="name"
               class="form-control"
               required
               id="veranstaltungMeldedeadline"
               name="veranstaltungMeldedeadline"
               #veranstaltungVerifyPassword="ngModel"
               [(ngModel)]="verifyCredentials.password"
               placeholder="{{ 'MANAGEMENT.VERANSTALTUNG_NEU.FORM.MELDEDEADLINE.PLACEHOLDER' | translate }}">-->
        <div class="invalid-feedback">
          {{ 'MANAGEMENT.VERANSTALTUNG_NEU.FORM.MELDEDEADLINE.ERROR' | translate }}
        </div>
      </div>
    </div>

    <!-- Liga -->
    <div class="form-group row">
      <label for="veranstaltungLiga"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.VERANSTALTUNG_NEU.FORM.LIGA.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <bla-dropdown-menu
          id = "veranstaltungLiga"
          name = "veranstaltungLiga"
          [items] = "allLiga"
          [optionFieldSelector] = "'name'"
          (onSelect) = "onSelect($event)">
        </bla-dropdown-menu>

        <!--<input type="password"
               class="form-control"
               required
               id="veranstaltungLigaleiter"
               name="veranstaltungLigaleiter"
               #veranstaltungVerifyPassword="ngModel"
               [(ngModel)]="verifyCredentials.password"
               placeholder="{{ 'MANAGEMENT.VERANSTALTUNG_NEU.FORM.LIGALEITER.PLACEHOLDER' | translate }}">-->
        <div class="invalid-feedback">
          {{ 'MANAGEMENT.VERANSTALTUNG_NEU.FORM.LIGALEITER.ERROR' | translate }}
        </div>
      </div>
    </div>


    <!-- Ligaleiter -->
    <div class="form-group row">
      <label for="veranstaltungLigaleiter"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.VERANSTALTUNG_NEU.FORM.LIGALEITER.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <bla-dropdown-menu
          id = "veranstaltungLigaleiter"
          name = "veranstaltungLigaleiter"
          [items] = "allUser.reverse()"
          [optionFieldSelector] = "'email'"
          (onSelect) = "onSelect($event)">
        </bla-dropdown-menu>

        <!--<input type="password"
               class="form-control"
               required
               id="veranstaltungLigaleiter"
               name="veranstaltungLigaleiter"
               #veranstaltungVerifyPassword="ngModel"
               [(ngModel)]="verifyCredentials.password"
               placeholder="{{ 'MANAGEMENT.VERANSTALTUNG_NEU.FORM.LIGALEITER.PLACEHOLDER' | translate }}">-->
        <div class="invalid-feedback">
          {{ 'MANAGEMENT.VERANSTALTUNG_NEU.FORM.LIGALEITER.ERROR' | translate }}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9 button-box">
        <bla-button
          [id]="'veranstaltungSaveButton'"
          [disabled]="!veranstaltungNeuForm.valid"
          [loading]="saveLoading"
          (onClick)="onSave($event)">
          {{ 'MANAGEMENT.VERANSTALTUNG_NEU.FORM.SAVE' | translate }}
        </bla-button>
      </div>
    </div>
  </form>

</bla-common-dialog>
