<select #selectModel="ngModel"
        (focus)="focusChanged($event)"
        (ngModelChange)="onSelectionChanged($event)"
        [(ngModel)]="selectedItemIds"
        [disabled]="isDisabled()"
        [id]="id"
        [multiple]="isMultibleSelectionAllowed()"
        [name]="id"
        [size]="getListSize()"
        class="form-control selection-list">

  <ng-container *ngIf="!showLoadingPlaceholder() && !showEmptyItemListPlaceholder()">
    <option *ngFor="let item of items"
            [ngValue]="item.id">
      {{ item[optionFieldSelector] }}
    </option>
  </ng-container>

</select>
