<div
  class="modal"
  [class.show]="visible"
  id="exampleModal"
  tabindex="-1"
  role="dialog">
  <div class="modal-dialog animation "
       [class.fade-in]="visible"
       style="padding-top: 10%;"
       role="document">
    <div class="modal-content"
         [ngSwitch]="modalDialogOption">
      <div class="modal-header">
        <!-- display complex header with <h5> inside the modal dialog element tags -->
        <ng-content select="h5"
                    class="modal-title"></ng-content>

        <!-- display simple text header with attribute value -->
        <h5 *ngIf="!!header"
            class="modal-title">{{ header }}</h5>
      </div>

      <div class="modal-body">
        <ng-content></ng-content>
      </div>


      <div class="modal-footer modal-dialog-ok"
           *ngSwitchCase="ModalDialogOption.OK">
        <bla-actionbutton [colorClass]="'primary'"
                          [iconClass]="'check'"
                          [margin]="'unset'"
                          (onClick)="closeDialog(ModalDialogResult.OK)">
          {{ 'NOTIFICATION.BUTTON.OK' | translate }}
        </bla-actionbutton>
      </div>

      <div class="modal-footer modal-dialog-ok-cancel"
           *ngSwitchCase="ModalDialogOption.OK_CANCEL">
        <bla-actionbutton [colorClass]="'secondary'"
                          [iconClass]="'undo'"
                          [margin]="'0 18% 0 0'"
                          (onClick)="closeDialog(ModalDialogResult.CANCEL)">
          {{ 'NOTIFICATION.BUTTON.CANCEL' | translate }}
        </bla-actionbutton>
        <bla-actionbutton [colorClass]="'primary'"
                          [iconClass]="'check'"
                          [margin]="'0 0 0 18%'"
                          (onClick)="closeDialog(ModalDialogResult.OK)">
          {{ 'NOTIFICATION.BUTTON.OK' | translate }}
        </bla-actionbutton>
      </div>
      <div class="modal-footer modal-dialog-yes-no"
           *ngSwitchCase="ModalDialogOption.YES_NO">

        <bla-actionbutton [colorClass]="'secondary'"
                    [iconClass]="'times'"
                    [margin]="'0 18% 0 0'"
                    (onClick)="closeDialog(ModalDialogResult.NO)">
          {{ 'NOTIFICATION.BUTTON.NO' | translate }}
        </bla-actionbutton>
        <bla-actionbutton [colorClass]="'primary'"
                    [iconClass]="'check'"
                    [margin]="'0 0 0 18%'"
                    (onClick)="closeDialog(ModalDialogResult.YES)">
          {{ 'NOTIFICATION.BUTTON.YES' | translate }}
        </bla-actionbutton>

      </div>


    </div>
  </div>
</div>

