<bla-common-dialog [config]="config"
                   [loading]="loading">

  <!-- VERANSTALTUNG -->
  <div class="row">
    <div class="col-sm-2">
      <input type="text"
             class="form-control"
             required
             id="veranstaltung_name"
             name="veranstaltung_name"
             #veranstaltung_name="ngModel"
             [disabled]=true
             [(ngModel)]="currentVeranstaltung.name"
             [class.is-invalid]="veranstaltung_name.invalid && ! veranstaltung_name.untouched"
             placeholder="{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.NAME.PLACEHOLDER' | translate }}">

      <div class="invalid-feedback">
        {{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.NAME.ERROR' | translate }}
      </div>
    </div>
    <div class="col-sm-2">
    </div>
  </div>

  <hr>

  <!-- AUSWAHLLISTE DER WETTKAMPFTAGE -->
  <bla-col-layout>
    <table style="width: 10%; margin-right: 5%">
      <bla-selectionlist
        (onSelect)="onSelect($event)"
        style="width: 80%"
        selectionListHeight="3em"
        [disabled]="wettkampftageForm.dirty"
        [items]="selectedDTOs"
        [selectedItemIds]="[currentWettkampftagArray[1].id]"
        [optionFieldSelector]="'wettkampfTag'">
      </bla-selectionlist>


      <!--   SMALL TEXT THAT REMINDS USER TO SAVE CHANGES, POPS UP WHEN BUTTON IS DISABLED   -->
      <p *ngIf="wettkampftageForm.dirty">
        {{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.REMINDSAVE' | translate }}
      </p>
    </table>

    <!-- EINGABEFELDER DES WETTKAMPFTAGS -->
    <form style="margin-right: 2%"
          id="wettkampftageForm"
          class="horizontal-form half-page"
          #wettkampftageForm="ngForm">

      <!-- DATUM -->
      <div class="form-group row">
        <label for="wettkampftageDatum"
               class="col-sm-3 col-form-label">
          <span>{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.DATUM.LABEL' | translate }}</span>
          <span> *</span>
        </label>

        <div class="col-sm-9">
          <input type="date"
                 class="form-control"
                 required
                 id="wettkampftageDatum"
                 name="wettkampftageDatum"
                 #wettkampftageDatum="ngModel"
                 [(ngModel)]="currentWettkampftagArray[selectedWettkampfTag].wettkampfDatum"
                 [class.is-invalid]="wettkampftageDatum.invalid && !wettkampftageDatum.untouched"
                 placeholder="{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.DATUM.LABEL' | translate }}"
                 data-cy="wettkampftage-datum">
          <div class="invalid-feedback">
            {{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.DATUM.ERROR' | translate }}
          </div>
        </div>
      </div>

      <!-- ADRESSE -->
      <div class="form-group row">
        <label for="wettkampftageStrasse"
               class="col-sm-3 col-form-label">
          <span>{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.ADRESSE.LABEL' | translate }}</span>
          <span>*</span>
        </label>

        <!-- STRASSE UND HAUSNUMMER -->
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 required
                 pattern="(?=.*[A-Za-z])(?=.*[0-9])[A-Za-z0-9\.\-\/\ ]{1,100}$"
                 id="wettkampftageStrasse"
                 name="wettkampftageStrasse"
                 #wettkampftageStrasse="ngModel"
                 [(ngModel)]="currentWettkampftagArray[selectedWettkampfTag].wettkampfStrasse"
                 [class.is-invalid]="wettkampftageStrasse.invalid && !wettkampftageStrasse.untouched"
                 placeholder="{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.STRASSE.PLACEHOLDER' | translate }}"
                 data-cy="wettkampftage-adresse">
          <div class="invalid-feedback">
            {{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.STRASSE.ERROR' | translate }}
          </div>
        </div>
      </div>

      <!-- POSTLEITZAHL -->
      <div class="form-group row">
        <label for="wettkampftagePLZ"
               class="col-sm-3 col-form-label">
        </label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 required
                 pattern="(?=.*[0-9])[0-9]{1,10}$"
                 id="wettkampftagePLZ"
                 name="wettkampftagePLZ"
                 #wettkampftagePLZ="ngModel"
                 [(ngModel)]="currentWettkampftagArray[selectedWettkampfTag].wettkampfPlz"
                 [class.is-invalid]="wettkampftagePLZ.invalid && !wettkampftagePLZ.untouched"
                 placeholder="{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.PLZ.PLACEHOLDER' | translate }}">
          <div class="invalid-feedback">
            {{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.PLZ.ERROR' | translate }}
          </div>
        </div>
      </div>

      <!-- ORT/STADT -->
      <div class="form-group row">
        <label for="wettkampftageOrt"
               class="col-sm-3 col-form-label">
        </label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 required
                 pattern="(?=.*[A-Za-z])[A-Za-z\-\ \(\)]{1,100}$"
                 id="wettkampftageOrt"
                 name="wettkampftageOrt"
                 #wettkampftageOrt="ngModel"
                 [(ngModel)]="currentWettkampftagArray[selectedWettkampfTag].wettkampfOrtsname"
                 [class.is-invalid]="wettkampftageOrt.invalid && !wettkampftageOrt.untouched"
                 placeholder="{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.ORTSNAME.PLACEHOLDER' | translate }}">
          <div class="invalid-feedback">
            {{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.ORTSNAME.ERROR' | translate }}
          </div>
        </div>
      </div>

      <!-- ZUSATZINFORMATIONEN -->
      <div class="form-group row">
        <label for="wettkampftageOrtsinfo"
               class="col-sm-3 col-form-label">
        </label>
        <div class="col-sm-9">
        <textarea type="text"
                  class="form-control"
                  id="wettkampftageOrtsinfo"
                  name="wettkampftageOrtsinfo"
                  #wettkampftageOrtsinfo="ngModel"
                  [(ngModel)]="currentWettkampftagArray[selectedWettkampfTag].wettkampfOrtsinfo"
                  [class.is-invalid]="wettkampftageOrtsinfo.invalid"
                  placeholder="{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.ORTSINFO.PLACEHOLDER' | translate }}"
                  rows="3">
        </textarea>
        </div>
      </div>

      <!-- BEGINN -->
      <div class="form-group row">
        <label for="wettkampftageBeginn"
               class="col-sm-3 col-form-label">
          <span>{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.BEGINN.LABEL' | translate }}</span>
          <span> *</span>
        </label>
        <div class="col-sm-9">
          <input type="time"
                 class="form-control"
                 required
                 id="wettkampftageBeginn"
                 name="wettkampftageBeginn"
                 #wettkampftageBeginn="ngModel"
                 [(ngModel)]="currentWettkampftagArray[selectedWettkampfTag].wettkampfBeginn"
                 [class.is-invalid]="wettkampftageBeginn.invalid && !wettkampftageBeginn.untouched"
                 placeholder="{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.BEGINN.PLACEHOLDER' | translate }}">
          <div class="invalid-feedback">
            {{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.BEGINN.ERROR' | translate }}
          </div>
        </div>
      </div>

      <!-- AUSRICHTER -->
      <div class="form-group row">
        <label for="wettkampftageAusrichter"
               class="col-sm-3 col-form-label">
          <span>{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.AUSRICHTER' | translate }}</span>
          <span> *</span>
        </label>
        <div class="col-sm-9">
          <select class="form-control"
                  required
                  id="wettkampftageAusrichter"
                  name="wettkampftageAusrichter"
                  #wettkampftageAusrichter="ngModel"
                  [(ngModel)]="currentAusrichter[this.selectedWettkampfTag]">
            <option [ngValue]="ausrichter"
                    *ngFor="let ausrichter of allUsers"> {{ausrichter.email}}</option>
            placeholder="{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.AUSRICHTER' | translate }}">
          </select>
        </div>
      </div>

      <!--KAMPFRICHTER-->
      <!--KAMPFRICHTER-->
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" >
          <span>{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.KAMPFRICHTERLISTE.LABEL' | translate }}</span>
          <span> </span>
        </label>
        <!-- Double SelectionList für Kampfrichter-->
        <div class="col-sm-9">
          <div class="form-group row">
            <bla-double-selectionlist [(leftItems)]="notSelectedKampfrichter[selectedWettkampfTag]"
                                      [(rightItems)]="selectedKampfrichter[selectedWettkampfTag]"
                                      [fieldSelector]="'vorNachName'"
                                      [idLeftList]="'left'"
                                      [idRightList]="'right'"
                                      style="height: 12em; width: 36em;  margin-left: 1em">
            </bla-double-selectionlist>
          </div>
        </div>
      </div>


      <!-- BUTTONS: LÖSCHEN|SPEICHERN|NEU|KOPIEREN|ZURÜCK -->
      <div class="form-group row">
        <div class="col-sm-12"></div>

        <!--LÖSCHEN -->
        <bla-button *ngIf="entityExists()"
                    [buttonType]="ButtonType.DANGER"
                    [loading]="deleteLoading"
                    (onClick)="onDelete(selectedWettkampfTag, $event)">
          {{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.NOTIFICATION.DELETE.TITLE' | translate }}
        </bla-button>

        <!-- NEU: WETTKAMPFTAG HINZUFÜGEN -->
        <bla-button *ngIf="entityExists()"
                    [buttonType]="ButtonType.SUCCESS"
                    [disabled]="wettkampftageForm.dirty"
                    [loading]="saveLoading"
                    (onClick)="onAddWettkampfTag($event)">
          <fa-icon icon="plus"></fa-icon>
          {{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.NOTIFICATION.ADD.TITLE' | translate }}
        </bla-button>

          <!-- WETTKAMPFTAG KOPIEREN -->
          <bla-button *ngIf="entityExists()"
                      [disabled]="wettkampftageForm.dirty"
                      [loading]="saveLoading"
                      (onClick)="onCopyWettkampfTag($event)">
            {{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.NOTIFICATION.COPY.TITLE' | translate }}
          </bla-button>

        <!-- SPEICHERN -->
        <bla-button [id]="'wettkampftagSaveButton'"
                    [disabled]="(wettkampftageStrasse.invalid || wettkampftagePLZ.invalid || wettkampftageOrt.invalid  || wettkampftageBeginn.invalid || wettkampftageDatum.invalid)"
                    [loading]="saveLoading"
                    (onClick)="onSaveWettkampfTag(selectedWettkampfTag, $event); wettkampftageForm.form.markAsPristine();"
                    data-cy="wettkampftage-update-button">
          {{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.SAVE' | translate }}
        </bla-button>


      </div>



      <div class="form-group row">
        <div class="col-sm-11"></div>
        <div class="col-sm-1 button-box">

          <!-- ZURÜCK -->
          <bla-button *ngIf="entityExists()"
                      [id]="'wettkampfSaveButton'"
                      [disabled]="false"
                      [loading]="saveLoading"
                      (onClick)="onVeranstaltungDetail($event)"
                      data-cy="wettkampftage-zurueck">
            {{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.BACK' | translate }}
          </bla-button>
        </div>
      </div>
    </form>
  </bla-col-layout>
</bla-common-dialog>
