<bla-common-dialog [config]="config"
                   [loading]="loading">

  <table style="width: 10%; margin-bottom: 3%; float:left">
    <bla-selectionlist
      style="width: 10%; flex-grow: 0; height: 20px"
      selectionListHeight="3em"
      [items]="selectedDTOs"
      [optionFieldSelector]="'wettkampfTag'">

    </bla-selectionlist>
  </table>
<!-- VERANSTALTUNG -->
  <div class="row">
    <div class="col-sm-2">
      <input type="text"
             class="form-control"
             required
             id="veranstaltung_name"
             name="veranstaltung_name"
             #veranstaltung_name="ngModel"
             [disabled]=true
             [(ngModel)]="currentVeranstaltung.name"
             [class.is-invalid]="veranstaltung_name.invalid && ! veranstaltung_name.untouched"
             placeholder="{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.NAME.PLACEHOLDER' | translate }}">

      <div class="invalid-feedback">
        {{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.NAME.ERROR' | translate }}
      </div>

    </div>
    <div class="col-sm-2">
    </div>
<hr>

  <form style="float:left;"
        id="wettkampftageForm"
        class="horizontal-form half-page"
        #wettkampftageForm="ngForm">

    <!-- DATUM -->
    <div class="form-group row">
      <label for="wettkampftageDatum"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.DATUM.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="date"
               class="form-control"
               required
               id="wettkampftageDatum"
               name="wettkampftageDatum"
               #wettkampftageDatum="ngModel"
               [(ngModel)]="currentWettkampftag.wettkampfDatum"
               [class.is-invalid]="wettkampftageDatum.invalid && !wettkampftageDatum.untouched"
               placeholder="{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.DATUM.LABEL' | translate }}">

        <div class="invalid-feedback">
          {{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.DATUM.ERROR' | translate }}
        </div>
      </div>
    </div>

    <!-- ADRESSE -->
    <div class="form-group row">
      <label for="wettkampftageStrasse"
        class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.ADRESSE.LABEL' | translate }}</span>
        <span> *</span>
      </label>

    <!-- STRASSE -->
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               required
               id="wettkampftageStrasse"
               name="wettkampftageStrasse"
               #wettkampftageStrasse="ngModel"
               [(ngModel)]="currentWettkampftag.wettkampfStrasse"
               [class.is-invalid]="wettkampftageStrasse.invalid && !wettkampftageStrasse.untouched"
               placeholder="{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.STRASSE.PLACEHOLDER' | translate }}">

        <div class="invalid-feedback">
          {{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.STRASSE.ERROR' | translate }}
        </div>
      </div>
    </div>

    <!-- Postleitzahl -->
    <div class="form-group row">
      <label for="wettkampftagePLZ"
             class="col-sm-3 col-form-label">
      </label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               required
               id="wettkampftagePLZ"
               name="wettkampftagePLZ"
               #wettkampftagePLZ="ngModel"
               [(ngModel)]="currentWettkampftag.wettkampfPlz"
               [class.is-invalid]="wettkampftagePLZ.invalid && !wettkampftagePLZ.untouched"
               placeholder="{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.PLZ.PLACEHOLDER' | translate }}">

        <div class="invalid-feedback">
          {{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.PLZ.ERROR' | translate }}
        </div>
      </div>
    </div>

    <!-- Ort/Stadt -->
    <div class="form-group row">
      <label for="wettkampftageOrt"
             class="col-sm-3 col-form-label">
      </label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               required
               id="wettkampftageOrt"
               name="wettkampftageOrt"
               #wettkampftageOrt="ngModel"
               [(ngModel)]="currentWettkampftag.wettkampfOrtsname"
               [class.is-invalid]="wettkampftageOrt.invalid && !wettkampftageOrt.untouched"
               placeholder="{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.ORTSNAME.PLACEHOLDER' | translate }}">

        <div class="invalid-feedback">
          {{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.ORTSNAME.ERROR' | translate }}
        </div>
      </div>
    </div>

    <!-- Zusatzinformationen -->
    <div class="form-group row">
      <label for="wettkampftageOrtsinfo"
             class="col-sm-3 col-form-label">
      </label>
      <div class="col-sm-9">
        <textarea type="text"
               class="form-control"
               id="wettkampftageOrtsinfo"
               name="wettkampftageOrtsinfo"
               #wettkampftageOrtsinfo="ngModel"
               [(ngModel)]="currentWettkampftag.wettkampfOrtsinfo"
               [class.is-invalid]="wettkampftageOrtsinfo.invalid"
               placeholder="{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.ORTSINFO.PLACEHOLDER' | translate }}"
               rows="3">
        </textarea>
      </div>
    </div>

      <!-- BEGINN -->
      <div class="form-group row">
        <label for="wettkampftageBeginn"
               class="col-sm-3 col-form-label">
          <span>{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.BEGINN.LABEL' | translate }}</span>
          <span> *</span>
        </label>
        <div class="col-sm-9">
          <input type="time"
                 class="form-control"
                 required
                 id="wettkampftageBeginn"
                 name="wettkampftageBeginn"
                 #wettkampftageBeginn="ngModel"
                 [(ngModel)]="currentWettkampftag.wettkampfBeginn"
                 [class.is-invalid]="wettkampftageBeginn.invalid && !wettkampftageBeginn.untouched"
                 placeholder="{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.BEGINN.PLACEHOLDER' | translate }}">

          <div class="invalid-feedback">
            {{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.FORM.BEGINN.ERROR' | translate }}
          </div>
        </div>
      </div>

    <!-- AUSRICHTER -->
    <div class="form-group row">
      <label for="wettkampftageAusrichter"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.AUSRICHTER' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <select class="form-control"
               required
               id="wettkampftageAusrichter"
               name="wettkampftageAusrichter"
               #wettkampftageAusrichter="ngModel"
               [(ngModel)]="currentWettkampftag.wettkampfAusrichter">
        <option [ngValue]="ausrichter"
                *ngFor="let ausrichter of allUsers"> {{ausrichter.email}}</option>
               placeholder="{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.AUSRICHTER' | translate }}">
        </select>
      </div>
    </div>

    <!--Kampfrichter-->
    <div class="col-sm-7">
      <div class="form-group row">
        <label>
          <span>{{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.KAMPFRICHTERLISTE.LABEL' | translate }}</span>
          <span> *</span>
        </label>
        <bla-double-selectionlist [leftItems]="selectedKampfrichterTag1"
                                  [(rightItems)]="notSelectedKampfrichterWettkampftag1"
                                  [fieldSelector]="'email'"
                                  [idLeftList]="'left'"
                                  [idRightList]="'right'"

                                  style="height: 12em; width: 36em">

        </bla-double-selectionlist>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9 button-box">

        <bla-button *ngIf="entityExists()"
                    [buttonType]="ButtonType.SUCCESS"
                    [disabled]="!savedByUser || !wettkampftageForm.valid"
                    [loading]="saveLoading"
                    (onClick)="onAddWettkampfTag($event)">
          <fa-icon icon="plus"></fa-icon>
          {{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.NOTIFICATION.ADD.TITLE' | translate }}
        </bla-button>

        <bla-button *ngIf="entityExists()"
                    [buttonType]="ButtonType.DANGER"
                    [loading]="deleteLoading"
                    (onClick)="onDelete($event)">
          {{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.WETTKAMPFTAG.NOTIFICATION.DELETE.TITLE' | translate }}
        </bla-button>

        <bla-button *ngIf="entityExists()"
                    [id]="'dsbMitgliedSaveButton'"
                    [disabled]="!wettkampftageForm.valid"
                    [loading]="saveLoading"
                    (onClick)="onSaveWettkampfTag($event)">
          {{ 'MANAGEMENT.DSBMITGLIEDER_DETAIL.FORM.SAVE' | translate }}
        </bla-button>

        <bla-button *ngIf="entityExists()"
                    [id]="'dsbMitgliedUpdateButton'"
                    [disabled]="!wettkampftageForm.valid"
                    [loading]="saveLoading"
                    (onClick)="onUpdate($event)">
          {{ 'MANAGEMENT.DSBMITGLIEDER_DETAIL.FORM.UPDATE' | translate }}
        </bla-button>

      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-5"></div>
      <div class="col-sm-12 button-box">
        <bla-button *ngIf="entityExists()"
                    [id]="'wettkampfSaveButton'"
                    [disabled]="false"
                    [loading]="saveLoading"
                    (onClick)="onVeranstaltungDetail($event)">
          {{ 'MANAGEMENT.VERANSTALTUNG_DETAIL.FORM.BACK' | translate }}
        </bla-button>
      </div>
    </div>
  </form>
  </div>
</bla-common-dialog>
