<!-- Container -->
<div>
  <!-- Match 1 -->
  <div class="match-section">
    <!-- Header Row -->
    <div class="row">
      <div class="col-6">
        <h2>{{ match1.mannschaftName }}</h2>
        <p class="">{{ match1.matchNr }}. {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.MATCH' | translate }}</p>
        <p class="versus-info">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.GEGEN' | translate }} {{ match2.mannschaftName }}</p>
        <!-- <p *ngIf="embeddedMode">Tablet-Modus</p> -->
      </div>

      <div class="col-6">
        <table class="table score-table">
          <thead>
          <tr>
            <th *ngFor="let sum of match1singlesatzpoints; let i = index">
              {{ i + 1 }}. {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ' | translate }}
            </th>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SUMME' | translate }}</th>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.MATCH' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td *ngFor="let sum of match1singlesatzpoints">{{ sum }}</td>
            <td>{{ match1.satzpunkte }}</td>
            <td>{{ match1.matchpunkte }}</td>
          </tr>
          <tr>
            <td *ngFor="let sum of match2singlesatzpoints">{{ sum }}</td>
            <td>{{ match2.satzpunkte }}</td>
            <td>{{ match2.matchpunkte }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-12 row-header">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.FEHLERPUNKTE' | translate }}</div>
    </div>

    <!-- Main Content Row -->
    <div class="row">
      <div class="col-10">
        <table class="table arrow-table">
          <thead>
          <tr>
            <th rowspan="2">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SCHUETZE' | translate }}</th>
            <th colspan="2" *ngFor="let s of [1,2,3,4,5]">
              {{ s }}. {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ_PRO_PFEIL' | translate }}
            </th>
          </tr>
          <tr>
            <ng-container *ngFor="let s of [1,2,3,4,5]">
              <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 1</th>
              <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 2</th>
            </ng-container>
          </tr>
          </thead>
          <tbody>
          <ng-template ngFor let-i="index" let-schuetze [ngForOf]="match1.schuetzen">
            <tr>
              <ng-template ngFor let-j="index" let-passe [ngForOf]="schuetze">
                <td *ngIf="j === 0">{{ passe.rueckennummer }}</td>
                <td>{{ passe.ringzahlPfeil1 }}</td>
                <td>{{ passe.ringzahlPfeil2 }}</td>
              </ng-template>
              <td>{{ getSummeSchuetze(i, 1) }}</td>
            </tr>

            <tr *ngIf="i === match1.schuetzen.length - 1" class="total-row">
              <td></td>
              <ng-template ngFor let-sum [ngForOf]="match1.sumSatz">
                <td colspan="2">
                  {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SUMME' | translate }}
                  <span>{{ sum }}</span>
                </td>
              </ng-template>
            </tr>
          </ng-template>
          </tbody>
        </table>
      </div>

      <div class="col-2">
        <table class="table score-table">
          <tbody>
          <tr *ngFor="let val of match1.fehlerpunkte; let i = index">
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ' | translate }} {{ i + 1 }}</th>
            <td>{{ val }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Print -->
  <div class="print signature s1" *ngIf="!embeddedMode">
    <div class="m1">
      <h1>{{ match2.mannschaftName }}</h1>
      <p>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.UNTERSCHRIFT' | translate }}</p>
    </div>
    <div class="m2">
      <h1>{{ match1.mannschaftName }}</h1>
      <p>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.UNTERSCHRIFT' | translate }}</p>
    </div>
  </div>
  <!-- Print Trennlinie -->
  <hr class="hr-divider">

  <!-- match2 - Now shown in embedded mode too -->
  <!-- Match 2 -->
  <div class="match-section">
    <!-- Header Row -->
    <div class="row">
      <div class="col-6">
        <h2>{{ match2.mannschaftName }}</h2>
        <p class="">{{ match2.matchNr }}. {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.MATCH' | translate }}</p>
        <p class="versus-info">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.GEGEN' | translate }} {{ match1.mannschaftName }}</p>
        <!-- <p *ngIf="embeddedMode">Tablet-Modus</p> -->
      </div>

      <div class="col-6">
        <table class="table score-table">
          <thead>
          <tr>
            <th *ngFor="let sum of match2singlesatzpoints; let i = index">
              {{ i + 1 }}. {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ' | translate }}
            </th>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SUMME' | translate }}</th>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.MATCH' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td *ngFor="let sum of match2singlesatzpoints">{{ sum }}</td>
            <td>{{ match2.satzpunkte }}</td>
            <td>{{ match2.matchpunkte }}</td>
          </tr>
          <tr>
            <td *ngFor="let sum of match1singlesatzpoints">{{ sum }}</td>
            <td>{{ match1.satzpunkte }}</td>
            <td>{{ match1.matchpunkte }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-12 row-header">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.FEHLERPUNKTE' | translate }}</div>
    </div>

    <!-- Main Content Row -->
    <div class="row">
      <div class="col-10">
        <table class="table arrow-table">
          <thead>
          <tr>
            <th rowspan="2">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SCHUETZE' | translate }}</th>
            <th colspan="2" *ngFor="let s of [1,2,3,4,5]">
              {{ s }}. {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ_PRO_PFEIL' | translate }}
            </th>
          </tr>
          <tr>
            <ng-container *ngFor="let s of [1,2,3,4,5]">
              <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 1</th>
              <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 2</th>
            </ng-container>
          </tr>
          </thead>
          <tbody>
          <ng-template ngFor let-i="index" let-schuetze [ngForOf]="match2.schuetzen">
            <tr>
              <ng-template ngFor let-j="index" let-passe [ngForOf]="schuetze">
                <td *ngIf="j === 0">{{ passe.rueckennummer }}</td>
                <td>{{ passe.ringzahlPfeil1 }}</td>
                <td>{{ passe.ringzahlPfeil2 }}</td>
              </ng-template>
              <td>{{ getSummeSchuetze(i, 2) }}</td>
            </tr>

            <tr *ngIf="i === match2.schuetzen.length - 1" class="total-row">
              <td></td>
              <ng-template ngFor let-sum [ngForOf]="match2.sumSatz">
                <td colspan="2">
                  {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SUMME' | translate }}
                  <span>{{ sum }}</span>
                </td>
              </ng-template>
            </tr>
          </ng-template>
          </tbody>
        </table>
      </div>

      <div class="col-2">
        <table class="table score-table">
          <tbody>
          <tr *ngFor="let val of match2.fehlerpunkte; let i = index">
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ' | translate }} {{ i + 1 }}</th>
            <td>{{ val }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <!-- Navigation buttons only shown in standalone mode -->
  <div *ngIf="!embeddedMode">

    <div id="buttonContainer"> <!-- Spalte mit Buttons zum speichern/drucken links -->

      <bla-actionbutton
        (onClick)="previous()"
        [iconClass]="'long-arrow-alt-left'"

      >{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.VORHERIGES_MATCH' | translate }}
      </bla-actionbutton>

      <bla-actionbutton
        (onClick)="back()"
        [iconClass]="'arrow-alt-circle-left'"
      >{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.ZURUECK' | translate }}
      </bla-actionbutton>

      <bla-actionbutton
        (onClick)="save()"
        [iconClass]="'save'"
      >{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SPEICHERN' | translate }}
      </bla-actionbutton>


      <bla-download-actionbutton
        [iconClass]="'file-download'"
        [id]="'downloadMatchSchusszettel'"
        [downloadUrl]="onButtonDownload('pdf/schusszettel_matches')"
        [fileName]="'match_schusszettel.pdf'"
        [disabled]="!isSaved">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.DRUCKEN' | translate }}
      </bla-download-actionbutton>

      <bla-actionbutton
        (onClick)="next()"
        [iconClass]="'long-arrow-alt-right'"
      >{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.NAECHSTES_MATCH' | translate }}
      </bla-actionbutton>

      <!--        style="width: 100px; height: 40px; margin-left: 20px; margin-top: 3px" --->

    </div>
  </div>


  <div class="schuetze-popup" *ngIf="popupSelberTag">
    <div class="popup">
      <h2>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PRUEF_D_SCHUETZEN' | translate }}</h2>
      <br>
      <a class="close" (click)="popupSelberTag =false">&times;</a>
      <a>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SCHUETZE' | translate }} {{ passeSelberTag }} {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SELBER_TAG_PRUEFUNG1' | translate }} {{ selberTagVeranstaltung }} {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SELBER_TAG_PRUEFUNG2' | translate }}</a>
      <br>
      <br>
      <button type="submit" (click)="popupSelberTag=false" class="btn btn-primary">OK</button>

    </div>

  </div>

  <div class="schuetze-popup" *ngIf="popupAndererTag">
    <div class="popup">
      <h2>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PRUEF_D_SCHUETZEN' | translate }}</h2>
      <br>
      <a class="close" (click)="popupAndererTag =false">&times;</a>
      <a>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SCHUETZE' | translate }} {{ passeAndererTag }} {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.ANDERER_TAG_PRUEFUNG1' | translate }} {{ andererTagAnzahl }} {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.ANDERER_TAG_PRUEFUNG2' | translate }} {{ andererTagVeranstaltung.name }} {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.ANDERER_TAG_PRUEFUNG3' | translate }}</a>
      <br>
      <br>
      <button type="submit" (click)="popupAndererTag=false" class="btn btn-primary">OK</button>

    </div>

  </div>

  <div class="print signature" *ngIf="!embeddedMode">
    <div class="m1">
      <h1>{{ match2.mannschaftName }}</h1>
      <p>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.UNTERSCHRIFT' | translate }}</p>
    </div>
    <div class="m2">
      <h1>{{ match1.mannschaftName }}</h1>
      <p>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.UNTERSCHRIFT' | translate }}</p>
    </div>
  </div>
</div>

