/* Farbkonzept Website */
$primary: #02bdd5; // Links, Navbar
$primary-light: #b4ffff; // Sidebar-Background
$primary-dark: #007c91; // Sidebar-Font
$secondary: #ffc107; // hover Tables
$secondary-light: #fff350;
$secondary-dark: #ff833a; // hover Links, Logo

/* Schusszettel-Übersicht & Tabellen - Start */
.schusszettel-container {
  min-width: 1000px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 35px;
}

.schusszettel-container-note {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 35px;
}

.readonly-mode input {
  pointer-events: none;
}

.fehlerpunkte-wrapper {
  display: flex;
}

.table td input {
  margin: 0 auto; /* Input selbst zentrieren */
}

.match-section h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.match-section p {
  margin-bottom: 10px;
}

.match-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.row {
  margin-bottom: 10px;
}

.row-header {
  text-align: right;
}

.table {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.table th,
.table td {
  border: 1px solid #e5e7eb;
  padding: 5px;
  vertical-align: middle;
  font-size: 12px;
}

.table td.split {
  border-left-width: 3px;
  border-left-color: #4a4a4a;
  border-left-style: solid;
}

.table td {
  height: 50px;
  width: 50px;
  font-size: 25px !important;
}

.table thead th {
  background: #f8f9fb;
  font-weight: 600;
}

.total-row {
  background: #f8f9fb;
}

.total-row td {
  font-size: 18px !important;
}

.score-table span,
.arrow-table span {
  font-weight: 500;
}

.hr-divider {
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 40px;
  margin-bottom: 60px;
  width: 100%;
}

.hr-divider-2 {
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
}

/* Schusszettel-Übersicht & Tabellen - Ende */

input, label {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input {
  height: 52px;
  width: 52px;
  -moz-appearance: textfield;
  font-size: 30px;
  text-align: center;

  &:focus {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(5, 122, 255, 1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(5, 122, 255, 1);
    box-shadow: 0px 0px 8px 0px rgba(5, 122, 255, 1);
  }
}

.btn {
  margin: 10px 0px 0px 20px;
}

/* Pop-up Hintergrund unscharf */
.schuetze-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity;
  visibility: visible;
  opacity: 1;
}

/* Pop-up Fenster Design */
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
}

/*  Überschrift im Popup Fenster*/
.popup h2 {
  margin-top: 0;
  color: #333;
}

/* Schließen (X) */
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: $primary;
  cursor: pointer;
}

/* Container Buttons */
#buttonContainer {
  display: flex;
  justify-content: space-between;
}
