
<div class="wettkaempfe container">


  <!-- match1 -->
  <div class="match1 print">

    <div class="row">
      <div class="match_col-3">
        <h2>{{match1.mannschaftName}}</h2>
        <h2>{{match1.nr}}. {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.MATCH' | translate }}</h2>
      </div>
      <div class="mannschaften_col-3">
        <h2>{{match1.mannschaftName}}</h2>
        <h2>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.GEGEN' | translate }}</h2>
        <h2>{{match2.mannschaftName}}</h2>
      </div>
      <div class="small_Table col-6">
        <table class="table table-responsive thead-light table-striped"
               id="punktetabelle"
               style="max-width:100%">
          <tr>
            <td *ngFor="let sum of match1singlesatzpoints; let i = index">
              <label>{{i + 1}}. {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ' | translate }}</label>
              <input [value]="sum"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <label>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SUMME' | translate }}</label>
              <input [value]="match1.satzpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <label>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.MATCH' | translate }}</label>
              <input [value]="match1.matchpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
          </tr>
          <tr>
            <td *ngFor="let sum of match2singlesatzpoints">
              <input [value]="sum"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <input [value]="match2.satzpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <input [value]="match2.matchpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-4 offset-9">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.FEHLERPUNKTE' | translate }}</div>
    </div>
    <div class="row">
      <div class="bigTable col-9">
        <table class="table table-hover table-responsive thead-light table-striped"
               id="schusstabelle"
               style="width:100%">
          <thead>
          <tr>
            <th rowspan="2">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SCHUETZE' | translate }}</th>
            <th colspan="2">1. {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ_PRO_PFEIL' | translate }}</th>
            <th colspan="2">2. {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ_PRO_PFEIL' | translate }}</th>
            <th colspan="2">3. {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ_PRO_PFEIL' | translate }}</th>
            <th colspan="2">4. {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ_PRO_PFEIL' | translate }}</th>
            <th colspan="2">5. {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ_PRO_PFEIL' | translate }}</th>
          </tr>
          <tr>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 1</th>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 2</th>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 1</th>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 2</th>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 1</th>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 2</th>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 1</th>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 2</th>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 1</th>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 2</th>
          </tr>
          </thead>
          <ng-template [ngForOf]="match1.schuetzen"
                       let-i="index"
                       let-schuetze
                       ngFor>
            <tr>
              <ng-template [ngForOf]="schuetze"
                           let-j="index"
                           let-passe
                           ngFor>
                <td *ngIf="j == 0">
                  <input [(ngModel)]="passe.rueckennummer"
                         (ngModelChange)="onSchuetzeChange($event, 1, i)"
                         blaSchuetzeNumberOnly
                         blaSchuetzenTabIndexDirective
                         type="number">
                </td>
                <td class="split">
                  <input (ngModelChange)="onChange($event, 1, i, j, 1)"
                         [ngModel]="passe.ringzahlPfeil1"
                         blaPfeilNumberOnly
                         blaRingzahlTabIndexDirective
                         type="text">
                </td>
                <td>
                  <input (ngModelChange)="onChange($event, 1, i, j, 2)"
                         [ngModel]="passe.ringzahlPfeil2"
                         blaPfeilNumberOnly
                         blaRingzahlTabIndexDirective
                         type="text">
                </td>
              </ng-template>
              <td class="schuetzensumme">
                {{getSummeSchuetze(i, 1)}}
              </td>
            </tr>
            <tr *ngIf="i >= match1.schuetzen.length - 1">
              <td></td>
              <ng-template [ngForOf]="match1.sumSatz"
                           let-j="index"
                           let-sum
                           ngFor>
                <td>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SUMME' | translate }}</td>
                <td>
                  <input [value]="sum"
                         readonly
                         tabindex="-1"
                         type="number">
                </td>
              </ng-template>

            </tr>
          </ng-template>
        </table>
      </div>
      <!-- Fehlerpunkte Mannschaft1 -->
      <div class="col-2">
        <div class="row"
             style="margin-bottom:10px">
          <label class="col-4">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ' | translate }} 1</label>
          <div class="col-4">
            <input (ngModelChange)="onFehlerpunkteChange($event, 1, 0)"
                   [(ngModel)]="match1.fehlerpunkte[0]"
                   class="fehlerfeld"
                   blaFehlerNumberOnly>
          </div>
        </div>
        <div class="row"
             style="margin-bottom:10px">
          <label class="col-4">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ' | translate }} 2</label>
          <div class="col-4">
            <input (ngModelChange)="onFehlerpunkteChange($event, 1, 1)"
                   [(ngModel)]="match1.fehlerpunkte[1]"
                   class="fehlerfeld"
                   blaFehlerNumberOnly>
          </div>
        </div>
        <div class="row"
             style="margin-bottom:10px">
          <label class="col-4">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ' | translate }} 3</label>
          <div class="col-4">
            <input (ngModelChange)="onFehlerpunkteChange($event, 1, 2)"
                   [(ngModel)]="match1.fehlerpunkte[2]"
                   class="fehlerfeld"
                   blaFehlerNumberOnly>
          </div>
        </div>
        <div class="row"
             style="margin-bottom:10px">
          <label class="col-4">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ' | translate }} 4</label>
          <div class="col-4">
            <input (ngModelChange)="onFehlerpunkteChange($event, 1, 3)"
                   [(ngModel)]="match1.fehlerpunkte[3]"
                   class="fehlerfeld"
                   blaFehlerNumberOnly>
          </div>
        </div>
        <div class="row"
             style="margin-bottom:10px">
          <label class="col-4">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ' | translate }} 5</label>
          <div class="col-4">
            <input (ngModelChange)="onFehlerpunkteChange($event, 1, 4)"
                   [(ngModel)]="match1.fehlerpunkte[4]"
                   class="fehlerfeld"
                   blaFehlerNumberOnly>
          </div>
        </div>
      </div>
    </div>


  </div> <!-- ende match1 -->

  <div class="print signature s1">
    <div class="m1">
      <h1>{{match2.mannschaftName}}</h1>
      <p>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.UNTERSCHRIFT' | translate }}</p>
    </div>
    <div class="m2">
      <h1>{{match1.mannschaftName}}</h1>
      <p>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.UNTERSCHRIFT' | translate }}</p>
    </div>
  </div>
  <!-- Print Trennlinie -->
  <hr class="print">

  <!-- match2 -->
  <div class="match2 print">
    <div class="row">
      <div id="henlo" class="match_col-3">
        <h2>{{match2.mannschaftName}}</h2>
        <h2>{{match2.nr}}. {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.MATCH' | translate }}</h2>
      </div>
      <div class="mannschaften_col-3">
        <h2>{{match1.mannschaftName}}</h2>
        <h2>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.GEGEN' | translate }}</h2>
        <h2>{{match2.mannschaftName}}</h2>
      </div>
      <div class="small_Table col-6">
        <table class="table table-responsive thead-light table-striped"
               style="width:100%">
          <tr>
            <td *ngFor="let sum of match1singlesatzpoints; let i = index">
              <label>{{i + 1}}. {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ' | translate }}</label>
              <input [value]="sum"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <label>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SUMME' | translate }}</label>
              <input [value]="match1.satzpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <label>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.MATCH' | translate }}</label>
              <input [value]="match1.matchpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
          </tr>
          <tr>
            <td *ngFor="let sum of match2singlesatzpoints">
              <input [value]="sum"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <input [value]="match2.satzpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <input [value]="match2.matchpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-4 offset-9">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.FEHLERPUNKTE' | translate }}</div>
    </div>
    <div class="row">
      <div class="bigTable col-9">
        <table
          class="table table-hover table-responsive thead-light table-striped"
          style="width:100%">
          <thead>
          <tr>
            <th rowspan="2">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SCHUETZE' | translate }}</th>
            <th colspan="2">1. {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ_PRO_PFEIL' | translate }}</th>
            <th colspan="2">2. {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ_PRO_PFEIL' | translate }}</th>
            <th colspan="2">3. {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ_PRO_PFEIL' | translate }}</th>
            <th colspan="2">4. {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ_PRO_PFEIL' | translate }}</th>
            <th colspan="2">5. {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ_PRO_PFEIL' | translate }}</th>
          </tr>
          <tr>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 1</th>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 2</th>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 1</th>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 2</th>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 1</th>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 2</th>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 1</th>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 2</th>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 1</th>
            <th>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PFEIL' | translate }} 2</th>
          </tr>
          </thead>
          <ng-template [ngForOf]="match2.schuetzen"
                       let-i="index"
                       let-schuetze
                       ngFor>
            <tr>
              <ng-template [ngForOf]="schuetze"
                           let-j="index"
                           let-passe
                           ngFor>
                <td *ngIf="j == 0">
                  <input [(ngModel)]="passe.rueckennummer"
                         (ngModelChange)="onSchuetzeChange($event, 1, i)"
                         blaSchuetzeNumberOnly
                         blaSchuetzenTabIndexDirective
                         type="number">
                </td>
                <td class="split">
                  <input (ngModelChange)="onChange($event, 2, i, j, 1)"
                         [ngModel]="passe.ringzahlPfeil1"
                         blaPfeilNumberOnly
                         blaRingzahlTabIndexDirective
                         type="text">
                </td>
                <td>
                  <input (ngModelChange)="onChange($event, 2, i, j, 2)"
                         [ngModel]="passe.ringzahlPfeil2"
                         blaPfeilNumberOnly
                         blaRingzahlTabIndexDirective
                         type="text">
                </td>
              </ng-template>
              <td class="schuetzensumme">
                {{getSummeSchuetze(i, 2)}}
              </td>
            </tr>
            <tr *ngIf="i >= match2.schuetzen.length - 1">
              <td></td>
              <ng-template [ngForOf]="match2.sumSatz"
                           let-j="index"
                           let-sum
                           ngFor>
                <td>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SUMME' | translate }}</td>
                <td>
                  <input [value]="sum"
                         readonly
                         tabindex="-1"
                         type="number">
                </td>
              </ng-template>
            </tr>
          </ng-template>
        </table>
      </div>
      <!-- Fehlerpunkte Mannschaft2 -->
      <div class="col-2">
        <div class="row"
             style="margin-bottom:10px">
          <label class="col-4">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ' | translate }} 1</label>
          <div class="col-4">
            <input (ngModelChange)="onFehlerpunkteChange($event, 2, 0)"
                   [(ngModel)]="match2.fehlerpunkte[0]"
                   class="fehlerfeld"
                   blaFehlerNumberOnly>
          </div>
        </div>
        <div class="row"
             style="margin-bottom:10px">
          <label class="col-4">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ' | translate }} 2</label>
          <div class="col-4">
            <input (ngModelChange)="onFehlerpunkteChange($event, 2, 1)"
                   [(ngModel)]="match2.fehlerpunkte[1]"
                   class="fehlerfeld"
                   blaFehlerNumberOnly>
          </div>
        </div>
        <div class="row"
             style="margin-bottom:10px">
          <label class="col-4">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ' | translate }} 3</label>
          <div class="col-4">
            <input (ngModelChange)="onFehlerpunkteChange($event, 2, 2)"
                   [(ngModel)]="match2.fehlerpunkte[2]"
                   class="fehlerfeld"
                   blaFehlerNumberOnly>
          </div>
        </div>
        <div class="row"
             style="margin-bottom:10px">
          <label class="col-4">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ' | translate }} 4</label>
          <div class="col-4">
            <input (ngModelChange)="onFehlerpunkteChange($event, 2, 3)"
                   [(ngModel)]="match2.fehlerpunkte[3]"
                   class="fehlerfeld"
                   blaFehlerNumberOnly>
          </div>
        </div>
        <div class="row"
             style="margin-bottom:10px">
          <label class="col-4">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SATZ' | translate }} 5</label>
          <div class="col-4">
            <input (ngModelChange)="onFehlerpunkteChange($event, 2, 4)"
                   [(ngModel)]="match2.fehlerpunkte[4]"
                   class="fehlerfeld"
                   blaFehlerNumberOnly>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8"> <!-- Spalte mit Buttons zum speichern/drucken links -->

      <button (click)=" back()"
              class="btn btn-primary backButton">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.ZURUECK' | translate }}
      </button>

      <button (click)="save()"
              class="btn btn-primary saveButton">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SPEICHERN' | translate }}
      </button>

      <bla-download-button
        class="btn"
        [id]="'downloadMatchSchusszettel'"
        [downloadUrl]="onButtonDownload('pdf/schusszettel_matches')"
        [fileName]="'match_schusszettel.pdf'"
        [disabled]="false">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.DRUCKEN' | translate }}
      </bla-download-button>
    </div>

    <div class="align-self-center"> <!-- Spalte nächstes Match rechts -->

      <button (click)="previous()"
              class="btn btn-primary nextButton">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.VORHERIGES_MATCH' | translate }}
      </button>

        <button (click)="next()"
                class="btn btn-primary nextButton">{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.NAECHSTES_MATCH' | translate }}
      </button>
    </div>


  </div>



<!--  BACKUP-->
<!--  <div class="row">-->
<!--    <div class="col-sm-7"> &lt;!&ndash; Spalte mit Buttons zum speichern/drucken links &ndash;&gt;-->

<!--      <button (click)=" back()"-->
<!--              class="btn btn-primary backButton">Zurück-->
<!--      </button>-->

<!--      <button (click)="save()"-->
<!--              class="btn btn-primary saveButton">Speichern-->
<!--      </button>-->

<!--      <bla-download-button-->
<!--        class="btn"-->
<!--        [id]="'downloadMatchSchusszettel'"-->
<!--        [downloadUrl]="onButtonDownload('pdf/schusszettel_matches')"-->
<!--        [fileName]="'match_schusszettel.pdf'"-->
<!--        [disabled]="false">Drucken-->

<!--      </bla-download-button>-->
<!--    </div>-->

<!--    <div class="col-sm-5"> &lt;!&ndash; Spalte nächstes Match rechts &ndash;&gt;-->

<!--      <button (click)="next()"-->
<!--              class="btn btn-primary nextButton">Vorheriges Match-->
<!--      </button>-->

<!--      <button (click)="next()"-->
<!--              class="btn btn-primary nextButton">Nächstes Match-->
<!--      </button>-->
<!--    </div>-->


<!--  </div>-->









 <div class ="schuetze-popup"*ngIf="popupSelberTag">
    <div class="popup">
      <h2>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PRUEF_D_SCHUETZEN' | translate }}</h2>
      <br>
      <a class="close" (click)="popupSelberTag =false">&times;</a>
      <a>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SCHUETZE' | translate }} {{passeSelberTag}} {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SELBER_TAG_PRUEFUNG1' | translate }} {{selberTagVeranstaltung}} {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SELBER_TAG_PRUEFUNG2' | translate }}</a>
      <br>
      <br>
      <button type="submit"(click)="popupSelberTag=false" class="btn btn-primary">OK</button>

    </div>

  </div>

  <div class ="schuetze-popup"*ngIf="popupAndererTag">
    <div class="popup">
      <h2>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.PRUEF_D_SCHUETZEN' | translate }}</h2>
      <br>
      <a class="close" (click)="popupAndererTag =false">&times;</a>
      <a>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.SCHUETZE' | translate }} {{passeAndererTag}} {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.ANDERER_TAG_PRUEFUNG1' | translate }} {{andererTagAnzahl}} {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.ANDERER_TAG_PRUEFUNG2' | translate }} {{andererTagVeranstaltung.name}} {{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.ANDERER_TAG_PRUEFUNG3' | translate }}</a>
      <br>
      <br>
      <button type="submit"(click)="popupAndererTag=false" class="btn btn-primary">OK</button>

    </div>

  </div>

  <div class="print signature">
    <div class="m1">
      <h1>{{match2.mannschaftName}}</h1>
      <p>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.UNTERSCHRIFT' | translate }}</p>
    </div>
    <div class="m2">
      <h1>{{match1.mannschaftName}}</h1>
      <p>{{ 'WKDURCHFUEHRUNG.SCHUSSZETTEL.UNTERSCHRIFT' | translate }}</p>
    </div>
  </div>
</div>

