<div class="tablet-wrapper">

  <!-- 1) Loading spinner -->
  <div *ngIf="loading" class="spinner">
    <mat-spinner diameter="50"></mat-spinner>
  </div>

  <!-- 2) Error message -->
  <div *ngIf="errorMsg" class="error-box">
    {{ errorMsg }}
  </div>

  <!-- 3) Main content only when loaded and no error -->
  <ng-container *ngIf="!loading && data">
    <ng-container [ngSwitch]="data.status">

      <!-- Not allowed -->
      <bla-maske5not-allowed
        *ngSwitchCase="'NOT_ALLOWED'"
        [infos]="data">
      </bla-maske5not-allowed>

      <!-- Waiting -->
      <bla-maske3aktualisierung
        *ngSwitchCase="'WARTE'"
        [infos]="data"
        (refresh)="load()">
      </bla-maske3aktualisierung>

      <!-- Register start numbers -->
      <ng-container *ngSwitchCase="'SCHUETZENMELDUNG'">
        <bla-maske4zustand
          *ngIf="showZustandFirst"
          [infos]="data"
          (weiter)="onZustandWeiter()">
        </bla-maske4zustand>
        <bla-maske1registrierung
          *ngIf="!showZustandFirst"
          [infos]="data"
          (register)="onRegister($event)">
        </bla-maske1registrierung>
      </ng-container>

      <!-- Enter scores -->
      <ng-container *ngSwitchCase="'SATZEINGABE'">
        <bla-maske4zustand
          *ngIf="showZustandFirst"
          [infos]="data"
          (weiter)="onZustandWeiter()">
        </bla-maske4zustand>
        <bla-maske2eingabe
          *ngIf="!showZustandFirst"
          [infos]="data"
          (satzSubmit)="onSatz($event)">
        </bla-maske2eingabe>
      </ng-container>

      <!-- Competition ended -->
      <ng-container *ngSwitchCase="'WETTKAMPF_BEENDET'">
        <bla-maske4zustand
          *ngIf="showZustandFirst"
          [infos]="data"
          (weiter)="onZustandWeiter()">
        </bla-maske4zustand>
        <bla-maske4wettkampbeendet
          *ngIf="!showZustandFirst"
          [infos]="data"
          (weiter)="onZustandWeiter()">
        </bla-maske4wettkampbeendet>
      </ng-container>

      <!-- Unexpected status -->
      <div *ngSwitchDefault class="error-box">
        Unbekannter Status "{{ data.status }}". Bitte wenden Sie sich an den Support.
      </div>

    </ng-container>
  </ng-container>
</div>
