<div class="tablet-wrapper">
  <!-- Loading spinner -->
  <div *ngIf="loading" class="spinner">
    <mat-spinner diameter="50"></mat-spinner>
  </div>

  <!-- Error message -->
  <div *ngIf="errorMsg" class="error-box">
    {{ errorMsg }}
  </div>

  <!-- Main content -->
  <ng-container *ngIf="!loading && data">
    <ng-container [ngSwitch]="getCurrentDisplayMode()">

      <!-- Zustand Display Mode -->
      <bla-schusszettel-zustand
        *ngSwitchCase="'ZUSTAND'"
        [infos]="data"
        (weiter)="onZustandWeiter()">
      </bla-schusszettel-zustand>

      <!-- Not allowed -->
      <bla-maske5not-allowed
        *ngSwitchCase="'NOT_ALLOWED'"
        [infos]="data">
      </bla-maske5not-allowed>

      <!-- Waiting -->
      <bla-maske3aktualisierung
        *ngSwitchCase="'WARTE'"
        [infos]="data"
        (refresh)="load()">
      </bla-maske3aktualisierung>

      <!-- Register start numbers -->
      <bla-maske1registrierung
        *ngSwitchCase="'SCHUETZENMELDUNG'"
        [infos]="data"
        (register)="onRegister($event)">
      </bla-maske1registrierung>

      <!-- Enter scores -->
      <bla-maske2eingabe
        *ngSwitchCase="'SATZEINGABE'"
        [infos]="data"
        (satzSubmit)="onSatz($event)">
      </bla-maske2eingabe>

      <!-- Competition ended -->
      <bla-maske4wettkampbeendet
        *ngSwitchCase="'WETTKAMPF_BEENDET'"
        [infos]="data">
      </bla-maske4wettkampbeendet>

      <!-- Unexpected status -->
      <div *ngSwitchDefault class="error-box">
        Unbekannter Status "{{ data.status }}". Bitte wenden Sie sich an den Support.
      </div>

    </ng-container>
  </ng-container>
</div>
