<bla-common-dialog [config]="config"
                   [loading]="loading">

  <form id="wettkampfKlasseForm"
        class="horizontal-form half-page"
        #dsbMitgliedForm="ngForm">


    <!-- WETTKAMPF ID
    <div class="form-group row">
      <label for="wettkampfKlasseId"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.WETTKAMPFKLASSE_DETAIL.FORM.WETTKAMPF_ID.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               required
               id="wettkampfKlasseId"
               name="wettkampfKlasseId"
               #wettkampfKlasseId="ngModel"
               [(ngModel)]="currentWettkampfklasse.id"
               [class.is-invalid]="wettkampfKlasseId.invalid && !wettkampfKlasseId.untouched"
               placeholder="{{ 'MANAGEMENT.WETTKAMPFKLASSE_DETAIL.FORM.WETTKAMPF_ID.PLACEHOLDER' | translate }}">

        <div class="invalid-feedback">
          {{ 'MANAGEMENT.WETTKAMPFKLASSE_DETAIL.FORM.WETTKAMPF_ID.ERROR' | translate }}
        </div>
      </div>
    </div>-->

    <!-- WETTKAMPFKLASSE_NR -->
    <div class="form-group row">
      <label for="wettkampfKlasseNr"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.WETTKAMPFKLASSE_DETAIL.FORM.WETTKAMPF_NR.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               required
               id="wettkampfKlasseNr"
               name="wettkampfKlasseNr"
               #wettkampfKlasseNr="ngModel"
               maxlength="2"
               [(ngModel)]="currentWettkampfklasse.klasseNr"
               [class.is-invalid]="wettkampfKlasseNr.invalid && !wettkampfKlasseNr.untouched"
               placeholder="{{ 'MANAGEMENT.WETTKAMPFKLASSE_DETAIL.FORM.WETTKAMPF_NR.PLACEHOLDER' | translate }}">

        <div class="invalid-feedback">
          {{ 'MANAGEMENT.WETTKAMPFKLASSE_DETAIL.FORM.WETTKAMPF_NR.ERROR' | translate }}
        </div>
      </div>
    </div>

    <!-- WETTKAMPFKLASSE_NAME -->
    <div class="form-group row">
      <label for="wettkampfKlasseName"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.WETTKAMPFKLASSE_DETAIL.FORM.WETTKAMPFNAME.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               required
               id="wettkampfKlasseName"
               name="wettkampfKlasseName"
               #wettkampfKlasseName="ngModel"
               [(ngModel)]="currentWettkampfklasse.klasseName"
               [class.is-invalid]="wettkampfKlasseName.invalid && !wettkampfKlasseName.untouched"
               placeholder="{{ 'MANAGEMENT.WETTKAMPFKLASSE_DETAIL.FORM.WETTKAMPFNAME.PLACEHOLDER' | translate }}">

        <div class="invalid-feedback">
          {{ 'MANAGEMENT.WETTKAMPFKLASSE_DETAIL.FORM.WETTKAMPFNAME.ERROR' | translate }}
        </div>
      </div>
    </div>


    <!-- WETTKAMPF_JAHRGANG_MIN -->
    <div class="form-group row">
      <label for="wettkampfKlasseJahrgangMin"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.WETTKAMPFKLASSE_DETAIL.FORM.WETTKAMPF_JAHRGANG_MIN.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               required
               id="wettkampfKlasseJahrgangMin"
               name="wettkampfKlasseJahrgangMin"
               #wettkampfKlasseJahrgangMin="ngModel"
               maxlength="4"
               pattern="[0-9]{4}"
               [(ngModel)]="currentWettkampfklasse.klasseJahrgangMin"
               [class.is-invalid]="wettkampfKlasseJahrgangMin.invalid && !wettkampfKlasseJahrgangMin.untouched"
               placeholder="{{ 'MANAGEMENT.WETTKAMPFKLASSE_DETAIL.FORM.WETTKAMPF_JAHRGANG_MIN.PLACEHOLDER' | translate }}">

        <div class="invalid-feedback">
          {{ 'MANAGEMENT.WETTKAMPFKLASSE_DETAIL.FORM.WETTKAMPF_JAHRGANG_MIN.ERROR' | translate }}
        </div>
      </div>
    </div>

    <!-- WETTKAMPF_JAHRGANG_MAX -->
    <div class="form-group row">
      <label for="wettkampfKlasseJahrgangMax"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.WETTKAMPFKLASSE_DETAIL.FORM.WETTKAMPF_JAHRGANG_MAX.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               required
               id="wettkampfKlasseJahrgangMax"
               name="wettkampfKlasseJahrgangMax"
               #wettkampfKlasseJahrgangMax="ngModel"
               maxlength="4"
               pattern="[0-9]{4}"
               [(ngModel)]="currentWettkampfklasse.klasseJahrgangMax"
               [class.is-invalid]="wettkampfKlasseJahrgangMax.invalid && !wettkampfKlasseJahrgangMax.untouched"
               placeholder="{{ 'MANAGEMENT.WETTKAMPFKLASSE_DETAIL.FORM.WETTKAMPF_JAHRGANG_MAX.PLACEHOLDER' | translate }}">

        <div class="invalid-feedback">
          {{ 'MANAGEMENT.WETTKAMPFKLASSE_DETAIL.FORM.WETTKAMPF_JAHRGANG_MAX.ERROR' | translate }}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9 button-box">


        <bla-button *ngIf="!entityExists()"
                    [id]="'wettkampfKlasseSaveButton'"
                    [disabled]="!dsbMitgliedForm.valid"
                    [loading]="saveLoading"
                    (onClick)="onSave($event)">
          {{ 'MANAGEMENT.WETTKAMPFKLASSE_DETAIL.FORM.SAVE' | translate }}
        </bla-button>
        <bla-button *ngIf="entityExists()"
                    [id]="'wettkampfKlasseUpdateButton'"
                    [disabled]="!dsbMitgliedForm.valid"
                    [loading]="saveLoading"
                    (onClick)="onUpdate($event)">
          {{ 'MANAGEMENT.WETTKAMPFKLASSE_DETAIL.FORM.UPDATE' | translate }}
        </bla-button>

        <!-- <bla-button *ngIf="entityExists()"
                     [buttonType]="ButtonType.DANGER"
                     [loading]="deleteLoading"
                     (onClick)="onDelete($event)">
           {{ 'MANAGEMENT.DSBMITGLIEDER_DETAIL.FORM.DELETE' | translate }}
         </bla-button> -->
       </div>
     </div>
   </form>

 </bla-common-dialog>
