<bla-common-dialog [config]="config">
  <form id="regionenForm"
        class="horizontal-form half-page">

    <!-- Vereine -->
    <div class="form-group row">
      <label for="regionTyp"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANNSCHAFTEN.MANNSCHAFTEN.FORM.VEREIN_NAME.LABEL' | translate }}</span>
      </label>
      <div class="col-sm-9">
        <select class="form-control"
                id="vereine"
                name="vereineName"
                [(ngModel)]="currentVerein.name"
                (ngModelChange)="loadErgebnisse();">
          <option *ngFor="let verein of vereine"> {{verein.name}}</option>
        </select>
        <div class="invalid-feedback">
          {{ 'MANAGEMENT.REGION_DETAIL.FORM.REGION_TYP.ERROR' | translate }}
        </div>
      </div>
    </div>

    <!-- Veranstaltungen -->
    <div class="form-group row">
      <label for="regionTyp"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANNSCHAFTEN.MANNSCHAFTEN.FORM.VERANSTALTUNG_NAME.LABEL' | translate }}</span>
      </label>
      <div class="col-sm-9">
        <select class="form-control"
                id="regionTyp"
                name="regionTyp"
                [(ngModel)]="currentVeranstaltung.name"
                (ngModelChange)="loadErgebnisse();">

          <option *ngFor="let veranstaltung of veranstaltungen"> {{veranstaltung.name}}</option>
        </select>
        <div class="invalid-feedback">
          {{ 'MANAGEMENT.REGION_DETAIL.FORM.REGION_TYP.ERROR' | translate }}
        </div>
      </div>
    </div>



    <!-- Row 1 -->

    <div class="flexChild">

      <table id="example"
             class="table table-hover table-sm table-responsive-sm thead-light table-striped"
             style="width:100%">
        <div class="row">
          <bla-data-table [config]="config_table"
                          [rows]="rows[0]">
          </bla-data-table>
        </div>
      </table>

    </div>

    <div class="form-group row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9 button-box">

      </div>
    </div>
  </form>
</bla-common-dialog>
