/**
 * Styles für die Ligaübersicht-Komponente
 */

.content {
  padding: 20px;
  min-height: calc(100vh - 200px);
}

.liga-tree-placeholder {
  margin-top: 30px;
  padding: 20px;

  .alert {
    font-size: 1rem;

    i {
      margin-right: 10px;
    }
  }
}
