@import 'src/styles.scss';

h1{
  font-size: 2.8em;
}

// basic css of content
.homeContent {
  margin: 5px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
}

// container for pictures and text
.flexChild {
  flex: 1 0 45%; // 45% -> two in one row
  margin-top: 10px;
  margin-bottom: 20px;
  min-height: 60vh;

}

.news-container{
  display: flex;
}

// css for Images of containers
.mosaikImg {
  width: 80%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: $light-gray;
}

// workaround for breadcrumbs/pageTitle
// TODO: Change size to accommodate other pages layout ( ... height )
.home-page-wrapper {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
