

  <div id="homePage">
    <div style="max-width: 75%; margin: 15px; padding: 5px">
      <h1 class="homeHeading">{{'HOME.HOME.WELCOME' | translate }}</h1>
      <p class="subtitle">{{ 'HOME.HOME.CONTENT' | translate }}</p>
    </div>

    <div class="container">
      <div class="calendar">

    <!-- Row 1 -->
    <div style="margin-left: 20px; min-height: 40vh">
      <h2>Unsere nächsten Wettkämpfe</h2>
      <div id = "competitionList">
        <bla-veranstaltungen-button routerLink="/wkdurchfuehrung" *ngFor="let veranstaltung of veranstaltungWettkaempfeDO | slice:0:5">
          <p heading>{{veranstaltung.veranstaltungDO.name}}</p>
          <p date-month>{{veranstaltung.month}}</p>
          <h1 date-day>{{veranstaltung.day}}</h1>
        </bla-veranstaltungen-button>
      </div>
      <p [hidden]="!chekIfVeranstaltungskalender()">{{ 'HOME.HOME.WETTKAMPFERSATZ' | translate }}</p>
      </div>


    <!-- Row 1 -->
    <div class="shortcuts">
      <bla-shortcut-button  [config]="config_shortcut"></bla-shortcut-button>
    </div>

    <div class="news" style="margin-left: 20px; min-height: 40vh">
      <!-- Row 2 -->
      <div class="flexChild">
        <h2>Neues aus dem Bogensport</h2>
        <div class="news-container">

          <div class="flexChild">
            <img class="mosaikImg"
                 src="assets/img/home_halle.png" alt="Bogenliga Halle">
          </div>

          <div class="flexChild">
            <h3>{{ 'HOME.HOME.BOX1HEADING' | translate }}</h3>
            <p style="margin-top: 20px">{{ 'HOME.HOME.BOX1CONTENT' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
