<div class="default-padding">
      <h1 class="homeHeading">{{'HOME.HOME.WELCOME' | translate }}</h1>
      <p class="subtitle">{{ 'HOME.HOME.CONTENT' | translate }}</p>


  <!-- Quicklinks
  <div class="simple-section">
    <div class="quicklink-wrapper">
    <div class="quicklink-container">
      <div class="quicklink soft-shadow"></div>
      <h3>{{'REGIONEN.REGIONEN.TITLE' | translate}}</h3>
    </div>

    <div class="quicklink-container">
      <div class="quicklink soft-shadow"></div>
      <h3>{{'MANNSCHAFTEN.MANNSCHAFTEN.TITLE' | translate}}</h3>
    </div>

    <div class="quicklink-container">
      <div class="quicklink soft-shadow"></div>
      <h3>{{'VEREINE.VEREINE.TITLE' | translate}}</h3>
    </div>
  </div>
  </div>

  <mat-divider></mat-divider>
-->

  <!-- Anstehende Wettkämpfe -->
  <div class="simple-section">
    <h2>{{ 'HOME.HOME.WETTKAEMPFE' | translate }}</h2>
    <p [hidden]="!checkIfTableIsEmpty()">{{ 'HOME.HOME.WETTKAMPFERSATZ' | translate }}</p>
    <table class="table table-hover table-sm table-responsive-sm thead-light table-striped"
           style="width:100%; margin-left: 15px;">
      <div class="row">
        <bla-data-table [config]="config_table"
                        [rows]="rows"
                        [loading]="loadingTable"
                        [hidden]="checkIfTableIsEmpty()"
                        (onMapEntry)="onMap($event)">
        </bla-data-table>
      </div>
    </table>
  </div>

  <mat-divider></mat-divider>


  <!-- Neues aus dem Bogensport -->
  <div class="simple-section">
    <h2>{{ 'HOME.HOME.NEWS' | translate }}</h2>
    <!-- Eintrag 1 -->
    <div class="blog-card">
      <div class="photo-wrapper">
        <div class="photo" style="background-image: url('assets/img/home_halle.png')"></div>
      </div>
      <div class="description">
        <h3>{{ 'HOME.HOME.BOX1HEADING' | translate }}</h3>
        <p>{{ 'HOME.HOME.BOX1CONTENT' | translate }}</p>
      </div>
    </div>

    <!-- Eintrag 2 -->
    <div class="blog-card alt">
      <div class="photo-wrapper">
        <div class="photo" style="background-image: url('assets/img/home_group.png')"></div>
      </div>
      <div class="description">
        <h3>{{ 'HOME.HOME.BOX1HEADING' | translate }}</h3>
        <p>{{ 'HOME.HOME.BOX1CONTENT' | translate }}</p>
      </div>
    </div>
  </div>

  </div>
