<div id="homePage">

  <!--Welcome Page Title and paragraph-->
  <div style="max-width: 75%; margin: 15px; padding: 5px" *ngIf="!hasLigaIDInUrl && (!hasLigaNameInUrl)">
    <h1 class="homeHeading">{{'HOME.HOME.WELCOME' | translate }}</h1>
    <p class="subtitle">{{ 'HOME.HOME.CONTENT' | translate }}</p>
  </div>

  <!--Ligadetail Page Title-->
  <div style="max-width: 75%; margin: 15px; padding: 5px" *ngIf="hasLigaIDInUrl || hasLigaNameInUrl" >
    <h1 class="homeHeading" [innerHTML]="selectedLigaName" ></h1>
  </div>

  <!--Wettkampftabelle-->
  <div class="container">
    <div class="calendar">
      <h2>Unsere nächsten Wettkämpfe</h2>
      <div id = "competitionList">
        <bla-veranstaltungen-button routerLink="/wkdurchfuehrung" *ngFor="let veranstaltung of veranstaltungWettkaempfeDO | slice:0:5">
          <p heading>{{veranstaltung.veranstaltungDO.name}}</p>
          <p date-month>{{veranstaltung.month}}</p>
          <h1 date-day>{{veranstaltung.day}}</h1>
        </bla-veranstaltungen-button>
      </div>
      <p [hidden]="!chekIfVeranstaltungskalender()">{{ 'HOME.HOME.WETTKAMPFERSATZ' | translate }}</p>
      </div>
    <!-- Row 1 -->
    <div class="shortcuts">
      <bla-shortcut-button  [config]="config_shortcut"></bla-shortcut-button>
    </div>
    <div class="news" style="margin-left: 0px; min-height: 40vh">

      <!-- Row 2 -->
      <!--Block of Information-->

      <!--Welcome Page Information-->
      <div class="flexChild" *ngIf="!hasLigaIDInUrl && (! hasLigaNameInUrl)">
        <h2>Neues aus dem Bogensport</h2>
        <div class="news-container">
          <div class="flexChild">
            <img class="mosaikImg" src="assets/img/home_halle.png" alt="Bogenliga Halle">
          </div>

          <div class="flexChild">
            <h3>{{ 'HOME.HOME.BOX1HEADING' | translate }}</h3>
            <p style="margin-top: 20px">{{ 'HOME.HOME.BOX1CONTENT' | translate }}</p>
          </div>
        </div>
      </div>

      <!--Ligadetail Page Information (Ligadetailes)-->
      <div class="flexChild" *ngIf="hasLigaIDInUrl || hasLigaNameInUrl">
        <h2>Ligadetails</h2>
        <div class="news-container">
          <div class="flexChild">
            <div [innerHTML]="selectedLigaDetails"></div>
          </div>
        </div>

        <!-- File Download Button -->
        <button (click)="fileDownload()">DownloadFile</button>

        <!-- Button -->
        <div id="Button">
          <bla-actionbutton
            [id]="'ligadetailRegionSaveButton'"
            [color]= "ActionButtonColors.SUCCESS"
            [iconClass]="'th-list'"
            (onClick)="ligatabelleLinking()">
            {{ 'WETTKAEMPFE.LIGATABELLE.LINKDESCRIPTION' | translate }}
            <!--{{ selectedVeranstaltungName}}
            name of the currently selected Liga displayed in button-->

            {{this.veranstaltung.name}}
          </bla-actionbutton>

          <bla-actionbutton
            [id]="'deselectLigaButton'"
            [color]= "ActionButtonColors.SECONDARY"
            [iconClass]="zurStartseiteIcon"
            (onClick)="deselect()">
            {{ 'HOME.LIGADETAILES.BACK_TO_HOME' | translate }}
          </bla-actionbutton>
        </div>
      </div>
    </div>
  </div>
</div>
