<bla-common-dialog [config]="config"
                   [loading]="loading">
  <div (mouseover)="onMouseOver($event)">
    <bla-hilfe-button href="https://wiki.bsapp.de/doku.php?id=liga:dsbmannschaftdetails"
                      target="_blank"></bla-hilfe-button>
    <form #mannschaftForm="ngForm"
          class="horizontal-form half-page"
          id="mannschaftForm">

      <!-- ID -->
      <div class="form-group row">
        <label class="col-sm-3 col-form-label"
               for="mannschaftName">
          <span>{{ 'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.MANNSCHAFT_NAME.LABEL' | translate }}</span>
          <span> *</span>
        </label>
        <div class="col-sm-9">
          <input #mannschaftName="ngModel"
                 [(ngModel)]="currentMannschaft.name"
                 class="form-control"
                 disabled
                 id="mannschaftName"
                 name="mannschaftName"
                 placeholder="{{'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.MANNSCHAFT_NAME.PLACEHOLDER' | translate }}"
                 required
                 type="text"
                 value="{{currentVerein.name}} {{currentMannschaft.nummer}}">
        </div>
      </div>

      <!-- ID -->
      <div class="form-group row">
        <label class="col-sm-3 col-form-label"
               for="mannschaftNummer">
          <span>{{ 'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.MANNSCHAFT_NUMMER.LABEL' | translate }}</span>
          <span> *</span>
        </label>
        <div class="col-sm-9">
          <input #mannschaftNummer="ngModel"
                 [(ngModel)]="currentMannschaft.nummer"
                 [class.is-invalid]="mannschaftNummer.invalid && !mannschaftNummer.untouched"
                 class="form-control"
                 data-cy="vereine-mannschaft-detail-mannschaftsnummer"
                 id="mannschaftNummer"
                 maxlength="2"
                 name="mannschaftNummer"
                 placeholder="{{ 'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.MANNSCHAFT_NUMMER.PLACEHOLDER' | translate }}"
                 required
                 type="text">

          <div class="invalid-feedback">
            {{ 'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.MANNSCHAFT_NUMMER.ERROR' | translate }}
          </div>
        </div>
      </div>

      <!-- liga -->
      <div class="form-group row">
        <label class="col-sm-3 col-form-label"
               for="mannschaftVeranstaltung">
          <span>{{ 'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.MANNSCHAFT_VERANSTALTUNG.LABEL' | translate }}</span>
          <span> *</span>
        </label>

        <div *ngIf="loadingVeranstaltungen && entityExists()"
             class="loading">
          <tr>
            <td [colSpan]="colspan"
                style="text-align: center; ">
              <div style="display: flex; flex-direction: column; align-items: center">
                <fa-icon [spin]="'true'"
                         icon="sync"
                         size="4x"
                         style="margin-top: 2em; margin-bottom: 2em;">
                </fa-icon>
                <p>{{'TABLE.LOADING' | translate}}</p>
              </div>
            </td>
          </tr>
        </div>

        <div *ngIf="!entityExists()"
             class="col-sm-9">
          <input  class="form-control"
                  data-cy="vereine-mannschaft-detail-mannschaftsveranstaltung"
                  id="mannschaftVeranstaltung"
                  name="mannschaftVeranstaltung"
                  placeholder="{{ 'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.MANNSCHAFT_VERANSTALTUNG.PLACEHOLDER' | translate }}"
                  readonly>
          <div class="invalid-feedback">
            {{ 'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.MANNSCHAFT_VERANSTALTUNG.ERROR' | translate }}
          </div>
        </div>

        <div *ngIf="!loadingVeranstaltungen && entityExists()"
             class="col-sm-9">
          <input  class="form-control"
                  data-cy="vereine-mannschaft-detail-mannschaftsveranstaltung"
                  id="mannschaftVeranstaltung_edit"
                  name="mannschaftVeranstaltung_edit"
                  placeholder="{{ 'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.MANNSCHAFT_VERANSTALTUNG.PLACEHOLDER' | translate }}"
                  [(ngModel)]="currentVeranstaltung.name"
                  readonly>
          <div class="invalid-feedback">
            {{ 'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.MANNSCHAFT_VERANSTALTUNG.ERROR' | translate }}
          </div>
        </div>

      </div>

      <div class="form-group row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9 button-box">


          <bla-actionbutton (onClick)="onSave($event)"
                            *ngIf="!entityExists()"
                            [disabled]="!mannschaftForm.valid"
                            [id]="'mannschaftSaveButton'"
                            [loading]="saveLoading"
                            [color]="ActionButtonColors.SUCCESS"
                            [iconClass]="'save'"
                            data-cy="vereine-mannschaft-detail-save-button">
            {{ 'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.SAVE' | translate }}
          </bla-actionbutton>
          <bla-actionbutton (onClick)="onUpdate($event)"
                            *ngIf="entityExists()"
                            [disabled]="!mannschaftForm.valid"
                            [id]="'mannschaftUpdateButton'"
                            [loading]="saveLoading"
                            [color]="ActionButtonColors.SUCCESS"
                            [iconClass]="'save'"
                            data-cy="vereine-mannschaft-detail-update-button">
            {{ 'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.UPDATE' | translate }}
          </bla-actionbutton>

          <!--When editing Bug: BSAPP-684 it was decided to comment out the Button below ("Löschen")-->
          <!--Because there is already a Button for the same Funktion and this one is also not working and also caused some trouble with Deleting-Funktion -->
          <!--
          <bla-button *ngIf="entityExists()"
                      [buttonType]="ButtonType.DANGER"
                      [loading]="deleteLoading"
                      (onClick)="onDelete($event)">
            {{ 'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.DELETE' | translate }}
          </bla-button>
          -->
        </div>
      </div>
    </form>
    <div *ngIf="entityExists()">
      <h5> Mitglieder-Übersicht</h5>
      <div class="overview-dialog-add">
        <bla-actionbutton
          [color]="ActionButtonColors.SUCCESS"
          [iconClass]="'plus'"
          routerLink="add">
          <span> Neu</span>
        </bla-actionbutton>
        <bla-download-actionbutton
          (click)="onDownloadLizenzen()"
          [color]="ActionButtonColors.SUCCESS"
          [iconClass]="'file-download'">
          <span> Alle Lizenzen drucken</span>
          <router-outlet name="onDownloadLizenzen"></router-outlet>
        </bla-download-actionbutton>
      </div>
      <bla-data-table (onDeleteEntry)="onDeleteMitglied($event)"
                      (onDownloadEntry)="onDownload($event)"
                      (onDownloadRueckennummerEntry)="onDownloadRueckennummer($event)"
                      (onEditEntry)="onEdit($event)"
                      (onViewEntry)="onView($event)"
                      [config]="config_table"
                      [loading]="loading"
                      [rows]="rows">
      </bla-data-table>
      <a #downloadLink></a>
    </div>

  </div>

</bla-common-dialog>
