<bla-common-dialog [config]="config"
                   [loading]="loading">

  <form id="mannschaftForm"
        class="horizontal-form half-page"
        #mannschaftForm="ngForm">

    <!-- ID -->
    <div class="form-group row">
      <label for="mannschaftName"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.MANNSCHAFT_NAME.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               required
               disabled
               id="mannschaftName"
               name="mannschaftName"
               #mannschaftName="ngModel"
               [(ngModel)]="currentMannschaft.name"
               placeholder="{{'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.MANNSCHAFT_NAME.PLACEHOLDER' | translate }}">
      </div>
    </div>

    <!-- ID -->
    <div class="form-group row">
      <label for="mannschaftNummer"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.MANNSCHAFT_NUMMER.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               required
               maxlength="2"
               id="mannschaftNummer"
               name="mannschaftNummer"
               #mannschaftNummer="ngModel"
               [(ngModel)]="currentMannschaft.nummer"
               [class.is-invalid]="mannschaftNummer.invalid && !mannschaftNummer.untouched"
               placeholder="{{ 'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.MANNSCHAFT_NUMMER.PLACEHOLDER' | translate }}">

        <div class="invalid-feedback">
          {{ 'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.MANNSCHAFT_NUMMER.ERROR' | translate }}
        </div>
      </div>
    </div>

    <!-- liga -->
    <div class="form-group row">
      <label for="mannschaftVeranstaltung"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.MANNSCHAFT_VERANSTALTUNG.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <select class="form-control"
                required
                id="mannschaftVeranstaltung"
                name="mannschaftVeranstaltung"
                #mannschaftVeranstaltung="ngModel"
                [(ngModel)]="currentVeranstaltung">
          <option [ngValue]="liga" *ngFor="let liga of ligen"> {{liga.name}}</option>
        </select>
        <div class="invalid-feedback">
          {{ 'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.MANNSCHAFT_VERANSTALTUNG.ERROR' | translate }}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9 button-box">


        <bla-button *ngIf="!entityExists()"
                    [id]="'mannschaftSaveButton'"
                    [disabled]="!mannschaftForm.valid"
                    [loading]="saveLoading"
                    (onClick)="onSave($event)">
          {{ 'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.SAVE' | translate }}
        </bla-button>
        <bla-button *ngIf="entityExists()"
                    [id]="'mannschaftUpdateButton'"
                    [disabled]="!mannschaftForm.valid"
                    [loading]="saveLoading"
                    (onClick)="onUpdate($event)">
          {{ 'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.UPDATE' | translate }}
        </bla-button>

        <!--When editing Bug: BSAPP-684 it was decided to comment out the Button below ("Löschen")-->
        <!--Because there is already a Button for the same Funktion and this one is also not working and also caused some trouble with Deleting-Funktion -->
        <!--
        <bla-button *ngIf="entityExists()"
                    [buttonType]="ButtonType.DANGER"
                    [loading]="deleteLoading"
                    (onClick)="onDelete($event)">
          {{ 'MANAGEMENT.MANNSCHAFT_DETAIL.FORM.DELETE' | translate }}
        </bla-button>
        -->
      </div>
    </div>
  </form>
  <div *ngIf="entityExists()">
    <h5> Mitglieder-Übersicht</h5>
    <div class="overview-dialog-add">
      <button class="btn btn-success"
              routerLink="add">
        <fa-icon icon="plus"></fa-icon>
        <span> Neu</span>
      </button>
      <button class="btn btn-success button-margin" style="margin-left: 5px;" (click)="onDownloadLizenzen()">
        <fa-icon icon="file-download"></fa-icon>
        <span> Alle Lizenzen drucken</span>
        <router-outlet name="onDownloadLizenzen"></router-outlet>
      </button>
    </div>
    <bla-data-table [config]="config_table"
                    [rows]="rows"
                    [loading]="loading"
                    (onViewEntry)="onView($event)"
                    (onEditEntry)="onEdit($event)"
                    (onDeleteEntry)="onDeleteMitglied($event)"
                    (onDownloadRueckennummerEntry)= "onDownloadRueckennummer($event)"
                    (onDownloadEntry) = "onDownload($event)">
    </bla-data-table>
    <a #downloadLink></a>
  </div>



</bla-common-dialog>
