<header
  *ngIf="infos as i"
  class="match-context"
  role="region"
  aria-labelledby="match-context-heading"
>
  <h2 id="match-context-heading" class="visually-hidden">
    Wettkampf-Informationen
  </h2>

  <dl class="match-context__list">
    <div class="pair"><dt>Liga</dt><dd>{{ ligaName }}</dd></div>
    <div class="pair"><dt>Veranstaltung</dt><dd>{{ veranstaltungName }} {{ sportjahr }}</dd></div>
    <div class="pair"><dt>Wettkampf-Tag</dt><dd>{{ wettkampfTag }}</dd></div>
    <div class="pair"><dt>Team</dt><dd>{{ i.eigenesTeam.teamName }}</dd></div>
    <div class="pair"><dt>Gegner</dt><dd>{{ i.gegnerischesTeam.teamName }}</dd></div>
    <div class="pair"><dt>Scheibennummer</dt><dd>{{ scheibennummer !== null ? scheibennummer : 'null' }}</dd></div>
    <div class="pair" *ngIf="getCurrentPasse() > 0"><dt>Aktuelle Passe</dt><dd>{{ getCurrentPasse() }}</dd></div>
  </dl>
</header>
