<bla-hilfe-button href="https://wiki.bsapp.de/doku.php?id=liga:verwaltung_regionen" target="_blank"></bla-hilfe-button>
<bla-overview-dialog [hidden]=false
                     [config]="config"
                     [rows]="rows"
                     [loading]="loading"
                     [searchTerm]="searchTerm"
                     [buttonLabel]="'Neue Migration'"
                     [isCustomActionButton]=true
                     (onCustomActionButtonClicked)="startMigration()"
>
 <div (mouseover)="onMouseOver($event)"></div>
</bla-overview-dialog>
