<!--<bla-hilfe-button href="https://wiki.bsapp.de/doku.php?id=liga:verwaltung_migrationen" target="_blank"></bla-hilfe-button>-->
<bla-overview-dialog [hidden]=false
                     [config]="config"
                     [rows]="rows"
                     [loading]="loading"
                     [searchTerm]="searchTerm"
                     [buttonLabel]="'Neue Migration'"
                     [filterButtonLabel] ="'Nicht erfolgreiche Migrationen filtern'"
                     [isCustomActionButton]=true
                     [changePageButtons]=true
                     (onCustomActionButtonClicked)="startMigration()"
                     [showFilterButton] =true
                     [showFilterUnsuccessful]=true
                     (onPreviousPageButtonClicked)="previousPageButton()"
                     (onNextPageButtonClicked)="nextPageButton()"
                     (onFilterButtonClicked)="filterUnsuccessful()"
                     [filterButtonColor] = "buttonColor"
>
 <div (mouseover)="onMouseOver($event)"></div>
</bla-overview-dialog>

<div>
  <label for="statusArray">Filter </label>
  <select id="statusArray" [(ngModel)]="statusArray" (ngModelChange)="selectFilterForStatus()">
    <option *ngFor="let status of statusArray" [value]="currentStatus">{{ status }}</option>
  </select>
</div>

