<div class="wettkaempfe container">


  <!-- match1 -->
  <div class="match1 print">

    <div class="row">
      <div class="match col-3">
        <h1>{{match1.mannschaftName}}</h1>
        <h2>{{match1.nr}}. Match</h2>
      </div>
      <div class="mannschaften col-3">
        <h3>{{match1.mannschaftName}}</h3>
        <h3>gegen</h3>
        <h3>{{match2.mannschaftName}}</h3>
      </div>
      <div class="small_Table col-6">
        <table class="table table-responsive thead-light table-striped"
               id="punktetabelle"
               style="width:100%">
          <tr>
            <td *ngFor="let sum of match1singlesatzpoints; let i = index">
              <label>{{i + 1}}.S.Pkt</label>
              <input [value]="sum"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <label>Summe S.pkt</label>
              <input [value]="match1.satzpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <label>Matchpkte</label>
              <input [value]="match1.matchpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
          </tr>
          <tr>
            <td *ngFor="let sum of match2singlesatzpoints">
              <input [value]="sum"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <input [value]="match2.satzpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <input [value]="match2.matchpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-4 offset-9">Fehlerpunkte</div>
    </div>
    <div class="row">
      <div class="bigTable col-9">
        <table class="table table-hover table-responsive thead-light table-striped"
               id="schusstabelle"
               style="width:100%">
          <thead>
          <tr>
            <th rowspan="2">Schuetze</th>
            <th colspan="2">1. Satz / Pfeile</th>
            <th colspan="2">2. Satz / Pfeile</th>
            <th colspan="2">3. Satz / Pfeile</th>
            <th colspan="2">4. Satz / Pfeile</th>
            <th colspan="2">5. Satz / Pfeile</th>
          </tr>
          <tr>
            <th>pf. 1</th>
            <th>pf. 2</th>
            <th>pf. 1</th>
            <th>pf. 2</th>
            <th>pf. 1</th>
            <th>pf. 2</th>
            <th>pf. 1</th>
            <th>pf. 2</th>
            <th>pf. 1</th>
            <th>pf. 2</th>
          </tr>
          </thead>
          <ng-template [ngForOf]="match1.schuetzen"
                       let-i="index"
                       let-schuetze
                       ngFor>
            <tr>
              <ng-template [ngForOf]="schuetze"
                           let-j="index"
                           let-passe
                           ngFor>
                <td *ngIf="j == 0">
                  <input [(ngModel)]="passe.schuetzeNr"
                         blaAutoswitch
                         blaSchuetzenTabIndexDirective
                         type="number">
                </td>
                <td>
                  <input (ngModelChange)="onChange($event, 1, i, j, 1)"
                         [ngModel]="passe.ringzahlPfeil1"
                         blaAutoswitch
                         blaMyNumberOnly
                         blaRingzahlTabIndexDirective
                         type="text">
                </td>
                <td>
                  <input (ngModelChange)="onChange($event, 1, i, j, 2)"
                         [ngModel]="passe.ringzahlPfeil2"
                         blaAutoswitch
                         blaMyNumberOnly
                         blaRingzahlTabIndexDirective
                         type="text">
                </td>
              </ng-template>
              <td class="schuetzensumme">
                {{getSummeSchuetze(i, 1)}}
              </td>
            </tr>
            <tr *ngIf="i >= match1.schuetzen.length - 1">
              <td></td>
              <ng-template [ngForOf]="match1.sumSatz"
                           let-j="index"
                           let-sum
                           ngFor>
                <td>Summe</td>
                <td>
                  <input [value]="sum"
                         readonly
                         tabindex="-1"
                         type="number">
                </td>
              </ng-template>

            </tr>
          </ng-template>
        </table>
      </div>
      <!-- Fehlerpunkte Mannschaft1 -->
      <div class="col-2">
        <div class="row"
             style="margin-bottom:10px">
          <label class="col-4">Satz 1</label>
          <div class="col-4">
            <input (ngModelChange)="onFehlerpunkteChange($event, 1, 0)"
                   [(ngModel)]="match1.fehlerpunkte[0]"
                   class="fehlerfeld">
          </div>
        </div>
        <div class="row"
             style="margin-bottom:10px">
          <label class="col-4">Satz 2</label>
          <div class="col-4">
            <input (ngModelChange)="onFehlerpunkteChange($event, 1, 1)"
                   [(ngModel)]="match1.fehlerpunkte[1]"
                   class="fehlerfeld">
          </div>
        </div>
        <div class="row"
             style="margin-bottom:10px">
          <label class="col-4">Satz 3</label>
          <div class="col-4">
            <input (ngModelChange)="onFehlerpunkteChange($event, 1, 2)"
                   [(ngModel)]="match1.fehlerpunkte[2]"
                   class="fehlerfeld">
          </div>
        </div>
        <div class="row"
             style="margin-bottom:10px">
          <label class="col-4">Satz 4</label>
          <div class="col-4">
            <input (ngModelChange)="onFehlerpunkteChange($event, 1, 3)"
                   [(ngModel)]="match1.fehlerpunkte[3]"
                   class="fehlerfeld">
          </div>
        </div>
        <div class="row"
             style="margin-bottom:10px">
          <label class="col-4">Satz 5</label>
          <div class="col-4">
            <input (ngModelChange)="onFehlerpunkteChange($event, 1, 4)"
                   [(ngModel)]="match1.fehlerpunkte[4]"
                   class="fehlerfeld">
          </div>
        </div>
      </div>
    </div>


  </div> <!-- ende match1 -->

  <div class="print signature s1">
    <div class="m1">
      <h1>{{match2.mannschaftName}}</h1>
      <p>Unterschrift</p>
    </div>
    <div class="m2">
      <h1>{{match1.mannschaftName}}</h1>
      <p>Unterschrift</p>
    </div>
  </div>
  <!-- Print Trennlinie -->
  <hr class="print">

  <!-- match2 -->
  <div class="match2 print">
    <div class="row">
      <div class="match col-3">
        <h1>{{match2.mannschaftName}}</h1>
        <h2>{{match2.nr}}. Match</h2>
      </div>
      <div class="mannschaften col-3">
        <h3>{{match1.mannschaftName}}</h3>
        <h3>gegen</h3>
        <h3>{{match2.mannschaftName}}</h3>
      </div>
      <div class="small_Table col-6">
        <table class="table table-responsive thead-light table-striped"
               style="width:100%">
          <tr>
            <td *ngFor="let sum of match1singlesatzpoints; let i = index">
              <label>{{i + 1}}.S.Pkt</label>
              <input [value]="sum"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <label>Summe S.pkt</label>
              <input [value]="match1.satzpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <label>Matchpkte</label>
              <input [value]="match1.matchpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
          </tr>
          <tr>
            <td *ngFor="let sum of match2singlesatzpoints">
              <input [value]="sum"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <input [value]="match2.satzpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <input [value]="match2.matchpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-4 offset-9">Fehlerpunkte</div>
    </div>
    <div class="row">
      <div class="bigTable col-9">
        <table
          class="table table-hover table-responsive thead-light table-striped"
          style="width:100%">
          <thead>
          <tr>
            <th rowspan="2">Schuetze</th>
            <th colspan="2">1. Satz / Pfeile</th>
            <th colspan="2">2. Satz / Pfeile</th>
            <th colspan="2">3. Satz / Pfeile</th>
            <th colspan="2">4. Satz / Pfeile</th>
            <th colspan="2">5. Satz / Pfeile</th>
          </tr>
          <tr>
            <th>pf. 1</th>
            <th>pf. 2</th>
            <th>pf. 1</th>
            <th>pf. 2</th>
            <th>pf. 1</th>
            <th>pf. 2</th>
            <th>pf. 1</th>
            <th>pf. 2</th>
            <th>pf. 1</th>
            <th>pf. 2</th>
          </tr>
          </thead>
          <ng-template [ngForOf]="match2.schuetzen"
                       let-i="index"
                       let-schuetze
                       ngFor>
            <tr>
              <ng-template [ngForOf]="schuetze"
                           let-j="index"
                           let-passe
                           ngFor>
                <td *ngIf="j == 0">
                  <input [(ngModel)]="passe.schuetzeNr"
                         blaAutoswitch
                         blaSchuetzenTabIndexDirective
                         type="number">
                </td>
                <td>
                  <input (ngModelChange)="onChange($event, 2, i, j, 1)"
                         [ngModel]="passe.ringzahlPfeil1"
                         blaAutoswitch
                         blaMyNumberOnly
                         blaRingzahlTabIndexDirective
                         type="text">
                </td>
                <td>
                  <input (ngModelChange)="onChange($event, 2, i, j, 2)"
                         [ngModel]="passe.ringzahlPfeil2"
                         blaAutoswitch
                         blaMyNumberOnly
                         blaRingzahlTabIndexDirective
                         type="text">
                </td>
              </ng-template>
              <td class="schuetzensumme">
                {{getSummeSchuetze(i, 2)}}
              </td>
            </tr>
            <tr *ngIf="i >= match2.schuetzen.length - 1">
              <td></td>
              <ng-template [ngForOf]="match2.sumSatz"
                           let-j="index"
                           let-sum
                           ngFor>
                <td>Summe</td>
                <td>
                  <input [value]="sum"
                         readonly
                         tabindex="-1"
                         type="number">
                </td>
              </ng-template>
            </tr>
          </ng-template>
        </table>
      </div>
      <!-- Fehlerpunkte Mannschaft2 -->
      <div class="col-2">
        <div class="row"
             style="margin-bottom:10px">
          <label class="col-4">Satz 1</label>
          <div class="col-4">
            <input (ngModelChange)="onFehlerpunkteChange($event, 2, 0)"
                   [(ngModel)]="match2.fehlerpunkte[0]"
                   class="fehlerfeld">
          </div>
        </div>
        <div class="row"
             style="margin-bottom:10px">
          <label class="col-4">Satz 2</label>
          <div class="col-4">
            <input (ngModelChange)="onFehlerpunkteChange($event, 2, 1)"
                   [(ngModel)]="match2.fehlerpunkte[1]"
                   class="fehlerfeld">
          </div>
        </div>
        <div class="row"
             style="margin-bottom:10px">
          <label class="col-4">Satz 3</label>
          <div class="col-4">
            <input (ngModelChange)="onFehlerpunkteChange($event, 2, 2)"
                   [(ngModel)]="match2.fehlerpunkte[2]"
                   class="fehlerfeld">
          </div>
        </div>
        <div class="row"
             style="margin-bottom:10px">
          <label class="col-4">Satz 4</label>
          <div class="col-4">
            <input (ngModelChange)="onFehlerpunkteChange($event, 2, 3)"
                   [(ngModel)]="match2.fehlerpunkte[3]"
                   class="fehlerfeld">
          </div>
        </div>
        <div class="row"
             style="margin-bottom:10px">
          <label class="col-4">Satz 5</label>
          <div class="col-4">
            <input (ngModelChange)="onFehlerpunkteChange($event, 2, 4)"
                   [(ngModel)]="match2.fehlerpunkte[4]"
                   class="fehlerfeld">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10"> <!-- Spalte mit Buttons zum speichern/drucken links -->

      <button (click)="save()"
              class="btn btn-primary saveButton">Speichern
      </button>

      <button class="btn btn-primary printButton"
              onclick="window.print();return false;">Drucken
      </button>
    </div>

    <div class="col-sm-2"> <!-- Spalte nächstes Match rechts -->

        <button (click)="next()"
                class="btn btn-primary nextButton">Weiter
      </button>
    </div>

  </div>

  <div class="print signature">
    <div class="m1">
      <h1>{{match2.mannschaftName}}</h1>
      <p>Unterschrift</p>
    </div>
    <div class="m2">
      <h1>{{match1.mannschaftName}}</h1>
      <p>Unterschrift</p>
    </div>
  </div>
</div>
