<div class="wettkaempfe container">

  <!-- match1 -->
  <div class="match1 print">

    <div class="row">
      <div class="match col-3">
        <h1>{{match1.mannschaftName}}</h1>
        <h2>{{match1.nr}}. Match</h2>
      </div>
      <div class="mannschaften col-3">
        <h3>{{match1.mannschaftName}}</h3>
        <h3>gegen</h3>
        <h3>{{match2.mannschaftName}}</h3>
      </div>
      <div class="small_Table col-6">
        <table class="table table-responsive thead-light table-striped"
               id="punktetabelle"
               style="width:100%">
          <tr>
            <td *ngFor="let sum of match1.sumSatz; let i = index">
              <label>{{i + 1}}.S.Pkt</label>
              <input [value]="sum"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <label>Summe S.pkt</label>
              <input [value]="match1.satzpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <label>Matchpkte</label>
              <input [value]="match1.matchpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
          </tr>
          <tr>
            <td *ngFor="let sum of match2.sumSatz">
              <input [value]="sum"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <input [value]="match2.satzpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <input [value]="match2.matchpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-4 offset-9">Fehlerpunkte</div>
    </div>
    <div class="row">
      <div class="bigTable col-9">
        <table class="table table-hover table-responsive thead-light table-striped"
               id="schusstabelle"
               style="width:100%">
          <thead>
          <tr>
            <th rowspan="2">Schuetze</th>
            <th colspan="2">1. Satz / Pfeile</th>
            <th colspan="2">2. Satz / Pfeile</th>
            <th colspan="2">3. Satz / Pfeile</th>
            <th colspan="2">4. Satz / Pfeile</th>
            <th colspan="2">5. Satz / Pfeile</th>
          </tr>
          <tr>
            <th>pf. 1</th>
            <th>pf. 2</th>
            <th>pf. 1</th>
            <th>pf. 2</th>
            <th>pf. 1</th>
            <th>pf. 2</th>
            <th>pf. 1</th>
            <th>pf. 2</th>
            <th>pf. 1</th>
            <th>pf. 2</th>
          </tr>
          </thead>
          <ng-template [ngForOf]="match1.schuetzen"
                       let-i="index"
                       let-schuetze
                       ngFor>
            <tr>
              <ng-template [ngForOf]="schuetze"
                           let-j="index"
                           let-passe
                           ngFor>
                <td *ngIf="j == 0">
                  <input [(ngModel)]="passe.schuetzeNr"
                         blaAutoswitch
                         blaSchuetzenTabIndexDirective
                         type="number">
                </td>
                <td>
                  <input (ngModelChange)="onChange($event, 1, i, j, 1)"
                         [ngModel]="passe.ringzahlPfeil1"
                         blaAutoswitch
                         blaMyNumberOnly
                         blaRingzahlTabIndexDirective
                         type="text">
                </td>
                <td>
                  <input (ngModelChange)="onChange($event, 1, i, j, 2)"
                         [ngModel]="passe.ringzahlPfeil2"
                         blaAutoswitch
                         blaMyNumberOnly
                         blaRingzahlTabIndexDirective
                         type="text">
                </td>
              </ng-template>
              <td class="schuetzensumme">
                {{getSummeSchuetze(i, 1)}}
              </td>
            </tr>
            <tr *ngIf="i >= match1.schuetzen.length - 1">
              <td></td>
              <ng-template [ngForOf]="match1.sumSatz"
                           let-j="index"
                           let-sum
                           ngFor>
                <td>Summe</td>
                <td>
                  <input [value]="sum"
                         readonly
                         tabindex="-1"
                         type="number">
                </td>
              </ng-template>

            </tr>
          </ng-template>
        </table>
      </div>
      <div class="col-2">
        <div *ngFor="let fehlerpunkt of match1.fehlerpunkte; let i = index; trackBy:trackByIndex;"
             class="row"
             style="margin-bottom:10px">
          <label [for]="'fehlerpunktFeldMatch1' + i+1"
                 class="col-4">Satz {{i + 1}}</label>
          <div class="col-4">
            <input (ngModelChange)="onChange($event, 1, 0, 0, 0)"
                   [(ngModel)]="match1.fehlerpunkte[i]"
                   [id]="'fehlerpunktFeldMatch1' + i+1"
                   class="fehlerfeld">
          </div>
        </div>
      </div>
    </div>


  </div> <!-- ende match1 -->

  <div class="print signature s1">
    <div class="m1">
      <h1>{{match2.mannschaftName}}</h1>
      <p>Unterschrift</p>
    </div>
    <div class="m2">
      <h1>{{match1.mannschaftName}}</h1>
      <p>Unterschrift</p>
    </div>
  </div>
  <!-- Print Trennlinie -->
  <hr class="print">

  <!-- match2 -->
  <div class="match2 print">
    <div class="row">
      <div class="match col-3">
        <h1>{{match2.mannschaftName}}</h1>
        <h2>{{match2.nr}}. Match</h2>
      </div>
      <div class="mannschaften col-3">
        <h3>{{match1.mannschaftName}}</h3>
        <h3>gegen</h3>
        <h3>{{match2.mannschaftName}}</h3>
      </div>
      <div class="small_Table col-6">
        <table class="table table-responsive thead-light table-striped"
               style="width:100%">
          <tr>
            <td *ngFor="let sum of match1.sumSatz; let i = index">
              <label>{{i + 1}}.S.Pkt</label>
              <input [value]="sum"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <label>Summe S.pkt</label>
              <input [value]="match1.satzpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <label>Matchpkte</label>
              <input [value]="match1.matchpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
          </tr>
          <tr>
            <td *ngFor="let sum of match2.sumSatz">
              <input [value]="sum"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <input [value]="match2.satzpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
            <td>
              <input [value]="match2.matchpunkte"
                     readonly
                     tabindex="-1"
                     type="text">
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-4 offset-9">Fehlerpunkte</div>
    </div>
    <div class="row">
      <div class="bigTable col-9">
        <table
          class="table table-hover table-responsive thead-light table-striped"
          style="width:100%">
          <thead>
          <tr>
            <th rowspan="2">Schuetze</th>
            <th colspan="2">1. Satz / Pfeile</th>
            <th colspan="2">2. Satz / Pfeile</th>
            <th colspan="2">3. Satz / Pfeile</th>
            <th colspan="2">4. Satz / Pfeile</th>
            <th colspan="2">5. Satz / Pfeile</th>
          </tr>
          <tr>
            <th>pf. 1</th>
            <th>pf. 2</th>
            <th>pf. 1</th>
            <th>pf. 2</th>
            <th>pf. 1</th>
            <th>pf. 2</th>
            <th>pf. 1</th>
            <th>pf. 2</th>
            <th>pf. 1</th>
            <th>pf. 2</th>
          </tr>
          </thead>
          <ng-template [ngForOf]="match2.schuetzen"
                       let-i="index"
                       let-schuetze
                       ngFor>
            <tr>
              <ng-template [ngForOf]="schuetze"
                           let-j="index"
                           let-passe
                           ngFor>
                <td *ngIf="j == 0">
                  <input [(ngModel)]="passe.schuetzeNr"
                         blaAutoswitch
                         blaSchuetzenTabIndexDirective
                         type="number">
                </td>
                <td>
                  <input (ngModelChange)="onChange($event, 2, i, j, 1)"
                         [ngModel]="passe.ringzahlPfeil1"
                         blaAutoswitch
                         blaMyNumberOnly
                         blaRingzahlTabIndexDirective
                         type="text">
                </td>
                <td>
                  <input (ngModelChange)="onChange($event, 2, i, j, 2)"
                         [ngModel]="passe.ringzahlPfeil2"
                         blaAutoswitch
                         blaMyNumberOnly
                         blaRingzahlTabIndexDirective
                         type="text">
                </td>
              </ng-template>
              <td class="schuetzensumme">
                {{getSummeSchuetze(i, 2)}}
              </td>
            </tr>
            <tr *ngIf="i >= match2.schuetzen.length - 1">
              <td></td>
              <ng-template [ngForOf]="match2.sumSatz"
                           let-j="index"
                           let-sum
                           ngFor>
                <td>Summe</td>
                <td>
                  <input [value]="sum"
                         readonly
                         tabindex="-1"
                         type="number">
                </td>
              </ng-template>
            </tr>
          </ng-template>
        </table>
      </div>
      <div class="col-2">
        <div *ngFor="let fehlerpunkt of match2.fehlerpunkte; let i = index; trackBy:trackByIndex;"
             class="row"
             style="margin-bottom:9px">
          <label [for]="'fehlerpunktFeldMatch2' + i+1"
                 class="col-4">Satz {{i + 1}}</label>
          <div class="col-4">
            <input [(ngModel)]="match2.fehlerpunkte[i]"
                   [id]="'fehlerpunktFeldMatch2' + i+1"
                   class="fehlerfeld">
          </div>
        </div>
      </div>
    </div>
  </div>


  <button (click)="save()"
          class="btn btn-primary saveButton">Speichern
  </button>

  <button class="btn btn-primary printButton"
          onclick="window.print();return false;">Drucken
  </button>

  <div class="print signature">
    <div class="m1">
      <h1>{{match2.mannschaftName}}</h1>
      <p>Unterschrift</p>
    </div>
    <div class="m2">
      <h1>{{match1.mannschaftName}}</h1>
      <p>Unterschrift</p>
    </div>
  </div>
</div>
