<bla-common-dialog [config]="config"
                   [loading]="loading">

  <form id="dsbMitgliedForm"
        class="horizontal-form half-page"
        #dsbMitgliedForm="ngForm">

    <!-- TODO implement -->
    <!-- VORNAME -->
    <!-- MANAGEMENT.DSBMITGLIEDER_DETAIL.FORM.VORNAME-->
    <div class="form-group row">
      <label for="dsbMitgliedVorname"
             class="col-sm-3 col-form-label">
        <span>Vorname</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               id="dsbMitgliedVorname"
               name="dsbMitgliedVorname"
               placeholder="Platzhalter">

        <div class="invalid-feedback">
          Es ist ein Fehler aufgetreten.
        </div>
      </div>
    </div>

    <!-- NACHNAME -->


    <!-- GEBURTSDATUM -->


    <!-- MITGLIEDSNUMMER -->


    <!-- NATIONALITAET -->


    <!-- TODO: VEREIN ID, use dropdown list -->


    <fa-icon icon="bug"
             size="6x"></fa-icon>


    <div class="form-group row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9 button-box">
        <bla-button *ngIf="!entityExists()"
                    [id]="'dsbMitgliedSaveButton'"
                    [disabled]="true"
                    [loading]="saveLoading"
                    (onClick)="onSave($event)">
          {{ 'MANAGEMENT.DSBMITGLIEDER_DETAIL.FORM.SAVE' | translate }}
        </bla-button>
        <bla-button *ngIf="entityExists()"
                    [id]="'dsbMitgliedUpdateButton'"
                    [disabled]="!dsbMitgliedForm.valid"
                    [loading]="saveLoading"
                    (onClick)="onUpdate($event)">
          {{ 'MANAGEMENT.DSBMITGLIEDER_DETAIL.FORM.UPDATE' | translate }}
        </bla-button>

        <bla-button *ngIf="entityExists()"
                    [buttonType]="ButtonType.DANGER"
                    [loading]="deleteLoading"
                    (onClick)="onDelete($event)">
          {{ 'MANAGEMENT.DSBMITGLIEDER_DETAIL.FORM.DELETE' | translate }}
        </bla-button>
      </div>
    </div>
  </form>

</bla-common-dialog>
