<div class="table-responsive">
  <table *ngIf="visible"
         [id]="id"
         class="table table-hover table-sm table-responsive-sm thead-light">
    <!-- Table Head with Headings and sort buttons -->
    <thead>

    <tr>
      <th *ngFor="let column of config.columns"
          [style.width]="getColumnWidth(column.width)">

        <!-- sortable columns -->
        <div style="white-space: nowrap;">
          {{ column.translationKey | translate}}
          <span (click)="sortColumn(column)"
                id="{{column.translationKey.toLowerCase()}}Sorted">
            <fa-icon [icon]="getSortingIcon(column)"></fa-icon>
        </span>
        </div>
      </th>

      <!-- action column should not be sortable -->
      <th *ngIf="hasActions()"
          [style.width]="getColumnWidth(config.actions.width)">
        <div>
          {{ config.actions.localizationKeys.actionColum | translate}}
        </div>
      </th>

    </tr>

    </thead>


    <tbody *ngIf="!isLoading() && !isEmptyTable()">
    <tr (click)="onRow(row.payload)"
        *ngFor="let row of rows"
        [class.disabled]="hasLoadingActions(row)"
        [id]="getRowId(row)"
        class="row-clickable">

      <!-- data columns -->
      <td *ngFor="let column of config.columns"
          [class]="getStyleClass(row, column)"
          [id]="getCellId(row, column)"
          [ngSwitch]="column.type">

          <span *ngSwitchCase="TableColumnType.TEXT">
            {{formatText(row, column)}}
          </span>


        <span *ngSwitchCase="TableColumnType.NUMBER">
            {{formatNumber(row, column)}}
          </span>


        <span *ngSwitchCase="TableColumnType.DATE">
            {{ row.getText(column) | date: 'dd.MM.yyyy' }}

          <!--{{formatDate(row, column)}}-->

          </span>

        <span *ngSwitchCase="TableColumnType.TRANSLATION_KEY">
           {{getLocalizedText(row, column)}}
          </span>

        <span *ngSwitchCase="TableColumnType.CUSTOM_MAPPING">
           {{getMappedText(row, column)}}
          </span>

        <span *ngSwitchDefault>
            {{formatText(row, column)}}
          </span>
      </td>

    </tr>
    </tbody>

    <!-- placeholder for empty tables -->
    <tbody [colspan]="getNumberOfColumns()"
           [visible]="!isLoading() && isEmptyTable()"
           bla-table-empty-placeholder>
    </tbody>

    <!-- placeholder for loading tables -->
    <tbody [colspan]="getNumberOfColumns()"
           [visible]="isLoading()"
           bla-table-loading-placeholder>
    </tbody>

    <tfoot>

    </tfoot>

  </table>
</div>
