/* Farbkonzept Website */
$primary: #02bdd5; // Links, Navbar
$primary-light: #b4ffff; // Sidebar-Background
$primary-dark: #007c91; // Sidebar-Font
$secondary: #ffc107; // hover Tables, Button
$secondary-light: #fff350;
$secondary-dark: #ff833a; // hover Links, Logo

.sidebar-link {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: start;
}

.sidebar-link.inactive {
  justify-content: center;
}

.sidebar-text {
  padding-left: 10px; //more space to Icon
}
