<!-- fa-*x is the size of the icon with * = 2,3,4,5 -->
<div id="settingsDetails">
  <h1 id="heading">{{ 'DETAILS.TITLE' | translate }}</h1>

  <!-- Data selected -->
  <div *ngIf="dataSelected == true">

    <h3 id="headingKey">{{ 'DETAILS.KEY' | translate }}: {{data.key}}</h3>
    <h3 id="headingVersion">{{ 'DETAILS.VERSION' | translate }}:</h3>

    <div>
      <form class="needs-validation"
            novalidate>
        <!-- Input Key -->
        <div class="form-group row">
          <label id="labelKeyData"
                 for="inputKeyData"
                 class="col-sm-2 col-form-label">{{ 'DETAILS.KEY' | translate }}</label>
          <div class="col-sm-10">
            <input class="form-control"
                   type="text"
                   id="inputKeyData"
                   [(ngModel)]="data.key"
                   name="key"
                   placeholder="{{data.key}}"
                   readonly>
          </div>
        </div>
        <!-- Input Value -->
        <div class="form-group row">
          <label id="labelValueData"
                 for="inputValueData"
                 class="col-sm-2 col-form-label">{{ 'DETAILS.VALUE' | translate }}</label>
          <div class="col-sm-10">
            <input (keyup.enter)="saveData()"
                   class="form-control"
                   type="text"
                   id="inputValueData"
                   [(ngModel)]="data.value"
                   name="value"
                   placeholder="{{data.value}}">
          </div>
        </div>
      </form>

      <!-- Button Footer -->
      <div class="menu">
        <a id="backData"
           routerLink="/settings/overview">
          <button type="button"
                  class="btn">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
          </button>
        </a>
        <a id="deleteData">
          <button type="button"
                  class="btn btn-danger"
                  (click)="deleteThisData()">{{ 'DETAILS.DELETE' | translate }}
          </button>
        </a>
        <a id="saveData"
           routerLink="{{'/settings/details/' + data.key}}">
          <button type="button"
                  class="btn btn-success"
                  (click)="saveData()">{{ 'DETAILS.SAVE' | translate }}
          </button>
        </a>
      </div>

    </div>
  </div>

  <!-- No Data selected -->
  <div *ngIf="dataSelected == false">

    <form>
      <!-- Input Key -->
      <div class="form-group row">
        <label id="labelKeyNoData"
               for="inputKeyNoData"
               class="col-sm-2 col-form-label">{{ 'DETAILS.KEY' | translate }}</label>
        <div class="col-sm-10">
          <input class="form-control"
                 type="text"
                 id="inputKeyNoData"
                 [(ngModel)]="data.key"
                 name="key"
                 placeholder="Key"> <!-- readonly -->
        </div>
      </div>
      <!-- Input Value -->
      <div class="form-group row">
        <label id="labelValueNoData"
               for="inputValueNoData"
               class="col-sm-2 col-form-label">{{ 'DETAILS.VALUE' | translate }}</label>
        <div class="col-sm-10">
          <input (keyup.enter)="saveNewData()"
                 class="form-control"
                 type="text"
                 id="inputValueNoData"
                 [(ngModel)]="data.value"
                 name="value"
                 placeholder="Value"> <!-- readonly -->
                                      <!-- number input
                                      <input type="number" min="0" step="1" data-bind="value:replyNumber" [value]="data.value" class="form-control" id="inputValue" placeholder="Value"> -->
        </div>
      </div>
    </form>

    <!-- Button Footer -->
    <div class="menu">
      <a id="backNoData"
         routerLink="/settings/overview">
        <button type="button"
                class="btn">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
        </button>
      </a>
      <a id="saveNoData"
         routerLink="/settings/details">
        <button type="button"
                class="btn btn-success"
                (click)="saveNewData()">{{ 'DETAILS.SAVE' | translate }}
        </button>
      </a>
    </div>

  </div>
</div>

<!-- <pre><code>{{data|json}}</code></pre> -->
