<h1>{{ 'DETAILS.TITLE' | translate }}</h1>

<!-- Data selected -->
<div *ngIf="dataSelected == true">
  <h3>{{ 'DETAILS.KEY' | translate }}: {{data.key}} {{ 'DETAILS.VERSION' | translate }}:</h3>

  <h3>{{data.value}}</h3>

  <div>

    <form class="needs-validation" novalidate>
      <div class="form-group row">
        <label for="inputKeyData" class="col-sm-2 col-form-label">{{ 'DETAILS.KEY' | translate }}</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" id="inputKeyData" [(ngModel)]="data.key" name="key" placeholder="{{data.key}}" readonly>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputValueData" class="col-sm-2 col-form-label">{{ 'DETAILS.VALUE' | translate }}</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" id="inputValueData" [(ngModel)]="data.value" name="value" placeholder="{{data.value}}">
        </div>
      </div>
    </form>

    <div class="menu">
      <a routerLink="/settings/overview"><button type="button" class="btn"><i class="material-icons">keyboard_arrow_left</i></button></a>
      <a routerLink="/settings/overview"><button type="button" class="btn btn-danger" (click)="deleteThisData()">{{ 'DETAILS.DELETE' | translate }}</button></a>
      <a routerLink="{{'/settings/details/' + data.key}}"><button type="button" class="btn btn-success" (click)="saveData()">{{ 'DETAILS.SAVE' | translate }}</button></a>
    </div>

  </div>
</div>

<!-- No Data selected -->
<div *ngIf="dataSelected == false">

  <form>
    <div class="form-group row">
      <label for="inputKey" class="col-sm-2 col-form-label">{{ 'DETAILS.KEY' | translate }}</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" id="inputKey" [(ngModel)]="data.key" name="key" placeholder="Key"> <!-- readonly -->
      </div>
    </div>
    <div class="form-group row">
      <label for="inputValue" class="col-sm-2 col-form-label">{{ 'DETAILS.VALUE' | translate }}</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" id="inputValue" [(ngModel)]="data.value" name="value" placeholder="Value"> <!-- readonly -->
        <!-- number input
        <input type="number" min="0" step="1" data-bind="value:replyNumber" [value]="data.value" class="form-control" id="inputValue" placeholder="Value"> -->
      </div>
    </div>
  </form>

  <div class="menu">
    <a routerLink="/settings/overview"><button type="button" class="btn"><i class="material-icons">keyboard_arrow_left</i></button></a>
    <a routerLink="/settings/details"><button type="button" class="btn btn-success" (click)="saveNewData()">{{ 'DETAILS.SAVE' | translate }}</button></a>
  </div>

</div>

<!-- <pre><code>{{data|json}}</code></pre> -->
