<bla-modal-dialog [visible]="showDialog"
                  [modalDialogOption]="getModalDialogOption()"
                  (onClose)="modalDialogResult($event)">
  <h5 class="modal-dialog-header">
    <i class="fa"
       [ngClass]="getModalDialogHeadingIconClass()"></i>
    {{notification.title | translate }}
  </h5>
  <div class="modal-dialog-content">
    {{ getDescription() }}
  </div>


  <div class="modal-dialog-details"
       *ngIf="notification.details">

    <bla-button style="background-color: #8ac679"
          [buttonSize]="ButtonSize.SMALL"
          (onClick)="toggleDetails()"
          data-toggle="collapse"
          href="#collapseErrorMessage"
          aria-expanded="false"
          aria-controls="collapseErrorMessage">
          <div *ngIf="toggleOn; else elseBlock">
            <i class="fas fa-caret-up"></i> {{'NOTIFICATION.INFO.WENIGER'|translate}}
          </div>
          <ng-template #elseBlock>
            <i class="fas fa-caret-down"></i> {{'NOTIFICATION.INFO.MEHR'|translate}}
          </ng-template>
    </bla-button>


    <div class="collapse"
         id="collapseErrorMessage">
      <div class="card card-body modal-dialog-error">
        <!-- show pre formatted payload -->
        <pre><code>{{notification.details}}</code></pre>

        <bla-button [buttonSize]="ButtonSize.SMALL"
                    (onClick)="showRaw()">
          <i class="fas fa-file-export"></i> {{'NOTIFICATION.INFO.ROHDATEN_OEFFNEN'|translate}}
        </bla-button>
      </div>
    </div>


  </div>
</bla-modal-dialog>
