#notification-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.modal-content {
  border: 0;
}

.btn-notification {
  min-width: 6rem;
}

.modal-dialog-details {
  padding-top: 1rem
}

.modal-dialog-error {
  max-height: 15rem;
  padding: 0.5rem;
}
