<div class="dialog-content">

  <!-- Content -->
  <section class="overview-dialog-content">

    <bla-vereine-data-table [config]="config.tableConfig"
                    [rows]="rows"
                    [loading]="loading"
                    (onViewEntry)="onView($event)"
                    (onEditEntry)="onEdit($event)"
                    (onDeleteEntry)="onDelete($event)"
                    (onRowClicked)="onRow($event)">

    </bla-vereine-data-table>

  </section>

  <!-- Footer -->
  <section class="overview-dialog-footer">


  </section>

</div>
