<bla-common-dialog [config]="config"
                   [loading]="loading">

  <form id="dsbMannschaftForm"
        class="horizontal-form half-page"
        #dsbMitgliedForm="ngForm">

<!--
    <div class="form-group row">
      <label for="dsbMannschaftsnummer"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.DSBMANNSCHAFT_DETAIL.FORM.DSBMANNSCHAFTNUMMER.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               required
               id="dsbMannschaftsnummer"
               name="dsbMannschaftsnummer"
               #dsbMannschaftsnummer="ngModel"
               [(ngModel)]="currentDsbMannschaft.mannschaftsnummer"
               [class.is-invalid]="dsbMannschaftsnummer.invalid && !dsbMannschaftsnummer.untouched"
               placeholder="{{ 'MANAGEMENT.DSBMANNSCHAFT_DETAIL.FORM.DSBMANNSCHAFTNUMMER.PLACEHOLDER' | translate }}">

        <div class="invalid-feedback">
          {{ 'MANAGEMENT.DSBMANNSCHAFT_DETAIL.FORM.DSBMANNSCHAFTNUMMER.ERROR' | translate }}
        </div>
      </div>
    </div> -->

    <div class="form-group row">
      <label for="dsbMannschaftID"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.DSBMANNSCHAFT_DETAIL.FORM.DSBMANNSCHAFT_ID.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               required
               id="dsbMannschaftID"
               name="dsbMannschaftID"
               #dsbMannschaftsnummer="ngModel"
               [(ngModel)]="currentDsbMannschaft.vereinsId"
               [class.is-invalid]="dsbMannschaftsnummer.invalid && !dsbMannschaftsnummer.untouched"
               placeholder="{{ 'MANAGEMENT.DSBMANNSCHAFT_DETAIL.FORM.DSBMANNSCHAFT_ID.PLACEHOLDER' | translate }}">

        <div class="invalid-feedback">
          {{ 'MANAGEMENT.DSBMANNSCHAFT_DETAIL.FORM.DSBMANNSCHAFT_ID.ERROR' | translate }}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="dsbVereinsnummer"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.DSBMANNSCHAFT_DETAIL.FORM.DSBVEREINNUMMER.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               required
               id="dsbVereinsnummer"
               name="dsbVeriensnummer"
               #dsbMannschaftsnummer="ngModel"
               [(ngModel)]="currentDsbMannschaft.vereinsId"
               [class.is-invalid]="dsbMannschaftsnummer.invalid && !dsbMannschaftsnummer.untouched"
               placeholder="{{ 'MANAGEMENT.DSBMANNSCHAFT_DETAIL.FORM.DSBVEREINNUMMER.PLACEHOLDER' | translate }}">

        <div class="invalid-feedback">
          {{ 'MANAGEMENT.DSBMANNSCHAFT_DETAIL.FORM.DSBVEREINNUMMER.ERROR' | translate }}
        </div>
      </div>
    </div>


    <!-- TODO: VEREIN ID, use dropdown list -->
    <div class="form-group row">
      <label for="DsbMannschaftNummer"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.DSBMANNSCHAFT_DETAIL.FORM.DSBMANNSCHAFTNUMMER.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="number"
               class="form-control"
               required
               min="1"
               id="DsbMannschaftNummer"
               name="DsbMannschaftNummer"
               #mannschaftVerein="ngModel"
               [(ngModel)]="currentDsbMannschaft.vereinsId"
               [class.is-invalid]="mannschaftVerein.invalid && !mannschaftVerein.untouched"
               placeholder="{{ 'MANAGEMENT.DSBMANNSCHAFT_DETAIL.FORM.DSBMANNSCHAFTNUMMER.PLACEHOLDER' | translate }}">

        <div class="invalid-feedback">
          {{ 'MANAGEMENT.DSBMANNSCHAFT_DETAIL.FORM.DSBMANNSCHAFTNUMMER.ERROR' | translate }}
        </div>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9 button-box">


        <bla-button *ngIf="!entityExists()"
                    [id]="'dsbMannschaftSaveButton'"
                    [disabled]="!dsbMitgliedForm.valid"
                    [loading]="saveLoading"
                    (onClick)="onSave($event)">
          {{ 'MANAGEMENT.DSBMANNSCHAFT_DETAIL.FORM.SAVE' | translate }}
        </bla-button>
        <bla-button *ngIf="entityExists()"
                    [id]="'dsbMannschaftUpdateButton'"
                    [disabled]="!dsbMitgliedForm.valid"
                    [loading]="saveLoading"
                    (onClick)="onUpdate($event)">
          {{ 'MANAGEMENT.DSBMANNSCHAFT_DETAIL.FORM.UPDATE' | translate }}
        </bla-button>

        <bla-button *ngIf="entityExists()"
                    [buttonType]="ButtonType.DANGER"
                    [loading]="deleteLoading"
                    (onClick)="onDelete($event)">
          {{ 'MANAGEMENT.DSBMANNSCHAFT_DETAIL.FORM.DELETE' | translate }}
        </bla-button>
      </div>
    </div>
  </form>

</bla-common-dialog>
