<bla-navigation-dialog [config]="config">
  <ng-container>
    <div class="hilfeseite-container">
      <div class="hilfe-iframe-container">
        <iframe
          [src]="getWikiUrl()"
          title="wiki-iframe"
          id="wiki-iframe"
          width="1100"
          height="500"
          name="Hilfeseite_eingebunden">
          <p>
            Ihr Browser kann leider keine eingebetteten Frames anzeigen:
            Sie können die eingebettete Seite über den folgenden Verweis aufrufen:
            <a [href]="getWikiUrl()">SELFHTML</a>
          </p>
        </iframe>
      </div>
    </div>
  </ng-container>
</bla-navigation-dialog>
