h3{font-weight: bold}

#section-table {
  padding: 50px;
}
.hilfeseite-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 30px;
}

.hilfe-iframe-container {
  width: 100%;
  height: 100%;
}
#hilfe-button {
  margin: 50px;
}

.section-btn {
  margin: 15px;
  min-width: 18rem;
}

#wiki-iframe {
  border: 5px #7e7e7e solid;
  border-radius: 10px;
  margin-left: 7rem;
}

#section-table {
  padding: 10px;
}

.demo {
  float: left;
  clear: none;
}
