<bla-navigation-dialog [config]="config">
  <bla-hilfe-button href="https://wiki.bsapp.de/doku.php?id=liga:vereine"></bla-hilfe-button>
  <p class="subtitle">{{ 'VEREINE.VEREINE.DESCRIPTION' | translate }}</p>

  <bla-quicksearch (onSearchEntry)="findBySearch($event)"
                   [sessionSearch]="searchTerm">
  </bla-quicksearch>
  <div class="row m-0">
    <bla-data-table [config]="config_table"
                    [rows]="rows"
                    [loading]="loading"
                    (onRowEntry)="getSelectedRow($event)"
                    id="vereine-table" class="w-auto">
    </bla-data-table>
  </div>
</bla-navigation-dialog>
