<bla-navigation-dialog (mouseover)="onMouseOver($event)"
                       [config]="config">
  <bla-hilfe-button href="https://wiki.bsapp.de/doku.php?id=liga:vereine"
                    target="_blank"></bla-hilfe-button>
  <div class="row">
    <bla-col-layout>

      <h2>Vereinsauswahl:  {{ getSelectedDTO() }}</h2>

      <bla-quicksearch-list (onSelect)="onSelect($event)"
                            [selectedItemIds]=[selectedVereinsId]
                            [items]="vereine"
                            [loading]="loadingVereine"
                            [multipleSelections]="!multipleSelections"
                            [placeholderTranslationKey]="PLACEHOLDER_VAR"
                            [optionFieldSelector]="'name'"
                            selectionListHeight="15em"
                            style="width: 50%; flex-grow: 0;">

      </bla-quicksearch-list>
    </bla-col-layout>
  </div>

  <div class="row">
    <bla-data-table
                    [config]="config_table"
                    [loading]="loadingTable"
                    [rows]="rows"

                    (onColumnEntry)="getSelectedColumn($event)"
                    (onRowEntry)="getSelectedRow($event)"
                    (onMapEntry)="onMap($event)">
      <!-- Is currently not in use/implemented
                    (onDeleteClicked)="onDelete($event)"
                    (onEditClicked)="onEdit($event)"
                    (onViewClicked)="onView($event)"
      -->

    </bla-data-table>
  </div>

</bla-navigation-dialog>
