<bla-navigation-dialog [config]="config">

  <div class="row">
    <bla-col-layout>

      <h2>Vereinsauswahl:  {{ getSelectedDTO() }}</h2>

      <bla-quicksearch-list (onSelect)="onSelect($event)"
                            [selectedItemIds]="[5]"
                            [items]="vereine"
                            [loading]="loadingVereine"
                            [multipleSelections]="!multipleSelections"
                            [placeholderTranslationKey]="PLACEHOLDER_VAR"
                            [optionFieldSelector]="'name'"
                            selectionListHeight="15em"
                            style="width: 50%; flex-grow: 0;">

      </bla-quicksearch-list>
    </bla-col-layout>
  </div>

  <div class="row">
    <bla-data-table
                    [config]="config_table"
                    [loading]="loadingTable"
                    [rows]="rows"

                    (onMapEntry)="onMap($event)">
      <!-- Is currently not in use/implemented
                    (onDeleteClicked)="onDelete($event)"
                    (onEditClicked)="onEdit($event)"
                    (onViewClicked)="onView($event)"
      -->

    </bla-data-table>
  </div>

</bla-navigation-dialog>
