<bla-common-dialog [config]="config"
                   [loading]="loading">
  <bla-hilfe-button href="https://wiki.bsapp.de/doku.php?id=liga:schuetzemannschafthinzufuegen" target="_blank"></bla-hilfe-button>

  <form id="schützeForm"
        class="horizontal-form half-page"
        #schützeForm="ngForm">

    <!-- Vorname -->
    <div class="form-group row">
      <label for="memberVorname"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.SCHUETZE_HINZUFUEGEN.FORM.VORNAME.LABEL' | translate }}</span>
      </label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               id="memberVorname"
               name="memberVorname"
               #memberVorname="ngModel"
               [(ngModel)]="filterVorname"
               (input) = "onSearch()"
               placeholder="{{ 'MANAGEMENT.SCHUETZE_HINZUFUEGEN.FORM.VORNAME.PLACEHOLDER' | translate }}">
      </div>
    </div>

    <!-- Nachname -->
    <div class="form-group row">
      <label for="memberNachname"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.SCHUETZE_HINZUFUEGEN.FORM.NACHNAME.LABEL' | translate }}</span>
      </label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               id="memberNachname"
               name="memberNachname"
               #memberNachname="ngModel"
               [(ngModel)]="filterNachname"
               (input) = "onSearch()"
               placeholder="{{ 'MANAGEMENT.SCHUETZE_HINZUFUEGEN.FORM.NACHNAME.PLACEHOLDER' | translate }}">
      </div>
    </div>

      <!-- Mitgliedsnummer -->
    <div class="form-group row">
    <label for="memberVorname"
           class="col-sm-3 col-form-label">
      <span>{{ 'MANAGEMENT.SCHUETZE_HINZUFUEGEN.FORM.MITGLIEDSNUMMER.LABEL' | translate }}</span>
    </label>
    <div class="col-sm-9">
      <input type="text"
             class="form-control"
             id="memberNummer"
             name="memberNummer"
             #memberNummer="ngModel"
             [(ngModel)]="filterMitgliedsnummer"
             (input) = "onSearch()"
             placeholder="{{ 'MANAGEMENT.SCHUETZE_HINZUFUEGEN.FORM.MITGLIEDSNUMMER.PLACEHOLDER' | translate }}">
    </div>
  </div>

    <!-- Vereine -->
    <!-- Filter zurücksetzen -->
    <div class="form-group row">
      <div class="col-sm-auto button-box">
       <bla-button (onClick)="deleteFilter()"
                   [buttonType]="ButtonType.DANGER">
         {{'MANAGEMENT.SCHUETZE_HINZUFUEGEN.FORM.RESET_FILTER' | translate }}
       </bla-button>
      </div>
    </div>
  </form>

  <h3> Gefundene Schützen: </h3>
  <bla-data-table [config]="table_config"
                  [rows]="rows"
                  [loading]="loading"
                  (onAddEntry)="onSave($event)">
  </bla-data-table>

</bla-common-dialog>
