@import 'src/styles.scss';

.dropdown-item {
  cursor: pointer
}

.dropdown-item:active {
  color: $hero-blue;
  background-color: $light-gray;
}

.bla-dropdown-menu {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  text-align: left;
}

.dropdown-toggle::after {
  position: absolute;
  right: 1em;
  top: 1em;
}

.dropdown-menu {
  width: 100%;
}
