/* Farbkonzept Website */
$primary: #02bdd5; // Links, Navbar
$primary-light: #b4ffff; // Sidebar-Background
$primary-dark: #007c91; // Sidebar-Font
$secondary: #ffc107; // hover Tables
$secondary-light: #fff350;
$secondary-dark: #ff833a; // hover Links, Logo


input, label {
  display: block;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input {
  height: 55px;
  width: 55px;
  -moz-appearance: textfield;
  font-size: 30px;
  text-align: center;

  &:focus {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(5, 122, 255, 1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(5, 122, 255, 1);
    box-shadow: 0px 0px 8px 0px rgba(5, 122, 255, 1);
  }
}


tr, th, td {
  alignment: center;
  text-align: center;
  margin: 10px;
  font-size: 10px;
  padding: 5px;
}

/deep/ .boxes {
  padding-top: 30px;
  margin-top: 30px;
}

td {
  font-size: 16px;
  margin: 30px;
  padding: 5px;
}

label {
  font-size: 10px;
}


.btn {
  margin: 0px 15px 20px 20px;
}

.signature, hr {
  visibility: hidden;
}

/deep/ h1 {
  font-weight: bold;
  font-size: 50px;
  text-indent: 0px;
  margin-bottom: 5%;
  margin-left: -20px;
}

/deep/ h2 {
  font-weight: bold;
  font-size: 33px;
}

/deep/ table {
  width: 100%;
  margin-bottom: 2%;
}

/deep/ .box {
  border: 3px solid #000000;
  height: 105px;
  width: 140px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

/deep/ .td_spacing {
  border-spacing: 0 20px;
  border-collapse: separate;
}

/deep/ .unterschrift {
  font-weight: bold;
  vertical-align: top;
  width: 30px;
  font-size: 22px;
}

/deep/ .fillerbox1 {
  width: 10px;
}

@media print {

  /deep/ .print {
    page-break-after: auto;
    height: 99%;
  }

  /deep/ h1 {
    font-weight: bold;
    font-size: 60px;
    margin-left: -20px;
    margin-bottom: 5%;
    margin-top: 10px;
  }

  /deep/ h1:first-of-type {
    font-weight: bold;
    font-size: 60px;
    text-indent: 0px;
    margin-bottom: 5%;
    margin-left: -20px;
    margin-top: 0px;
  }

  /deep/ th {
    margin-left: 0px;
    padding-left: 0px;
    text-align: left;
  }

  /deep/ h2 {
    font-weight: bold;
    font-size: 37px;
  }

  /deep/ .box {
    border: 1px solid #000000;
    height: 105px;
    width: 140px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  /deep/ .td_spacing {
    border-spacing: 0 15px;
    border-collapse: separate;
  }

  /deep/ .unterschrift {
    font-weight: bold;
    vertical-align: top;
    width: 30px;
    font-size: 28px;
  }

  /deep/ .fillerbox1 {
    width: 10px;
  }

  /deep/ .lizenz_space {
    margin-top: 10% !important;
    margin-bottom: 10% !important;
    display: table-header-group !important;
  }

  /deep/ h6 {
    page-break-after: always;
    font-size: 20px;
  }

  /deep/ h6:last-of-type {
    page-break-after: unset;
  }

  /deep/ p {
    font-size: 10px !important;
    margin-bottom: 10px;
    color: transparent;
    margin-top: 10px;
  }

  /deep/ footer {
    visibility: hidden;
  }

}

.fehlerfeld {
  margin-left: -26px;
}
