/* Farbkonzept Website */
@import 'src/styles.scss';

$primary: #02bdd5; // Links, Navbar
$primary-light: #ffffff; // Sidebar-Background
$primary-dark: #2A2A2A; // Sidebar-Font
$secondary: #ffc107; // hover Tables, Button
$secondary-light: #fff350;
$secondary-dark: #ff833a; // hover Links, Logo

$navbar-height: 5.2em;
$sidebar-border-style: 1px solid rgba(0, 0, 0, .125);

// SIDEBAR Element Shadow Variables
$outer-shadow:8px 11px 8px -10px $light-gray, 8px -11px 8px -10px $light-gray;
$inner-shadow:inset 0px 11px 8px -10px $light-gray, inset 0px -11px 8px -10px $light-gray;

.navbar-nav{
  background-color: $primary-white;
}


// template class for Sidebar-Slider
.sidebarSliderClass {
  border-inline-start: 8px;
  border-inline-start-color: transparent;
  border-inline-start-style: solid;
}
.sidebarTransparentBorderClass {
  border-inline-end: 8px;
  border-inline-end-color: transparent;
  border-inline-end-style: hidden;
}
// template class for Sidebar Element Shadow
.outerShadow{
  -webkit-box-shadow:8px 11px 8px -10px $light-gray, 8px -11px 8px -10px $light-gray;
  box-shadow:8px 11px 8px -10px $light-gray, 8px -11px 8px -10px $light-gray;
}
// templete class for Sidebar Element inner Shadow
.innerShadow{
  -webkit-box-shadow:inset 0px 11px 8px -10px $light-gray, inset 0px -11px 8px -10px $light-gray;
  box-shadow: inset 0px 11px 8px -10px $light-gray, inset 0px -11px 8px -10px $light-gray;

}

#sidebar {
  min-width: 300px;
  max-width: 300px;
  min-height: calc(100vh - 5.2em); //full view - Navbar on top
  max-height: calc(100vh - 5.2em); //max-height needed to support scrollabilty
  margin-top: $navbar-height; //height of NavBar
  background: $true-white; //#343a40;
  color: $primary-black;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  position: fixed; // stays fixed on the side while scrolling
  z-index: 12; // layers of the rest of the page

  border-right: $sidebar-border-style;


  -webkit-box-shadow: 2px 8px 8px 0px $light-gray;
  box-shadow: 2px 8px 8px 0px $light-gray;

  overflow-y: scroll; // overflow in y direction is scrollable
  -ms-overflow-style: none; // scrollbar wont be displayed on firefox
  scrollbar-width:none;
  //border-radius: 0px 0px 50px 0px; // runde ecke am menü

}
#sidebar::-webkit-scrollbar { // no scrollbar in Safari, Chrome, Opera
  display: none;
}

#sidebar::-webkit-scrollbar {
  display: none;
}

// basic sidebar inactive css
#sidebar.inactive {
  min-width: 80px;
  max-width: 80px;
  //text-align: center;
}

// basic css list and paragraph
#sidebar ul p {
  color: $primary-black;
  padding: 10px;
}

// basic css list and link
#sidebar a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  text-align: left;
  //color: $primary-dark;
}

//// basic css list and link with hover
//#sidebar a:hover {
//  color: $primary-light;
//  background: $primary-dark;
//}

// Sidebar Header
#sidebar .sidebar-header {
  display: none;
}

// Sidebar Header Titleshort
#sidebar.inactive .sidebar-header p {
  color: $primary-black;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: $sidebar-border-style;
}

#sidebar.inactive ul li a {
  text-align: center;
}

#sidebar ul li.inactive > a, a[aria-expanded="true"] {
  color: $primary-black;
  background: $true-white;
}

#sidebarFooter {
  border-top: $sidebar-border-style;
}

// Dropdown

/* Same dropdown links padding*/
#sidebar.active ul ul a {
  padding: 10px !important;
}

/* Changing the arrow position to bottom center position,
   translateX(50%) works with right: 50%
   to accurately  center the arrow */
#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

// Button to change small to wide / wide to small
#sidebarCollapseBottom {
  background: $true-white;
  display: flex;
  flex-basis: 100%;
  cursor: pointer;
  color: $primary-black;
  //border: 1px solid #343a40;
}

// rows in button
#sidebarCollapseBottom span {
  width: 80%;
  height: 2px;
  display: block;
  background: $true-white;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  opacity: 1;
}

// hide sidebar backdrop on desktop clients
#sidebar-backdrop {
  display: none;
}

.flexBox {
  display: flex;
  flex-direction: row;
}

.sidebar-dropdown-toggle {
  color: $primary-black;
  outline: none;
}


div.sidebar-text-toggle.flexBox{
  padding-inline-start: 10px !important;
}



.sidebar-text-toggle {
  color: $primary-black;
  height: 3rem;
  padding-inline-end: 5px;
  @extend .sidebarSliderClass;

  .sidebar-dropdown-toggle {
    color: $primary-black;
  }

  .navbar-text {
    color: $primary-black;
  }
}

.nav-item:hover{
  @extend .outerShadow;
}
.nav-link {
  color: $primary-black;
}

.nav-link:hover {
  color: $hero-blue;
  background-color: $primary-white;
}

// hover over complete element -> text and toggle need to change
.sidebar-text-toggle:hover {
  color: $primary-light;
  //background: $light-gray;
  border-inline-start-color: $hero-blue !important;

  @extend .outerShadow;

  .sidbar-dropdown-toggle {
    color: $hero-blue;
  }

  .navbar-text {
    color: $hero-blue;
  }
}


.selected .sidebar-text-toggle{
  //border-left: 8px solid $primary-dark;
  //margin-right: -8 px;
  border-inline-start-color: $hero-blue !important;
  background-color:$primary-white;
  @extend .innerShadow;

}
.selected .sidebar-text-toggle a{
  color:$hero-blue;
}

.subselected a{
  color:$hero-blue;
}


// for small devices
@media (max-width: 768px) {
  #sidebar {
    margin-left: 0;
    margin-top: $navbar-height; //height of NavBar
    min-height: calc(100vh); //full view - Navbar on top
  }
  #sidebar a {
    padding-left: 1em;
  }
  #sidebar .sidebar-header {
    display: block;
    padding: 1em 0 0 1em;
  }
  #sidebar.inactive {
    margin-left: -80px;
  }
  #sidebarFooter {
    display: none;
  }



  // show sidebar backdrop on mobile devices
  #sidebar-backdrop {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-property: background-color, visibility;
    top: 52px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
    z-index: 3;
  }

  .backdrop-visible {
    background-color: rgba(0, 0, 0, 0.6);
    visibility: visible;
  }

  .backdrop-hidden {
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
  }
}
