// basic sidebar css

/* Farbkonzept Website */
$primary: #02bdd5; // Links, Navbar
$primary-light: #b4ffff; // Sidebar-Background
$primary-dark: #007c91; // Sidebar-Font
$secondary: #ffc107; // hover Tables, Button
$secondary-light: #fff350;
$secondary-dark: #ff833a; // hover Links, Logo

$navbar-height: 4em;
$sidebar-border-style: 1px solid rgba(0, 0, 0, .125);

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: calc(100vh - 4em); //full view - Navbar on top
  margin-top: $navbar-height; //height of NavBar
  background: $primary-light; //#343a40;
  color: $primary-dark;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  position: fixed; // stays fixed on the side while scrolling
  z-index: 12; // layers of the rest of the page
  border-right: $sidebar-border-style;
}

// basic sidebar inactive css
#sidebar.inactive {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
  //opacity: 0.4;
}

// basic css list and paragraph
#sidebar ul p {
  color: $primary-dark;
  padding: 10px;
}

// basic css list and link
#sidebar a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  text-align: left;
  color: $primary-dark;
}

// basic css list and link with hover
#sidebar a:hover {
  color: $primary-light;
  background: $primary-dark;
}

// Sidebar Header
#sidebar .sidebar-header {
  display: none;
}

// Sidebar Header Titleshort
#sidebar.inactive .sidebar-header p {
  color: $primary-dark;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: $sidebar-border-style;
}

#sidebar.inactive ul li a {
  text-align: center;
}



#sidebar ul li.inactive > a, a[aria-expanded="true"] {
  color: $primary-dark;
  background: $primary-light;
}

#sidebarFooter {
  border-top: $sidebar-border-style;
}

// Dropdown

/* Same dropdown links padding*/
#sidebar.active ul ul a {
  padding: 10px !important;
}

/* Changing the arrow position to bottom center position,
   translateX(50%) works with right: 50%
   to accurately  center the arrow */
#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

// Button to change small to wide / wide to small
#sidebarCollapseBottom {
  background: $primary-light;
  display: flex;
  flex-basis: 100%;
  cursor: pointer;
  color: $primary-dark;
  //border: 1px solid #343a40;
}

// rows in button
#sidebarCollapseBottom span {
  width: 80%;
  height: 2px;
  display: block;
  background: $primary-light;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  opacity: 1;
}

// hide sidebar backdrop on desktop clients
#sidebar-backdrop {
  display: none;
}


// for small devices
@media (max-width: 768px) {
  #sidebar {
    margin-left: 0;
    margin-top: $navbar-height; //height of NavBar
    min-height: calc(100vh); //full view - Navbar on top
  }
  #sidebar a {
    padding-left: 1em;
  }
  #sidebar .sidebar-header {
    display: block;
    padding: 1em 0 0 1em;
  }
  #sidebar.inactive {
    margin-left: -80px;
  }
  #sidebarFooter {
    display: none;
  }

  // show sidebar backdrop on mobile devices
  #sidebar-backdrop {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-property: background-color, visibility;
    top: 52px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
    z-index: 3;
  }

  .backdrop-visible {
    background-color: rgba(0, 0, 0, 0.6);
    visibility: visible;
  }

  .backdrop-hidden {
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
  }
}
