<nav id="sidebar"
     [class.inactive]="isActive">
  <div style="flex-grow: 1">

    <!-- Sidebar Header -->
    <div class="sidebar-header">
      <h3 id="title"
          *ngIf="!isActive">{{'NAVBAR.TITLE' | translate }}</h3>
    </div>

    <!-- Sidebar links config -->
    <nav class="list-unstyled components">
      <ng-container *ngFor="let item of CONFIG">

        <li *ngIf="hasUserPermissions(item.permissons)" [class.selected]="isSelected(item.route)">

          <!-- Item of Navigation (with Button for Dropdown) -->
          <div class="sidebar-text-toggle" [class.flexBox]="!isActive" >

            <a routerLink="{{item.route}}"  class="navbar-text" [class.flexChild]="!isActive">
              <bla-sidebar-item label="{{ item.label | translate }}"
                                [icon]="item.icon"
                                [subitems]="item.subitems"></bla-sidebar-item>
            </a>

            <!-- Button for Dropdown -->
            <button *ngIf="existSubitems(item.subitems) && isActive == false" class="navbar-toggler sidbar-dropdown-toggle" [class.flexChild]="!isActive" [class.inactive]="isActive" type="button" data-toggle="collapse" attr.data-target="#collapsibleNavbar{{ label }}">
              <fa-icon class="navbar-toggler-icon" [icon]="faCaretDown" size="lg"></fa-icon>
            </button>
          </div>

          <!-- Navbar links -->
            <div *ngIf="existSubitems(item.subitems) && isActive == false" class="nav-subitems collapse navbar-collapse" [class.inactive]="isActive" id="collapsibleNavbar{{ label }}">
              <ul class="navbar-nav">
                <ng-container *ngFor="let subitem of item.subitems">
                  <ng-container *ngIf="hasUserPermissions(subitem.permissons)">
                    <li class="nav-item" [class.subselected]="isSelected(subitem.route)">
                      <a class="nav-link" routerLink="{{subitem.route}}">
                        <bla-sidebar-subitem label="{{ subitem.label | translate }}"></bla-sidebar-subitem>
                      </a>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </div>

        </li>
      </ng-container>
    </nav>
  </div>

  <!-- Sidebar Footer -->
  <div id="sidebarFooter"
       [class.inactive]="isActive">

    <a id="sidebarCollapseBottom"
       (click)="toggleSidebar()">
      <bla-sidebar-item label="{{ 'SIDEBAR.COLLAPSE' | translate }}"
                        [icon]="getSidebarCollapseIcon()"></bla-sidebar-item>
    </a>
  </div>
</nav>


<div id="sidebar-backdrop"
     [class.backdrop-visible]="!isActive"
     [class.backdrop-hidden]="isActive"
     (click)="toggleSidebar()"></div>
