<div class="container">
  <h2 class="mb-4 mt-3">Tabletverwaltung</h2>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th style="width: 33%">Scheibe</th>
        <th style="width: 33%">Status</th>
        <th style="width: 33%">Aktionen</th>
      </tr>

      <tr *ngFor="let session of sessions">
        <td>
          <span class="h4 text-secondary text-center m-0 p-0">{{session.scheibenNr}}</span>
        </td>

        <td>
          <span
            class="badge"
            [class.badge-success]="session.isActive"
            [class.badge-danger]="!session.isActive">
            {{session.isActive ? 'Aktiv' : 'Nicht aktiv'}}
          </span>
        </td>

        <td>
          <button *ngIf="session.isActive" class="btn btn-danger" (click)="updateSession(session.scheibenNr)">
            <fa-icon [icon]="'trash'"></fa-icon>
          </button>
          <button *ngIf="!currentDeviceIsActive" class="btn btn-success" (click)="updateSession(session.scheibenNr)">
            <fa-icon [icon]="'plus-circle'"></fa-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>

</div>
