/* Farbkonzept Website */
$primary: #02bdd5; // Links, Navbar
$primary-light: #b4ffff; // Sidebar-Background
$primary-dark: #007c91; // Sidebar-Font
$secondary: #ffc107; // hover Tables
$secondary-light: #fff350;
$secondary-dark: #ff833a; // hover Links, Logo


input, label {
  display:block;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input {
  height: 55px;
  width: 55px;
  -moz-appearance: textfield;
  font-size: 30px;
  text-align: center;
  &:focus {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(5,122,255,1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(5,122,255,1);
    box-shadow: 0px 0px 8px 0px rgba(5,122,255,1);
  }
}



tr, th, td {
  alignment: center;
  text-align: center;
  margin: 10px;
  font-size: 10px;
  padding: 5px;
}

td {
  font-size: 16px;
}

label {
  font-size: 10px;
}




.match1 {
  margin-top: 20px;
}

.match2 {
  margin-top: -150px;
  margin-bottom: 20px;
}

.match1, .match2 {
  border: 2px solid rgba(0,0,0,.1);
}

.schuetzensumme {
  font-size: 30px;
}

.btn {
  margin: 0px 15px 20px 20px;
}

.signature, hr {
  visibility: hidden;
}



@media print {
  input {
    border: 2px solid #dee2e6;
    height: 45px;
    width: 45px;
    font-size: 25px;
  }
  h1{
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }

  .match1{
    margin-bottom: 1cm;
  }

  .match2 {
    margin-top: 1cm;
  }
  .m1 {
    float: left;
  }
  .m2 {
    float: left;
    margin-left: 20%;
  }

  .signature {
    visibility: visible;
    margin-top: -2cm;
    margin-bottom: 1cm;
    border-bottom: 1px solid black;
    display: inline-block;
    width: 90%;
    p{
      margin-top: 1cm;
      margin-bottom: 0.5cm;
    }
  }
  .s1 {
    margin-top: 0.5cm;
    margin-bottom: -2cm;
  }

  hr {
    visibility: visible;
    width: 100%;
    height: 5px;
    border-style: dotted;
    size: 1px;
    background: #dee2e6;
    margin-top: 2.5cm;
    margin-bottom: 0.5cm;
  }

}

.fehlerfeld {
  margin-left: -26px;
}
