<div class="schusszettel-container">
  <div class="info-box">Tragen Sie hier mit einem Tap auf die Boxen die Treffer ein</div>
  <div class="title-block">
    <h1>Schusszettel</h1>
    <p>Team : _______<br>Datum : _______<br>Match vs.: _______<br>Posse Nr.: _______</p>
  </div>
  <div class="grid-wrapper">
    <div class="shooter-labels">
      <div class="label red"></div>
      <div class="label blue"></div>
      <div class="label yellow"></div>
    </div>
    <div class="shot-grid">
      <div *ngFor="let row of schuesse; let i = index">
        <input *ngFor="let val of row; let j = index" type="text" [(ngModel)]="schuesse[i][j]">
      </div>
    </div>
  </div>
  <button class="confirm-button" (click)="confirmPass()">
    EINGABE BESTÄTIGEN
    <span class="arrow">→</span>
  </button>
</div>
