  .button-footer {
    font-size: 25px;
    background: #cbcbcb;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: #4a4a4a;
    outline-style: none;
  }
  
  ::ng-deep body {
      overflow: hidden;
  }
  
  .button-square {
    background: #C4C4C4;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 125px;
    height: 125px;
    margin: 10px;
    color: #595959;
    font-size: 75px;
    outline-style: none;
    border: none;
  }

  .button-square.selected {
    background-color: #d69558;
}

.button-square.old {
  background-color: #d69558;
}

.button-square.new {
  background-color: #8ac679;
}

.btn-circle {
  background: #cbcbcb;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 75px;
  color: #4a4a4a;
  outline-style: none;
}

.btn-circle.header {
  width: 75px;
  height: 75px;
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-circle.header:focus {
  border-color: #73e5ef;
  border-width: 7.5px;
}

.btn-circle.header.selected {
  border-color: #73e5ef;
  border-width: 7.5px;
}

.btn-circle.current {
  background-color: #d69558;
}

.btn-circle.final {
  background-color: #d69558;
}

.btn-circle.unsure {
  background-color: #dd8583;
}






@media (max-width: 1200px) {
    .button-square {
        width: 110px;
        height: 110px;
        margin: 7.5px;
        font-size: 60px;
    }
    .btn-circle {
        width: 125px;
        height: 125px;
        font-size: 65px;
        margin: 7.5px;
    }
}

@media (max-width: 992px) {
    .button-square {
        width: 80px;
        height: 80px;
        margin: 5px;
        font-size: 45px;
    }
    .btn-circle {
        width: 100px;
        height: 100px;
        font-size: 45px;
        margin: 5px;
    }
}

@media (max-width: 768px) {
    .button-square {
    width: 80px;
    height: 80px;
    margin: 5px;
    font-size: 45px;
    }
    #miss {
        margin-bottom: 25px;
    }
}

@media (max-width: 576px) {
    .button-square {
        width: 65px;
        height: 65px;
        margin: 2.5px;
        font-size: 20px;
    }
    .btn-circle.header {
        width: 60px;
        height: 60px;
        font-size: 20px;
        margin-left: 2.5px;
        margin-right: 2.5px;
    }
    .btn-circle {
        width: 100px;
        height: 100px;
        font-size: 35px;
        margin: 5px;
    }
    .button-footer {
        font-size: 20px;
    }
    #miss {
        margin-bottom: 10px;
    }
}