.bla-spotter-container {
  display: grid;
  grid-template-rows: 10px 1fr 2fr 10px;
  grid-template-columns: 10px 1fr 10px;
  grid-template-areas:
    ". . ."
    ". bla-spotter-display ."
    ". bla-spotter-nummernfeld ."
    ". . .";
  height: 100vh;
  margin: 0;

  .bla-spotter-display {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 5fr;
    grid-area: bla-spotter-display;
    grid-template-areas:
      "Mannschaftsname WeitereFelder"
      "Bahnanzeige Punktefeld";
    grid-gap: 5px 5px;

    .display-header-Mannschaft {
      grid-area: Mannschaftsname;
      background-color: #8ac679;
    }

    .display-header-Bahnanzeige {
      grid-area: Bahnanzeige;
      background-color: #28A745;
    }

    .display-body {
      grid-area: Punktefeld;
      display: grid;
      grid-template-rows: 2fr 1fr;
      grid-template-areas:
        "Display-Punkteanzeige"
        "Display-Matchanzeige";

      .punkteanzeige {
        display: grid;
        grid-area: Display-Punkteanzeige;
        grid-template-columns: repeat(6, 1fr);
        gap: 2%;
        padding-left: 10%;
        padding-right: 10%;

        .circle {
          width: 100%;
          height: 100%;
          background-color: #888888;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 2rem;
          font-weight: bold;
        }

        .circle-text {
          display: inline-block;
        }
      }

      .matchanzeige {
        display: grid;
        grid-area: Display-Matchanzeige;
        grid-template-columns: repeat(5, 1fr);
        gap: 5%;
        padding-left: 20%;
        padding-right: 20%;



        .rounded-rectangle {
          width: 100%;
          height: 100%;
          background-color: #888888;
          border-radius: 25%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 1.5rem;
          font-weight: bold;
        }

        .rectangle-text {
          display: inline-block;
        }
      }
    }
  }

  .bla-spotter-nummernfeld {
    display: grid;
    grid-area: bla-spotter-nummernfeld;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "MissShot Punktefelder";
    grid-gap: 25px 25px;
    margin-top: 1%;

    .nummernfeld-miss-shot {
      display: grid;
      grid-area: MissShot;

      .punktefeld-M {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        border: 1px solid #ced4da;
        background-color: #888888;
        font-size: 5rem;
        font-weight: bold;
        cursor: pointer;
        border-radius: 10px;
        position: relative;
        width: 100%;
        height: 100%;
        transition: background-color 0.3s;

        &::before {
          content: '';
          position: absolute;
          top: -10px;
          bottom: -10px;
          left: -10px;
          right: -10px;
        }

        &:hover {
          background-color: #d6d6d6;
        }
      }
    }

    .nummernfeld-punktefelder {
      display: grid;
      grid-area: Punktefelder;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas:
        "zehn-unsicher neun-unsicher acht-unsicher sieben-unsicher sechs-unsicher"
        "zehn neun acht sieben sechs";
      grid-gap: 25px 25px;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        border: 1px solid #ced4da;
        font-size: 5rem;
        font-weight: bold;
        cursor: pointer;
        border-radius: 10px;
        position: relative;
        transition: background-color 0.3s;

        &::before {
          content: '';
          position: absolute;
          top: -20px;
          bottom: -20px;
          left: -20px;
          right: -20px;
        }

        &:hover {
          background-color: #d6d6d6;
        }
      }

      .punktefeld-10-unsicher {
        grid-area: zehn-unsicher;
        background-color: #FFCC34;
      }

      .punktefeld-9-unsicher {
        grid-area: neun-unsicher;
        background-color: #FFCC34;
      }

      .punktefeld-8-unsicher {
        grid-area: acht-unsicher;
        background-color: #F40E0E;
      }

      .punktefeld-7-unsicher {
        grid-area: sieben-unsicher;
        background-color: #F40E0E;
      }

      .punktefeld-6-unsicher {
        grid-area: sechs-unsicher;
        background-color: #487AF5;
      }

      .punktefeld-10 {
        grid-area: zehn;
        background-color: #FFCC34;
      }

      .punktefeld-9 {
        grid-area: neun;
        background-color: #FFCC34;
      }

      .punktefeld-8 {
        grid-area: acht;
        background-color: #F40E0E;
      }

      .punktefeld-7 {
        grid-area: sieben;
        background-color: #F40E0E;
      }

      .punktefeld-6 {
        grid-area: sechs;
        background-color: #487AF5;
      }
    }
  }
}
