<div class="bla-spotter-container">
  <div class="bla-spotter-display">
    <div class="display-header-Mannschaft"></div>
    <div class="display-header-Bahnanzeige"> </div>
    <div class="display-body">
      <div class="punkteanzeige">
        <div class="circle">
          <span class="circle-text">1</span>
        </div>
        <div class="circle">
          <span class="circle-text">2</span>
        </div>
        <div class="circle">
          <span class="circle-text">3</span>
        </div>
        <div class="circle">
          <span class="circle-text">4</span>
        </div>
        <div class="circle">
          <span class="circle-text">5</span>
        </div>
        <div class="circle">
          <span class="circle-text">6</span>
        </div>
      </div>
      <div class="matchanzeige">
        <div class="rounded-rectangle">
          <span class="rectangle-text">1</span>
        </div>
        <div class="rounded-rectangle">
          <span class="rectangle-text">2</span>
        </div>
        <div class="rounded-rectangle">
          <span class="rectangle-text">3</span>
        </div>
        <div class="rounded-rectangle">
          <span class="rectangle-text">4</span>
        </div>
        <div class="rounded-rectangle">
          <span class="rectangle-text">5</span>
        </div>
      </div>
    </div>
  </div>
  <div class="bla-spotter-nummernfeld">
    <div class="nummernfeld-miss-shot">
      <button class="punktefeld-M">M</button>
    </div>
    <div class="nummernfeld-punktefelder">
      <button class="punktefeld-10-unsicher">10*</button>
      <button class="punktefeld-9-unsicher">9*</button>
      <button class="punktefeld-8-unsicher">8*</button>
      <button class="punktefeld-7-unsicher">7*</button>
      <button class="punktefeld-6-unsicher">6*</button>
      <button class="punktefeld-10">10</button>
      <button class="punktefeld-9">9</button>
      <button class="punktefeld-8">8</button>
      <button class="punktefeld-7">7</button>
      <button class="punktefeld-6">6</button>
    </div>
  </div>
</div>
