.half-page {
  width: 50%;
}

.button-box {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.file-input {
  display: none;
}



// for small devices
@media (max-width: 1400px) {

  .half-page {
    width: 80%;
  }

}

// for small devices
@media (max-width: 950px) {

  .half-page {
    width: 100%;
  }

}
