<bla-common-dialog [config]="config">

  <div class="layout-elements">

    <bla-row-layout>
      <div class="flexChild">
        <h3><a class="blackLink"
        >{{ 'WETTKAEMPFE.TITEL.VERANSTALTUNG' | translate }}</a></h3>

        <table style="width: 10%; margin-bottom: 3%;">
          <bla-selectionlist (onSelect)="onSelectYear($event)"
                             [items]="availableYears"
                             [optionFieldSelector]="'sportjahr'"
                             [loading]="loading"
                             [multipleSelections]="!multipleSelections"
                             [selectedItemIds]=[selectedYearId]
                             style="width: 10%; flex-grow: 0; height: 20px"
                             selectionListHeight="3em">

          </bla-selectionlist>
        </table>

        <table id="example"
               class="table table-hover table-sm table-responsive-sm thead-light table-striped"
               style="width:80%">
          <!-- headlines -->

          <bla-quicksearch-list (onSelect)="onSelectVeranstaltung($event)"
                                [items]="veranstaltungenForYear"
                                [placeholderTranslationKey]="PLACEHOLDER_VAR"
                                [optionFieldSelector]="'ligaName'"
                                [multipleSelections]="!multipleSelections"
                                [selectedItemIds]=[selectedVeranstaltungId]
                                selectionListHeight="15em"
                                style="width: 60%; flex-grow: 0;">

          </bla-quicksearch-list>
        </table>

      </div>


      <!-- Ligatabelle -->
      <div>
        <h5><a class="blackLink"
        >{{ 'WETTKAEMPFE.LIGATABELLE.TITEL' | translate }}</a></h5>

        <div class="row">


          <!-- Dies ist die aktuelle Ligatabelle  zur Veranstaltung  -->
          <h5>
            <bla-data-table
              [config]="config_table"
              [rows]="rowsLigatabelle"
              [loading]="loadingLigatabelle"
              (onRowEntry)="ligatabelleLinking();"
            >
            </bla-data-table>
          </h5>
        </div>
      </div>

      <!-- Button -->
      <div id="Button">
        <bla-button
          [id]="'regionSaveButton'"
          (onClick)="ligatabelleLinking()">
          {{ 'WETTKAEMPFE.LIGATABELLE.LINKDESCRIPTION' | translate }}
          {{ selectedVeranstaltungName}}
        </bla-button>
      </div>
      <div class="col-sm-9">
        <div class="invalid-feedback">
          {{ 'MANAGEMENT.REGION_DETAIL.FORM.REGION_TYP.ERROR' | translate }}
        </div>
      </div>

    </bla-row-layout>
  </div>
</bla-common-dialog>
