<bla-common-dialog [config]="config">

  <div (mouseover)="onMouseOver($event)">
    <bla-hilfe-button href="https://wiki.bsapp.de/doku.php?id=liga:wettkampfdurchfuehrung"
                      target="_blank"></bla-hilfe-button>

    <p class="subtitle">{{'WKDURCHFUEHRUNG.WKDURCHFUEHRUNG.DESCRIPTION' | translate}}</p>
    <div class="layout-elements">
      <!--DIV 1 MIT VERANSTALTUNGEN UND  BUTTONS -->
      <div
        [hidden]="div1Visible">
        <!--TABELLEN mit Wettkampftag-->
        <bla-row-layout>
          <bla-expand #expandMenu
                      headerText="{{ 'WKDURCHFUEHRUNG.TITEL.VERANSTALTUNG' | translate }}"
                      headerLink="/wkdurchfuehrung"
                      [selectedItem]=this.currentVeranstaltungName
                      (itemSelected)="expandMenu.onItemSelected($event)">
            <bla-quicksearch-list (onSelect)="onSelect($event); expandMenu.closeExpandMenu()"
                                  [items]="veranstaltungen"
                                  [loading]="loadingVeranstaltungen"
                                  [multipleSelections]="!multipleSelections"
                                  [placeholderTranslationKey]="PLACEHOLDER_VAR"
                                  [optionFieldSelector]="'name'"
                                  [disabled]="isOfflineDisabled()"
                                  selectionListHeight="15em"
                                  data-cy="wkduchfuehrung-veranstaltung-list"
                                  style="width: 40%; flex-grow: 0;">
            </bla-quicksearch-list>
          </bla-expand>
          <bla-expand #expandMenu1
                      headerText="{{'WKDURCHFUEHRUNG.TITEL.WKTAG' | translate }}"
                      class="expandContainer"
                      [selectedItem]=this.selectedWettkampftag
                      (itemSelected)="expandMenu.onItemSelected($event)">
            <bla-data-table
              [config]="config_table"
              [rows]="rows"
              [loading]="loadingWettkampfe"
              data-cy="wkdurchfuehrung-wettkampftage-list"
              (onViewEntry)="onView($event); expandMenu1.closeExpandMenu()"
              (onMapEntry)="onMap($event)"
              class="overview-dialog-content"
            >
            </bla-data-table>
          </bla-expand>
          <bla-expand #expandMenu2
                      headerText="{{ 'WKDURCHFUEHRUNG.TITEL.DRUCKDATEN' | translate }}"
                      headerLink="/wkdurchfuehrung"
                      [selectedItem]=this.selectedWettkampftag
                      [expanded]=!isDisabled()
                      (itemSelected)="expandMenu2.onItemSelected($event)">
            <bla-col-layout [style]="'flex-wrap: wrap'">

              <bla-download-actionbutton
                [id]="'downloadSetzliste'"
                [downloadUrl]="onButtonDownload('pdf/setzliste')"
                [fileName]="'setzliste.pdf'"
                [color]="ActionButtonColors.PRIMARY"
                [iconClass]="'file-download'"
                [disabled]="isDisabled()">{{ 'WKDURCHFUEHRUNG.BUTTON.SETZLISTE' | translate }}
              </bla-download-actionbutton>

              <bla-download-actionbutton
                [id]="'downloadSchusszettel'"
                [downloadUrl]="onButtonDownload('pdf/schusszettel')"
                [fileName]="'schusszettel.pdf'"
                [color]="ActionButtonColors.PRIMARY"
                [iconClass]="'file-download'"
                [disabled]="isDisabled()">{{ 'WKDURCHFUEHRUNG.BUTTON.SCHUSSZETTEL' | translate }}
              </bla-download-actionbutton>

              <bla-download-actionbutton
                [id]="'downloadBogenkontrollliste'"
                [downloadUrl]="onButtonDownload('pdf/bogenkontrollliste')"
                [fileName]="'bogenkontrollliste.pdf'"
                [color]="ActionButtonColors.PRIMARY"
                [iconClass]="'file-download'"
                [disabled]="isDisabled()">{{ 'WKDURCHFUEHRUNG.BUTTON.KONTROLLLISTE' | translate }}
              </bla-download-actionbutton>

              <bla-download-actionbutton
                [id]="'downloadMeldezettel'"
                [downloadUrl]="onButtonDownload('pdf/meldezettel')"
                [fileName]="'meldezettel.pdf'"
                [color]="ActionButtonColors.PRIMARY"
                [iconClass]="'file-download'"
                [disabled]="isDisabled()">{{ 'WKDURCHFUEHRUNG.BUTTON.MELDEZETTEL' | translate }}
              </bla-download-actionbutton>

              <div id="setupTable"
                   *ngIf="(!isOffline()); else onlineSetupTables">
                <bla-actionbutton (click)="onButtonTabletClick()"
                                  [color]="ActionButtonColors.PRIMARY"
                                  [iconClass]="'table'"
                                  [disabled]="isDisabled()">{{ 'WKDURCHFUEHRUNG.BUTTON.TABLE_SETUP' | translate }}
                </bla-actionbutton>
              </div>


              <ng-template #onlineSetupTables
                           id="onlineSetupTables">
                <div>
                  <bla-actionbutton (click)="onButtonTabletClick()"
                                    [color]="ActionButtonColors.PRIMARY"
                                    [iconClass]="'table'"
                                    [disabled]="true">{{ 'WKDURCHFUEHRUNG.BUTTON.TABLE_SETUP' | translate }}
                  </bla-actionbutton>
                </div>
              </ng-template>
            </bla-col-layout>
          </bla-expand>
        </bla-row-layout>

        <bla-grid-layout>
          <div style="display: flex">
            <bla-actionbutton
              [id]="'generiereMatches'"
              [disabled]="isDisabledGMButton()"
              [color]="ActionButtonColors.SUCCESS"
              [iconClass]="'cogs'"
              (onClick)="generateMatches()">
              {{ 'WKDURCHFUEHRUNG.BUTTON.MATCHES' | translate }}
            </bla-actionbutton>

            <div id="offlineButton"
                 *ngIf="(!isOffline()); else backOnline ">
              <bla-actionbutton (click)="onButtonGoOfflineClick()"
                                [color]="ActionButtonColors.DANGER"
                                [iconClass]="'power-off'"
                                [disabled]="isDisabled()"
                                data-cy="wkdurchfuehrung-btn-offlinegehen">Offline gehen
              </bla-actionbutton>
            </div>

            <ng-template #backOnline
                         id="onlineButton">
              <div>
                <bla-actionbutton (click)="onButtonGoOfflineClick()"
                                  [color]="ActionButtonColors.SUCCESS"
                                  [iconClass]="'cloud'"
                                  [disabled]="isDisabled()">Online gehen
                </bla-actionbutton>
              </div>
            </ng-template>

            <bla-actionbutton
              [id]="'wettkampfDurchfuehrung'"
              [color]="ActionButtonColors.PRIMARY"
              [iconClass]="'arrow-right'"
              (onClick)="toggleDiv()"
              [disabled]="isDisabled()">
              {{ 'WKDURCHFUEHRUNG.BUTTON.DURCHFUEHRUNG' | translate }}
            </bla-actionbutton>

            <bla-actionbutton
              [id]="'vollbildAnsicht'"
              [color]="ActionButtonColors.PRIMARY"
              [iconClass]="'arrow-right'"
              (onClick)="redirectToFullScreen(this.selectedVeranstaltungId)"
              [disabled]="isDisabled()"
              data-cy="vollbildAnsichtButton">
              {{ 'WKDURCHFUEHRUNG.BUTTON.VOLLBILDANSICHT' | translate }}
            </bla-actionbutton>

          </div>

          <div id="adminOfflineResetButton"
               *ngIf="(isAdmin())">
            <bla-actionbutton (click)="resetWettkampfToken(this.selectedWettkampfId)"
                              [color]="ActionButtonColors.DANGER"
                              [iconClass]="'trash'"
                              [disabled]="isDisabled()">Offlinetoken löschen
            </bla-actionbutton>
          </div>

        </bla-grid-layout>

        <!---Alle Buttons zum: Setzliste, Schusszettel, Bogenkontrollliste, Meldezettel---->

      </div>

      <!--DIV 2 MIT DEN ANDEREN TABELLEN UND ANSICHTEN NACH GENERIERUNG MATCHES  -->
      <div
        [hidden]="div2Visible">

        <bla-col-layout>
          <h2 id="WettkampfTitle"></h2>
        </bla-col-layout>

        <bla-expand headerText="Teilnehmende Mannschaften">
          <bla-teilnemende-manschaften-tabelle [veranstaltungsId]="selectedVeranstaltungId">
          </bla-teilnemende-manschaften-tabelle>
        </bla-expand>

        <bla-expand headerText="{{ 'WKDURCHFUEHRUNG.TITEL.LT_DURCHFUEHRUNG' | translate }}">
          <bla-col-layout>
            <div class="row"
                 style="margin-left: 5px">
              <section class="overview-dialog-content">
                <ng-container *ngFor="let group of groupedMatches">
                  <h2 style="color:black;">
                    {{group.groupName}}
                  </h2>
                  <bla-data-table [config]="config_table_match"
                                  [rows]="group.matches">
                  </bla-data-table>
                </ng-container>
              </section>
            </div>
          </bla-col-layout>
        </bla-expand>

        <bla-actionbutton
          [id]="'zurück'"
          [color]="ActionButtonColors.PRIMARY"
          [iconClass]="'arrow-left'"
          (onClick)="toggleDiv()">
          {{ 'WKDURCHFUEHRUNG.BUTTON.ZURUECK' | translate }}
        </bla-actionbutton>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</bla-common-dialog>
