.overview-dialog-content{
  margin-left: 16px;
  max-width: 100%;
  overflow-x: auto;

  ::ng-deep table {
    width: auto !important;
    font-size: 0.8rem !important;

    th, td {
      padding: 6px 12px !important;
      font-size: 0.8rem !important;
    }
  }
}
.ueberschrift {
  margin-top: 30px;
}

bla-download-actionbutton, bla-actionbutton {
  flex-grow: 0 !important;
}
