<div class="wettkaempfe"
     class="container">
  <form>
    <div class="match">   <h1>X. Match</h1></div>
  <div class="mannschaften">
    <h2>Mannschaft 1 </h2>
    <h2>gegen</h2>
    <h2>Mannschaft 2</h2>

  </div>

  <div class="small_Table">
    <table id="punktetabelle"
           class="table table-hover table-responsive thead-light table-striped"
           style="width:100%">
      <tr>
        <td>
          <label for="1.SchützePktT1">1.S.Pkt</label>
          <input myNumberOnly   type="number" name="1.SchützePkt" id="1.SchützePktT1" class="smallInput">
        </td>
        <td>
          <label for="2.SchützePktT1">2.S.Pkt</label>
          <input myNumberOnly type="number" name="2.SchützePkt" id="2.SchützePktT1" class="smallInput">
        </td>        <td>
        <label for="3.SchützePktT1">3.S.Pkt</label>
        <input myNumberOnly type="number" name="3.SchützePkt" id="3.SchützePktT1" class="smallInput">
      </td>        <td>
        <label for="4.SchützePktT1">4.S.Pkt</label>
        <input myNumberOnly type="number" name="4.SchützePkt" id="4.SchützePktT1" class="smallInput">
      </td>        <td>
        <label for="5.SchützePktT1">5.S.Pkt</label>
        <input myNumberOnly type="number" name="5.SchützePkt" id="5.SchützePktT1" class="smallInput">
      </td>        <td>
        <label for="summeSchützeT1">Summe S.pkt</label>
        <input type="number" name="summeSchütze" id="summeSchützeT1" class="smallInput">
      </td>
        <td>
          <label for="matchpunkteT1">Matchpkte</label>
          <input type="number" name="matchpunkte" id="matchpunkteT1" class="smallInput">
        </td>
      </tr>
      <tr>
        <td><input myNumberOnly type="number" name="1.SchützePkt" id="1.SchützePktT2" class="smallInput"></td>
        <td><input myNumberOnly type="number" name="2.SchützePkt" id="2.SchützePktT2" class="smallInput"></td>
        <td><input myNumberOnly type="number" name="3.SchützePkt" id="3.SchützePktT2" class="smallInput"></td>
        <td><input myNumberOnly type="number" name="4.SchützePkt" id="4.SchützePktT2" class="smallInput"></td>
        <td><input myNumberOnly type="number" name="5.SchützePkt" id="5.SchützePktT2" class="smallInput"></td>
        <td><input type="number" name="summeSchütze" id="summeSchützeT2" class="smallInput"></td>
        <td><input type="number" name="matchpunkte" id="matchpunkteT2" class="smallInput"></td>
      </tr>

    </table>

  </div>

  <div class="bigTable">
    <table id="schusstabelle"
         class="table table-hover table-responsive thead-light table-striped"
         style="width:100%">
      <thead>
        <tr>
          <th rowspan="2">Schuetze</th>
          <th colspan="2">1. Satz / Pfeile</th>
          <th colspan="2">2. Satz / Pfeile</th>
          <th colspan="2">3. Satz / Pfeile</th>
          <th colspan="2">4. Satz / Pfeile</th>
          <th colspan="2">5. Satz / Pfeile</th>
        </tr>
        <tr>
          <th>pf. 1</th>
          <th>pf. 2</th>
          <th>pf. 1</th>
          <th>pf. 2</th>
          <th>pf. 1</th>
          <th>pf. 2</th>
          <th>pf. 1</th>
          <th>pf. 2</th>
          <th>pf. 1</th>
          <th>pf. 2</th>
        </tr>
      </thead>
      <tr>
        <td><input type="number" value="1"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td>S</td>
      </tr>
      <tr>
        <td><input type="number" value="2"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td>S</td>
      </tr>
      <tr>
        <td><input type="number" value="3"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td><input myNumberOnly type="number"></td>
        <td>S</td>
      </tr>
      <tr>
        <td></td>
        <td>Summe</td>
        <td><input type="number"></td>
        <td>Summe</td>
        <td><input type="number"></td>
        <td>Summe</td>
        <td><input type="number"></td>
        <td>Summe</td>
        <td><input type="number"></td>
        <td>Summe</td>
        <td><input type="number"></td>
      </tr>
    </table>
  </div>
  </form>
</div>
