<div class="wettkaempfe container">

  <!-- match1 -->
  <div class="match1 print">

    <div class="match">
      <h1>{{match1.mannschaftName}}</h1>
      <h2>{{match1.nr}}. Match</h2>
    </div>

    <div class="mannschaften">
      <h3>{{match1.mannschaftName}}</h3>
      <h3>gegen</h3>
      <h3>{{match2.mannschaftName}}</h3>
    </div>

    <div class="small_Table">
      <table id="punktetabelle"
             class="table table-responsive thead-light table-striped"
             style="width:100%">
        <tr>
          <td *ngFor="let sum of match1.sumSatz; let i = index">
            <label>{{i + 1}}.S.Pkt</label>
            <input type="text"
                   [value]="sum"
                   tabindex="-1"
                   readonly>
          </td>
          <td>
            <label>Summe S.pkt</label>
            <input type="text"
                   [value]="match1.satzpunkte"
                   tabindex="-1"
                   readonly>
          </td>
          <td>
            <label>Matchpkte</label>
            <input type="text"
                   [value]="match1.matchpunkte"
                   tabindex="-1"
                   readonly>
          </td>
        </tr>
        <tr>
          <td *ngFor="let sum of match2.sumSatz">
            <input type="text"
                   [value]="sum"
                   tabindex="-1"
                   readonly>
          </td>
          <td>
            <input type="text"
                   [value]="match2.satzpunkte"
                   tabindex="-1"
                   readonly>
          </td>
          <td>
            <input type="text"
                   [value]="match2.matchpunkte"
                   tabindex="-1"
                   readonly>
          </td>
        </tr>
      </table>
    </div>

    <div class="bigTable">
      <table id="schusstabelle"
             class="table table-hover table-responsive thead-light table-striped"
             style="width:100%">
        <thead>
        <tr>
          <th rowspan="2">Schuetze</th>
          <th colspan="2">1. Satz / Pfeile</th>
          <th colspan="2">2. Satz / Pfeile</th>
          <th colspan="2">3. Satz / Pfeile</th>
          <th colspan="2">4. Satz / Pfeile</th>
          <th colspan="2">5. Satz / Pfeile</th>
        </tr>
        <tr>
          <th>pf. 1</th>
          <th>pf. 2</th>
          <th>pf. 1</th>
          <th>pf. 2</th>
          <th>pf. 1</th>
          <th>pf. 2</th>
          <th>pf. 1</th>
          <th>pf. 2</th>
          <th>pf. 1</th>
          <th>pf. 2</th>
        </tr>
        </thead>
        <ng-template ngFor
                     let-schuetze
                     [ngForOf]="match1.schuetzen"
                     let-i="index">
          <tr>
            <ng-template ngFor
                         let-passe
                         [ngForOf]="schuetze"
                         let-j="index">
              <td *ngIf="j == 0">
                <input blaAutoswitch
                       type="number"
                       blaSchuetzenTabIndexDirective
                       [(ngModel)]="passe.schuetzeNr">
              </td>
              <td>
                <input blaAutoswitch 
                       blaMyNumberOnly
                       type="text"
                       blaRingzahlTabIndexDirective
                       [ngModel]="passe.ringzahlPfeil1"
                       (ngModelChange)="onChange($event, 1, i, j, 1)">
              </td>
              <td>
                <input blaAutoswitch
                       blaMyNumberOnly
                       type="text"
                       blaRingzahlTabIndexDirective
                       [ngModel]="passe.ringzahlPfeil2"
                       (ngModelChange)="onChange($event, 1, i, j, 2)">
              </td>
            </ng-template>
          </tr>
          <tr *ngIf="i >= match1.schuetzen.length - 1">
            <td></td>
            <ng-template ngFor
                         let-sum
                         [ngForOf]="match1.sumSatz"
                         let-j="index">
              <td>Summe</td>
              <td>
                <input type="number"
                       [value]="sum"
                       tabindex="-1"
                       readonly>
              </td>
            </ng-template>
          </tr>
        </ng-template>
      </table>
    </div>


  </div> <!-- ende match1 -->

  <p class="print signature">
    <span>Ort, Datum</span>
    <span>Unterschrift</span>
  </p>

  <hr class="print">

  <!-- match2 -->
  <div class="match2 print">

    <div class="match">
      <h1>{{match2.mannschaftName}}</h1>
      <h2>{{match2.nr}}. Match</h2>
    </div>

    <div class="mannschaften">
      <h3>{{match1.mannschaftName}}</h3>
      <h3>gegen</h3>
      <h3>{{match2.mannschaftName}}</h3>
    </div>

    <div class="small_Table">
      <table
        class="table table-responsive thead-light table-striped"
        style="width:100%">
        <tr>
          <td *ngFor="let sum of match1.sumSatz; let i = index">
            <label>{{i + 1}}.S.Pkt</label>
            <input type="text"
                   [value]="sum"
                   tabindex="-1"
                   readonly>
          </td>
          <td>
            <label>Summe S.pkt</label>
            <input type="text"
                   [value]="match1.satzpunkte"
                   tabindex="-1"
                   readonly>
          </td>
          <td>
            <label>Matchpkte</label>
            <input type="text"
                   [value]="match1.matchpunkte"
                   tabindex="-1"
                   readonly>
          </td>
        </tr>
        <tr>
          <td *ngFor="let sum of match2.sumSatz">
            <input type="text"
                   [value]="sum"
                   tabindex="-1"
                   readonly>
          </td>
          <td>
            <input type="text"
                   tabindex="-1"
                   [value]="match2.satzpunkte"
                   readonly>
          </td>
          <td>
            <input type="text"
                   tabindex="-1"
                   [value]="match2.matchpunkte"
                   readonly>
          </td>
        </tr>
      </table>
    </div>

    <div class="bigTable">
      <table
        class="table table-hover table-responsive thead-light table-striped"
        style="width:100%">
        <thead>
        <tr>
          <th rowspan="2">Schuetze</th>
          <th colspan="2">1. Satz / Pfeile</th>
          <th colspan="2">2. Satz / Pfeile</th>
          <th colspan="2">3. Satz / Pfeile</th>
          <th colspan="2">4. Satz / Pfeile</th>
          <th colspan="2">5. Satz / Pfeile</th>
        </tr>
        <tr>
          <th>pf. 1</th>
          <th>pf. 2</th>
          <th>pf. 1</th>
          <th>pf. 2</th>
          <th>pf. 1</th>
          <th>pf. 2</th>
          <th>pf. 1</th>
          <th>pf. 2</th>
          <th>pf. 1</th>
          <th>pf. 2</th>
        </tr>
        </thead>
        <ng-template ngFor
                     let-schuetze
                     [ngForOf]="match2.schuetzen"
                     let-i="index">
          <tr>
            <ng-template ngFor
                         let-passe
                         [ngForOf]="schuetze"
                         let-j="index">
              <td *ngIf="j == 0">
                <input blaAutoswitch 
                       type="number"
                       blaSchuetzenTabIndexDirective
                       [(ngModel)]="passe.schuetzeNr">
              </td>
              <td>
                <input blaAutoswitch
                       blaMyNumberOnly
                       type="text"
                       blaRingzahlTabIndexDirective
                       [ngModel]="passe.ringzahlPfeil1"
                       (ngModelChange)="onChange($event, 2, i, j, 1)">
              </td>
              <td>
                <input blaAutoswitch
                       blaMyNumberOnly
                       type="text"
                       blaRingzahlTabIndexDirective
                       [ngModel]="passe.ringzahlPfeil2"
                       (ngModelChange)="onChange($event, 2, i, j, 2)">
              </td>
            </ng-template>
          </tr>
          <tr *ngIf="i >= match2.schuetzen.length - 1">
            <td></td>
            <ng-template ngFor
                         let-sum
                         [ngForOf]="match2.sumSatz"
                         let-j="index">
              <td>Summe</td>
              <td>
                <input type="number"
                       [value]="sum"
                       tabindex="-1"
                       readonly>
              </td>
            </ng-template>
          </tr>
        </ng-template>
      </table>
    </div>

  </div>

  <p class="print signature">
    <span>Ort, Datum</span>
    <span>Unterschrift</span>
  </p>

  <button class="btn btn-primary saveButton"
          (click)="save()">Speichern
  </button>

  <button class="btn btn-primary printButton"
          onclick="window.print();return false;">Drucken
  </button>


</div>
