<div class="competitionCard soft-shadow"
     role="button"
     tabindex="0"
     (click)="toggle()"
     (keydown.enter)="toggle()"
     (keydown.space)="toggle()">

  <!-- Header: immer sichtbar -->
  <div class="competitionCardHeader">
    <div class="competitionCardDate">
      <ng-content select="[date-month]"></ng-content>
      <ng-content select="[date-day]"></ng-content>
    </div>

    <div class="competitionCardHeading">
      <ng-content select="[heading]"></ng-content>
      <ng-content select="[subheading]"></ng-content>
    </div>

    <div class="competitionCardToggleIcon">
      <span class="toggleArrow" [class.expanded]="expanded"></span>
    </div>
  </div>

  <!-- Body: nur sichtbar, wenn expanded -->
  <div class="competitionCardBody" *ngIf="expanded" (click)="$event.stopPropagation()">
    <!-- Detail-Infos (z.\u00a0B. Ort, Uhrzeit, Liga, usw.) -->
    <div class="competitionCardDetails">
      <ng-content select="[details]"></ng-content>
    </div>

    <!-- Aktionsbereich mit Button/Link -->
    <div class="competitionCardActions">
      <ng-content select="[action]"></ng-content>
    </div>
  </div>
</div>
