<h1>{{ 'TABLE.TITLE' | translate }}</h1>

<div class="menu">
  <button class="btn btn-success addData" routerLink="/settings/details"><i class="material-icons">add</i></button>

</div>


<table id="example" class="table table-hover table-sm table-responsive-sm thead-light" style="width:100%">
  <!-- Table Head with Headings and sort buttons -->
  <thead>
  <tr>
    <th><h3>{{ 'TABLE.KEY' | translate }}</h3></th>
    <th><button class="btn btn-link" (click)="sortDataByKey()"><i class="sortIcon"class="material-icons">unfold_more</i></button></th>
    <th><h3>{{ 'TABLE.VALUE' | translate }}</h3></th>
    <th><button class="btn btn-link" (click)="sortDataByValue()"><i class="sortIcon" class="material-icons">unfold_more</i></button></th>
    <th><h3>{{ 'TABLE.ACTION' | translate }}</h3></th>
  </tr>
  </thead>

  <!-- Table Body with Data -->
  <tbody>
  <!-- ngFor: for loop throug data, ngIf: show if condition true -->
  <!-- shows data if it is on the shown page of table -->
  <tr *ngFor="let data of datas">
    <td *ngIf="datas.indexOf(data) >= first && datas.indexOf(data) <= last" scope="row" colspan="2">{{data.key}}</td>
    <td *ngIf="datas.indexOf(data) >= first && datas.indexOf(data) <= last" colspan="2">{{data.value}}</td>
    <td class="button-column" *ngIf="datas.indexOf(data) >= first && datas.indexOf(data) <= last">
      <a routerLink="{{'/settings/details/' + data.key}}"><i class="material-icons">playlist_add</i></a>
      <a (click)="deleteThisData(data.key)"><i class="material-icons">cancel</i></a>
    </td>
  </tr>
  </tbody>

  <!-- Table Foot with Headings -->
  <tfoot>
  <tr>
    <th><h3>{{ 'TABLE.KEY' | translate }}</h3></th>
    <th></th>
    <th><h3>{{ 'TABLE.VALUE' | translate }}</h3></th>
    <th></th>
    <th><h3>{{ 'TABLE.ACTION' | translate }}</h3></th>
  </tr>
  </tfoot>
</table>

<!--Pagination -->
<nav class="my-4">
  <ul class="d-flex justify-content-center pagination pagination-circle pg-blue mb-0">
    <!--First-->
    <li class="page-item">
      <a class="page-link" mdbWavesEffect (click)="firstPage()">First</a>
    </li>
    <!--Numbers-->
    <li #pages *ngFor="let page of pageCount" class="page-item">
      <a class="page-link" mdbWavesEffect>{{page}}</a>
    </li>
    <!--Last-->
    <li class="page-item">
      <a class="page-link" mdbWavesEffect (click)="lastPage()">Last</a>
    </li>
  </ul>
</nav>
