<div id="wettkaempfe"
     class="container">
  <h1>Setzliste</h1>

  <table id="wettkaempfeTabelle"
         class="table table-hover table-responsive thead-light table-striped"
         style="width:100%">
    <thead>
    <tr>
      <th>Match</th>
      <th>Scheibe 1+2</th>
      <th>M.Pkte</th>
      <th>Scheibe 3+4</th>
      <th>M.Pkte</th>
      <th>Scheibe 5+6</th>
      <th>M.Pkte</th>
      <th>Scheibe 7+8</th>
      <th>M.Pkte</th>
    </tr>
    </thead>
    <tr>
      <td>1</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>4</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>5</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>7</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

</div>

