.half-page {
  width: 52%;
}

.button-box {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}


// for small devices
@media (max-width: 1400px) {

  .half-page {
    width: 80%;
  }

}

// for small devices
@media (max-width: 950px) {

  .half-page {
    width: 100%;
  }


}

// for queue
.resizable-box {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  resize: both;
  overflow: auto;
  height: 200px;
  width: 1100px;
  max-height: 700px; /* max height */
  max-width: 1700px; /* max width */
  min-height: 150px; /* min height */
  min-width: 800px; /* min width */
}

table {
  width: 100%;
  border-collapse: collapse;
}


thead th {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  z-index: 1;
}

th, td {
  border: 1px solid #ddd;
  margin-top: 10px;
  padding: 8px;
  text-align: left;
}

th.teamname-header {
  position: relative;
  width: 60%;
}

th.action-header {
  width: 40%;
}

.th-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  position: relative;
  z-index: 2;
}

.quicksearch-container {
  position: absolute;
  margin: auto 5px;
  margin-top: 7.9px !important;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.custom-quicksearch {
  display: inline-block;
  width: auto;
  min-width: 800px !important;
}
