.dialog-content {
  padding: 1em;
}

.overview-dialog-header {
  padding-bottom: 1em;

  .overview-dialog-add {
    display: flex;
    justify-content: space-between; /* Damit die Buttons an den Enden der Reihe sind */
    align-items: center; /* Zentriert die Elemente vertikal */
  }
}

.changePageButtonsAbove {
  flex: auto;
  display: flex;
  justify-content: center; /* Zentriert die Elemente horizontal */
  align-items: center;
  margin-left: 20rem;
}

.changePageButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}


