<bla-common-dialog (mouseover)="onMouseOver($event)"
                   *ngIf="!(inProd === true)"
                   [config]="config">

  <p>Auf dieser Seite können neue Komponenten ausprobiert werden. Falls ihr noch eine passende Komponente für eure
     Dialoge sucht, könnt ihr hier stöbern.</p>

  <h4>Inhalt</h4>
  <ul>
    <li><a href="#layouts">Layouts</a>
      <ul>
        <li><a href="#bla-col-layout">Spalten-Layout</a></li>
        <li><a href="#bla-row-layout">Zeilen-Layout</a></li>
        <li><a href="#bla-grid-layout">Grid-Layout</a></li>
        <li><a href="#bla-centered-layout">Zentriertes Spalten-Layout</a></li>
      </ul>
    </li>
    <li><a href="#tooltip">Tooltips</a></li>
    <li><a href="#dropdown">Dropdowns (1 Element auswählen)</a></li>
    <li><a href="#selectionlists">Auswahllisten</a>
      <ul>
        <li><a href="#bla-selectionlist">Auswahlliste (1 bis n Elemente auswählen)</a></li>
        <li><a href="#bla-quicksearch-list">Schnellsuche (1 bis n Elemente auswählen)</a></li>
      </ul>
    </li>
    <li><a href="#downloads">Datei-Downloads</a></li>
  </ul>

  <a name="layouts"></a>
  <bla-layout-example></bla-layout-example>

  <a name="tooltip"></a>
  <bla-tooltip-example></bla-tooltip-example>

  <a name="dropdown"></a>
  <bla-dropdown-menu-example></bla-dropdown-menu-example>

  <a name="selectionlists"></a>
  <bla-selectionlist-example></bla-selectionlist-example>

  <a name="downloads"></a>
  <bla-download-file-example></bla-download-file-example>
</bla-common-dialog>
