<bla-common-dialog [config]="config"
                   [loading]="loading">

  <form id="vereineForm"
        class="horizontal-form half-page"
        #vereineForm="ngForm">

    <!-- ID -->
    <div class="form-group row">
      <label for="vereinName"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.VEREIN_DETAIL.FORM.VEREIN_NAME.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               required
               id="vereinName"
               name="vereinName"
               #vereinName="ngModel"
               [(ngModel)]="currentVerein.name"
               [class.is-invalid]="vereinName.invalid && !vereinName.untouched"
               placeholder="{{ 'MANAGEMENT.VEREIN_DETAIL.FORM.VEREIN_NAME.PLACEHOLDER' | translate }}">

        <div class="invalid-feedback">
          {{ 'MANAGEMENT.VEREIN_DETAIL.FORM.VEREIN_NAME.ERROR' | translate }}
        </div>
      </div>
    </div>

    <!-- Identifier -->
    <div class="form-group row">
      <label for="vereinIdentifier"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.VEREIN_DETAIL.FORM.VEREIN_IDENTIFIER.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               required
               id="vereinIdentifier"
               name="vereinIdentifier"
               #vereinIdentifier="ngModel"
               [(ngModel)]="currentVerein.identifier"
               [class.is-invalid]="vereinIdentifier.invalid && !vereinIdentifier.untouched"
               placeholder="{{ 'MANAGEMENT.VEREIN_DETAIL.FORM.VEREIN_IDENTIFIER.PLACEHOLDER' | translate }}">

        <div class="invalid-feedback">
          {{ 'MANAGEMENT.VEREIN_DETAIL.FORM.VEREIN_IDENTIFIER.ERROR' | translate }}
        </div>
      </div>
    </div>

    <!-- REGION ID -->
    <div class="form-group row">
      <label for="vereinRegion"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.VEREIN_DETAIL.FORM.VEREIN_REGION.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <select class="form-control"
                id="vereinRegion"
                name="vereinRegion"
                #vereinRegion="ngModel"
                [(ngModel)]="currentRegion">
          <option [ngValue]="region"
                  *ngFor="let region of regionen"> {{region.regionName}}</option>
        </select>
        <div class="invalid-feedback">
          {{ 'MANAGEMENT.VEREIN_DETAIL.FORM.VEREIN_REGION.ERROR' | translate }}
        </div>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9 button-box">


        <bla-button *ngIf="!entityExists()"
                    [id]="'vereinSaveButton'"
                    [disabled]="!vereineForm.valid"
                    [loading]="saveLoading"
                    (onClick)="onSave($event)">
          {{ 'MANAGEMENT.VEREIN_DETAIL.FORM.SAVE' | translate }}
        </bla-button>
        <bla-button *ngIf="entityExists()"
                    [id]="'vereinUpdateButton'"
                    [disabled]="!vereineForm.valid"
                    [loading]="saveLoading"
                    (onClick)="onUpdate($event)">
          {{ 'MANAGEMENT.VEREIN_DETAIL.FORM.UPDATE' | translate }}
        </bla-button>

        <bla-button *ngIf="entityExists()"
                    [buttonType]="ButtonType.DANGER"
                    [loading]="deleteLoading"
                    (onClick)="onDelete($event)">
          {{ 'MANAGEMENT.VEREIN_DETAIL.FORM.DELETE' | translate }}
        </bla-button>
      </div>
    </div>
  </form>
  <div *ngIf="entityExists()">
    <h5> Mannschaftsübersicht</h5>
    <div class="overview-dialog-add">
      <button class="btn btn-success"
              routerLink="add">
        <fa-icon icon="plus"></fa-icon>
        <span> Neu</span>
      </button>
    </div>
    <bla-data-table [config]="config_table"
                    [rows]="rows"
                    [loading]="loading"
                    (onViewEntry)="onView($event)"
                    (onEditEntry)="onEdit($event)"
                    (onDownloadLizenzenEntry)="onDownloadLizenzen($event)"
                    (onDownloadRueckennummerEntry)="onDownloadRueckennummer($event)"
                    (onDeleteEntry)="onDeleteMannschaft($event)">
    </bla-data-table>
    <a #downloadLink></a>
  </div>

</bla-common-dialog>
