.status-bar-container{
  justify-content: center;
  display: flex;
  transform: translate(0,2650%);
}

.status-bar{
  justify-content: center;
  height: 7px;
  width: 95%;
  line-height:30px;
  border-radius: 25px;
  }

.status-bar-text{
  left: 50px;
  top: -20px;
  position: absolute;
}

.mat-progress-bar {
  height: 7px;
  border-radius: 25px;
}
