
<div id="login">

  <form action="action_page.php">

    <!-- Logo -->
    <div class="imgcontainer">
      <img src="../assets/img/logo.png" alt="Logo" class="avatar">
    </div>

    <!-- Input -->
    <div class="container">
      <label for="uname"><b>{{ 'LOGIN.USERNAME' | translate }}</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>{{ 'LOGIN.PASSWORD' | translate }}</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit" class="button-login">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember">{{ 'LOGIN.LOGGED' | translate }}
      </label>
    </div>

    <!-- Footer Login -->
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw"><a href="#">{{ 'LOGIN.FORGOT' | translate }}</a></span>
    </div>
  </form>
</div>
