<div class="wrapper">

  <!-- NavBar  -->
  <bla-navbar></bla-navbar>

  <!-- Sidebar  -->
  <bla-sidebar></bla-sidebar>

  <!-- Page Content -->
  <div class="content {{isActive? 'inactive' : ''}}">
  
    <div id="content-without-footer">
	  <router-outlet></router-outlet>
    </div>


    <bla-notification [notification]="notification"></bla-notification>

    <!-- Jumbotron Footer with picture -->
    <div id="footer" class="jumbotron jumbotron-fluid">

      <div class="flexContainer">

        <div class="footerContainer">
          <h3>{{ 'APP.TITLE' | translate }}</h3>
          <p>{{ 'APP.ABOUT' | translate }}</p>
          <ul class="nav flex-column">
            <li><a href="#">{{ 'APP.KONTAKT' | translate }}</a></li>
            <li><a href="#">{{ 'APP.IMPRESSUM' | translate }}</a></li>
          </ul>
        </div>

        <div class="footerContainer">
          <img class="mosaikImg" width="90%" src="../../assets/img/Bogen.PNG">
        </div>

      </div>

    </div>

    <!-- Support Footer -->
    <footer id=support>
      <div class="footer-copyright text-center py-3">
        <p>{{ 'APP.SUPPORT' | translate }}</p>
        <a href="https://www.exxcellent.de/" target="_blank"><img class="logoExxcellent" src="../assets/img/EXX-logo.png"></a>
        <a href="https://www.reutlingen-university.de/" target="_blank"><img class="logoHR" src="../assets/img/HR-Logo.png"></a>
        <a href="https://www.gras-it.de/" target="_blank"><img class="logoItSolutions" src="../assets/img/IT-Solutions_Logo.png"></a>
      </div>
    </footer>
  </div>

</div>
