/* Farbkonzept Website */
@import 'src/styles.scss';


// wrapper
.wrapper {
  display: flex;
  align-items: stretch;
  height: 100%;
  overflow: auto;
}

// content side
.content {
  padding-top: 4.2em; //for the NavBar
  padding-left: 300px; //for the Sidebar
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content.inactive {
  padding-left: 80px; //for the Sidebar
}

#footer { // footer with Logos
  display: flex;
  justify-content: space-around;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  background-color: $true-white;
}

// bootstrap changes
.jumbotron {
  margin-bottom: 0px;
  background-color: $light-gray;
  padding: 0px;

}

// covers the footer Containers of the footer
.flexContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.footerContainer {
  width: 500px;
  padding: 15px;
  justify-content: space-around;
}

// Logo CSS
.logoItSolutions {
  height: 40px;
  margin-right: 40px;
  margin-left: 40px;
}

.logoExxcellent {
  height: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.logoHR {
  height: 30px;
  margin-left: 40px;
  margin-right: 40px;
}


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: $accent-gold;
}

// for small devices
@media (max-width: 768px) {
  .content.inactive {
    padding-top: 4.2em; //for the NavBar
    padding-left: 0px;
    width: 100%;
  }

  .content {
    padding-top: 60px; //for the NavBar
    padding-left: 0px; //for the Sidebar
    width: 100%;
  }

  h3 {
    font-size: 0.9em;
  }

  p {
    font-size: 0.9em;
  }
  a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: $light-gray;
  }
}

/* Zeigt das Popup hintergrund wird unscharf */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}
/* Grösse und Farbe des Popup Fenster */
.popup {
  margin: 70px auto;
  padding: 20px;
  background: $true-white;
  border-radius: 5px;
  min-width: 40%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
}
/* erste Überschrift im Popup Fenster*/
.popup h2 {
  margin-top: 0;
  color: #333;
}
/* Symbol zum schliessen des Popup Fensters (oben rechts) */
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: $hero-blue;
  cursor: pointer;
}
/* Gibt die max. laenge des Popup Fensters an */
@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}
/* Inhalt vom Popup Fenster*/
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: $primary-white;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: $hero-blue;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: $hero-blue;
  cursor: pointer;
}
.popup .content_popup {

}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: $hero-blue;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


