// body, paragraph and link style

/* Farbkonzept Website */
$primary: #02bdd5; // Links, Navbar
$primary-light: #b4ffff; // Sidebar-Background
$primary-dark: #007c91; // Sidebar-Font
$secondary: #ffc107;
$secondary-light: #fff350;
$secondary-dark: #ff833a;


a, a:hover, a:focus {
  color: $primary;
  text-decoration: none;
  transition: all 0.3s;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: $primary;
}

// Icons from https://material.io/tools/icons/?style=baseline
.material-icons {
  font-size: 30px; // size of the image
  padding-top: 5px;
}

// wrapper
.wrapper {
  display: flex;
  align-items: stretch;
  height: 100%;
}

// content side
.content {
  padding-top: 68px; //for the NavBar
  padding-left: 250px; //for the Sidebar
  width: 100%;
}
.content.inactive {
  padding-left: 80px; //for the Sidebar
}
#content-without-footer {
  padding-right: 80px;
  padding: 30px;
}

#footer { // footer with Logos
  display: flex;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  background-color: #DCDCDC!important;
}

// bootstrap changes
.jumbotron {
  margin-bottom: 0px;
  background-color: #E8E8E8;
  padding: 0px;
}
// covers the footer Containers of the footer
.flexContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.footerContainer {
  width: 500px;
  padding: 15px;
}

// Logo CSS
.logoItSolutions {
  height: 40px;
  margin: 10px;
}
.logoExxcellent {
  height: 30px;
  margin: 10px;
}
.logoHR {
  height: 40px;
  margin: 10px;
}

// for small devices
@media (max-width: 768px) {
  .content.inactive {
    padding-top: 68px; //for the NavBar
    padding-left: 0px;
    width: 100%;
  }

  .content {
    padding-top: 68px; //for the NavBar
    padding-left: 0px; //for the Sidebar
    width: 100%;
  }

  h1 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.1em;
  }
  a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: $primary;
  }
}
