<div class="wrapper">

  <!-- NavBar  -->
  <bla-navbar></bla-navbar>

  <!-- Sidebar  -->
  <bla-sidebar></bla-sidebar>

  <!-- Page Content -->
  <div id="content">

    <div id="content-without-footer">
      <p>{{ 'language.content' | translate }}</p>
    </div>

    <div id="footer" class="jumbotron jumbotron-fluid">
      <div class="flexContainer">
        <div class="footerContainer">
          <h2>{{ 'language.support' | translate }}</h2>
          <a href="https://www.gras-it.de/" target="_blank"><img class="logo" src="../assets/img/IT-Solutions_Logo.png"></a>
          <a href="https://www.exxcellent.de/" target="_blank"><img class="logo" src="../assets/img/EXX-logo.svg"></a>
          <a href="https://www.reutlingen-university.de/" target="_blank"><img class="logo" src="../assets/img/HR-Logo.svg"></a>
        </div>
        <div class="footerContainer">
          <h2>{{ 'language.title' | translate }}</h2>
          <p>{{ 'language.about' | translate }}</p>
          <ul class="nav flex-column">
            <li><a href="#">{{ 'language.kontakt' | translate }}</a></li>
            <li><a href="#">{{ 'language.impressum' | translate }}</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
