<bla-common-dialog [config]="config"
                   [loading]="loading">

  <form id="regionenForm"
        class="horizontal-form half-page"
        #regionenForm="ngForm">

    <!-- REGION NAME -->
    <div class="form-group row">
      <label for="regionName"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.REGION_DETAIL.FORM.REGION_NAME.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               required
               id="regionName"
               name="regionName"
               #regionName="ngModel"
               [(ngModel)]="currentRegion.regionName"
               [class.is-invalid]="regionName.invalid && !regionName.untouched"
               placeholder="{{ 'MANAGEMENT.REGION_DETAIL.FORM.REGION_NAME.PLACEHOLDER' | translate }}"
               data-cy="region-detail-name">
        <div class="invalid-feedback">
          {{ 'MANAGEMENT.REGION_DETAIL.FORM.REGION_NAME.ERROR' | translate }}
        </div>
      </div>
    </div>

    <!-- REGION CONTRACTION -->
    <div class="form-group row">
      <label for="regionContraction"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.REGION_DETAIL.FORM.REGION_CONTRACTION.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               required
               minlength="1"
               maxlength="7"
               pattern="[A-Za-z0-9\s_-]*"
               id="regionContraction"
               name="regionContraction"
               #regionContraction="ngModel"
               [(ngModel)]="currentRegion.regionKuerzel"
               [class.is-invalid]="(!regionContraction.valid || !isContractionUnique()) && regionContraction.dirty"
               placeholder="{{ 'MANAGEMENT.REGION_DETAIL.FORM.REGION_CONTRACTION.PLACEHOLDER' | translate }}"
               data-cy="region-detail-kuerzel">

        <div class="invalid-feedback">
          <div *ngIf="isContractionUnique()">
            {{ 'MANAGEMENT.REGION_DETAIL.FORM.REGION_CONTRACTION.ERROR1' | translate }}
          </div>
          <div *ngIf="!isContractionUnique()">
            {{ 'MANAGEMENT.REGION_DETAIL.FORM.REGION_CONTRACTION.ERROR2' | translate }}
          </div>
        </div>
      </div>
    </div>

    <!-- REGION TYP -->
    <div class="form-group row">
      <label for="regionTyp"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.REGION_DETAIL.FORM.REGION_TYP.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <select class="form-control"
                id="regionTyp"
                name="regionTyp"
                #regionTyp="ngModel"
                (change)="filterRegions(null)"
                [(ngModel)]="currentRegion.regionTyp"
                data-cy="region-detail-typ">
          <option selected="selected" [ngValue]="currentRegion.regionTyp">{{currentRegion.regionTyp}}</option>
          <option *ngFor="let typ of possibleRegionTypes"> {{typ}}</option>
          <!--placeholder="{{ 'MANAGEMENT.REGION_DETAIL.FORM.SUPERORDINATE.PLACEHOLDER' | translate }}"-->
        </select>
        <div class="invalid-feedback">
          {{ 'MANAGEMENT.REGION_DETAIL.FORM.REGION_TYP.ERROR' | translate }}
        </div>
      </div>
    </div>

    <!-- REGION UEBERGEORDNET -->
    <div class="form-group row">
      <label for="regionUebergeordnet"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.REGION_DETAIL.FORM.REGION_SUPERORDINATE.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <select class="form-control"
                id="regionUebergeordnet"
                name="regionUebergeordnet"
                #regionUebergeordnet="ngModel"
                (ngModelChange) = "filterRegions($event)"
                [(ngModel)]="currentRegion.regionUebergeordnetAsName"
                data-cy="region-detail-uebergeordnete-region">
          <!--<option selected="selected">{{currentRegion.regionUebergeordnetAsName}}</option>-->
          <option *ngFor="let uebergeordnet of uebergeordneteRegionenGefiltertStrings" [value]="uebergeordnet"> {{uebergeordnet}}</option>
          <option>Diese Region hat keine übergeordnete Region</option>
        </select>
        <div class="invalid-feedback">
          {{ 'MANAGEMENT.REGION_DETAIL.FORM.REGION_SUPERORDINATE.ERROR' | translate }}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9 button-box">


        <bla-button *ngIf="!entityExists()"
                    [id]="'regionSaveButton'"
                    [disabled]="!regionenForm.valid || !isContractionUnique()"
                    [loading]="saveLoading"
                    (onClick)="onSave($event)"
                    data-cy="region-save-button">
          {{ 'MANAGEMENT.REGION_DETAIL.FORM.SAVE' | translate }}
        </bla-button>
        <bla-button *ngIf="entityExists()"
                    [id]="'regionUpdateButton'"
                    [disabled]="!regionenForm.valid"
                    [loading]="saveLoading"
                    (onClick)="onUpdate($event)"
                    data-cy="region-update-button">
          {{ 'MANAGEMENT.REGION_DETAIL.FORM.UPDATE' | translate }}
        </bla-button>

        <bla-button *ngIf="entityExists()"
                    [buttonType]="ButtonType.DANGER"
                    [loading]="deleteLoading"
                    (onClick)="onDelete($event)">
          {{ 'MANAGEMENT.REGION_DETAIL.FORM.DELETE' | translate }}
        </bla-button>
      </div>
    </div>
  </form>

</bla-common-dialog>
