/* Farbkonzept Website */
$hero-blue: #487AF5; //Title H2, visual accent elements
$primary-black: #2A2A2A; // Most Texts, Primary Buttons
$primary-white: #FCFCFC; //Background
$dark-gray: #888888; // Subtitle, Inactive Buttons
$light-gray: #EAEAEF; //Secondary Buttons
$accent-gold: #FFCC34; //Help, Tooltip, Link to Help
$accent-red: #F40E0E; //Destructive Actions, Delete Buttons
$true-white: #ffffff; //Navbar & Header Background

#navbar {
  height: 3.2em;
}

#navbar a {
  color: $primary-black;
  text-decoration: none;
}

// Toggle hidden while Webview
#sidebarCollapseNavBar {
  display: none;
}

#navbar-header {
  padding-left: 2em;
}

#navbar-brand {
  margin-left: 1.1em;
}

#navbar-offline {
  position: absolute;
  width: 100%;
}

#navbar-offline h3{

  color: $accent-red;
  text-align: center;
}

.navbar-dark {
  background-color: $true-white;
  padding: 0;
}

// scale dropdown triangle
.dropdown-toggle::after {
  vertical-align: .35em;
  border-top: .5em solid;
  border-right: .4em solid transparent;
  border-left: .4em solid transparent;
}


// for small devices
@media (max-width: 768px) {

  .navbar-dark {
    padding: 0 1em 0 0;
  }


  // Toggle shown while in mobile view
  #sidebarCollapseNavBar {
    display: block;
    background: none;
    border: none;
    margin: 0 0 0 1em;
    cursor: pointer;
    outline: none;
  }

  // Toggle style of rows
  #sidebarCollapseNavBar span {
    width: 80%;
    height: 2px;
    display: block;
    background: $primary-black;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    opacity: 1;
    margin: 5px auto;
  }

  #navbar-brand, #navbar-header {
    display: none;
  }
}
