
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-brand {
  padding: 0px;
}

#sidebarCollapseNavBar {
  visibility: hidden;
}

.bg-dark {
  background-color: #02bdd5!important;
}

.btn-link {
  color: #fff;
}

.logo {
  margin: 10px;
}

// for small devices
@media (max-width: 768px) {
  #sidebarCollapseNavBar {
    visibility: visible;
    width: 40px;
    height: 40px;
    background: #f5f5f5;
  }

  #sidebarCollapseNavBar span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #02bdd5; //#555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    opacity: 1;
    margin: 5px auto;
  }
}
