// text color of bootstrap

/* Farbkonzept Website */
$primary: #ffffff; // Links, Navbar
$primary-light: #2A2A2A; // Sidebar-Background
$primary-dark: #ffffff; // Sidebar-Font
$secondary: #ffc107; // hover Tables, Button
$secondary-light: #fff350;
$secondary-dark: #ff833a; // hover Links, Logo

#navbar {
  height: 5.2em;

}

#navbar a {
  color: #2A2A2A;
  text-decoration: none;
}
#navbar h1{
}

// Toggle hidden while Webview
#sidebarCollapseNavBar {
  display: none;
}

#navbar-header {
  margin-top: 0.5em;
}

#navbar-brand {
  margin-left: 0.0em;
}

#navbar-offline {
  position: absolute;
  width: 100%;
}


#navbar-offline h3{

  color: red;
  text-align: center;
}

.navbar-dark {
  background-color: $primary;
  padding: 0;
}

// scale dropdown triangle
.dropdown-toggle::after {
  vertical-align: .35em;
  border-top: .5em solid;
  border-right: .4em solid transparent;
  border-left: .4em solid transparent;
}


// for small devices
@media (max-width: 768px) {

  .navbar-dark {
    padding: 0 1em 0 0;
  }


  // Toggle shown while in mobile view
  #sidebarCollapseNavBar {
    display: block;
    background: none;
    border: none;
    margin: 0 0 0 1em;
    cursor: pointer;
    outline: none;
  }

  // Toggle style of rows
  #sidebarCollapseNavBar span {
    width: 100%;
    height: 2px;
    display: block;
    //background: #02bdd5; //#555;
    background: black;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    opacity: 1;
    margin: 5px auto;
  }
  #logo{

  }
  // add Logo margin for mobile devices
  #navbar-brand{
    margin-left: 0.7em;
  }

}
// Hide header text for really small devices
@media (max-width:460px) {
  #navbar-header h1 {
    display: none;
  }
}
