// text color of bootstrap

/* Farbkonzept Website */
$primary: #02bdd5; // Links, Navbar
$primary-light: #b4ffff; // Sidebar-Background
$primary-dark: #007c91; // Sidebar-Font
$secondary: #ffc107; // hover Tables, Button
$secondary-light: #fff350;
$secondary-dark: #ff833a; // hover Links, Logo

#navbar {
  height: 4em;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

#navbar a {
  color: #007c91;
  text-decoration: none;
}

// Toggle hidden while Webview
#sidebarCollapseNavBar {
  display: none;
}

#navbar-header {
  padding-left: 2.7em;
}

#navbar-brand {
  margin-left: 1.1em;
}

.navbar-dark {
  background-color: $primary;
  padding: 0;
}

// scale dropdown triangle
.dropdown-toggle::after {
  vertical-align: .35em;
  border-top: .5em solid;
  border-right: .4em solid transparent;
  border-left: .4em solid transparent;
}


// for small devices
@media (max-width: 768px) {
  // Toggle shown while in mobile view
  #sidebarCollapseNavBar {
    display: block;
    background: none;
    border: none;
    margin: 0 0 0 1em;
    cursor: pointer;
    outline: none;
  }

  // Toggle style of rows
  #sidebarCollapseNavBar span {
    width: 80%;
    height: 2px;
    display: block;
    //background: #02bdd5; //#555;
    background: black;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    opacity: 1;
    margin: 5px auto;
  }

  #navbar-brand, #navbar-header {
    display: none;
  }
}
