<bla-navigation-dialog [config]="config">

  <div class="layout-elements">

    <bla-row-layout>
      <div class="flexChild">
        <h3><a class="blackLink"
               routerLink="/Wettkaempfe">{{ 'WETTKAEMPFE.TITEL.VERANSTALTUNG' | translate }}</a></h3>

        <table id="example"
               class="table table-hover table-sm table-responsive-sm thead-light table-striped"
               style="width:80%">
          <!-- headlines -->

          <bla-quicksearch-list (onSelect)="onSelect($event)"
                                [items]="veranstaltungen"
                                [loading]="loadingVeranstaltungen"
                                [multipleSelections]="!multipleSelections"
                                [placeholderTranslationKey]="PLACEHOLDER_VAR"
                                [optionFieldSelector]="'name'"
                                selectionListHeight="15em"
                                style="width: 60%; flex-grow: 0;">

          </bla-quicksearch-list>
        </table>
      </div>

     <!-- Veranstaltung und Wettkampftag als Anzeige
      <div class="form-group row">
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 [disabled]=true
                 id="veranstaltung_akt"
                 name="veranstaltung_akt"
                 #veranstaltung_akt="ngModel"
                 [(ngModel)]="ligatabelle[0].veranstaltung_name"
                 placeholder="{{ 'WETTKAEMPFE.LIGATABELLE.HEADER.VERANSTALTUNG' | translate }}">
            <span> *</span>
        </div>
        <label for="wettkampftag_akt"
               class="col-sm-3 col-form-label">
          <span>{{ 'WETTKAEMPFE.LIGATABELLE.HEADER.WETTKAMPFTAG_AKT' | translate }}</span>
          <span> *</span>
        </label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 [disabled]=true
                 id="wettkampftag_akt"
                 name="wettkampftag_akt"
                 #wettkampftag_akt="ngModel"
                 [(ngModel)]="ligatabelle[0].wettkampf_tag"
                 placeholder="{{ 'WETTKAEMPFE.LIGATABELLE.HEADER.WETTKAMPFTAG' | translate }}">
          <span> *</span>
        </div>
      </div>
 -->
      <!-- Ligatabelle -->
      <div>
        <h3><a class="blackLink"
               routerLink="/Wettkaempfe">{{ 'WETTKAEMPFE.LIGATABELLE.TITEL' | translate }}</a></h3>

        <div class="row">


          <!-- Dies ist die aktuelle Ligatabelle  zur Veranstaltung  -->

          <bla-data-table
                          [config]="config_table"
                          [rows]="rowsLigatabelle"
                          [loading]="loadingLigatabelle"
          >
          </bla-data-table>
        </div>
      </div>
    </bla-row-layout>
  </div>
</bla-navigation-dialog>
