<bla-navigation-dialog [config]="config">

  <div class="layout-elements">

    <bla-row-layout>
      <div class="flexChild">
        <h3><a class="blackLink"
               routerLink="/Wettkaempfe">{{ 'WETTKAEMPFE.TITEL.VERANSTALTUNG' | translate }}</a></h3>

        <table id="example"
               class="table table-hover table-sm table-responsive-sm thead-light table-striped"
               style="width:80%">
          <!-- headlines -->

          <bla-quicksearch-list (onSelect)="onSelect($event)"
                                [items]="veranstaltungen"
                                [loading]="loadingVeranstaltungen"
                                [multipleSelections]="!multipleSelections"
                                [placeholderTranslationKey]="PLACEHOLDER_VAR"
                                [optionFieldSelector]="'name'"
                                selectionListHeight="15em"
                                style="width: 60%; flex-grow: 0;">

          </bla-quicksearch-list>
        </table>
      </div>

       <!-- Ligatabelle -->
      <div>
        <h5><a class="blackLink"
               routerLink="/Wettkaempfe">{{ 'WETTKAEMPFE.LIGATABELLE.TITEL' | translate }}</a></h5>

        <div class="row">


          <!-- Dies ist die aktuelle Ligatabelle  zur Veranstaltung  -->
          <h5>
          <bla-data-table
                          [config]="config_table"
                          [rows]="rowsLigatabelle"
                          [loading]="loadingLigatabelle"
          >
          </bla-data-table>
          </h5>
        </div>
      </div>
    </bla-row-layout>
  </div>
</bla-navigation-dialog>
