<button
  [id]="id"
  [name]="id"
  *ngIf="visible"
  (click)="onButtonClick()"
  [disabled]="isDisabled()"
  type="button"
  class="btn"
  [ngClass]="getButtonClass()"
  [style.min-width]="minWidth"

>
  <!-- TODO make class configurable -->

  <!-- show loading indicator -->
  <span style="padding-right: 3px">
    <fa-icon *ngIf="loading"
             icon="sync"
             [spin]="true"></fa-icon>
  </span>

  <!-- show content of the <bla-button> element -->
  <ng-content></ng-content>


</button>
