<bla-overview-dialog [config]="configActive"
                     [rows]="rowsActive"
                     [loading]="loading"
                     (onViewClicked)="onView($event)"
                     (onEditClicked)="onEdit($event)"
                     (onDeleteClicked)="onDelete($event)">

</bla-overview-dialog>

<bla-overview-dialog [config]="configInactive"
                     [rows]="rowsInactive"
                     [loading]="loading"
                     (onViewClicked)="onView($event)"
                     (onEditClicked)="onEdit($event)"
                     (onAddClicked)="onAdd($event)">

</bla-overview-dialog>
