@import 'src/styles.scss';

.navigation-card {
  width: 18rem;
  min-height: 16rem;
  margin: 1.2em 1.2em 0 0;
}

.card-header-link, .card-header-link:hover, .card-header-link:visited, .card-header-link:active {
  color: $primary-black;
}

.card-header {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: $light-gray;
}

.tooltip-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 16rem;
  float: bottom;
}

.tooltip-navigation-card {
  position: relative;
  background: $light-gray;
}

.tooltip-text {
  font-size: 90%;
  text-align: left;
}

.multi-lines-text {
  white-space: pre-line;
}

