.navigation-card {
  width: 18rem;
  margin: 1em 1em 0 0;
}

.card-header-link, .card-header-link:hover, .card-header-link:visited, .card-header-link:active {
  color: #000;
}

.card-header {
  text-align: center;
}

.tooltip-body {
  background-color: #cecece;
}
.tooltip-card-header {
  text-align: center;
  height: 227px;
}
