@import 'src/styles.scss';

.navigation-card {
  width: 18rem;
  height: 16rem;
  margin: 1.2em 1.2em 0 0;
}

.card-header-link, .card-header-link:hover, .card-header-link:visited, .card-header-link:active {
  color: $primary-black;
}

.card-header {
  text-align: center;
  display: grid;
  justify-content: center;
  background-color: $light-gray;
}

.card-body {
  position: static;
  display: grid;
  flex-direction: column;
  height: 12rem;
}

.tooltip-body {
  position: static;
  display: grid;
  flex-direction: column;
  height: 16rem;
  float: bottom;
}

.tooltip-navigation-card {
  position: relative;
  background: $light-gray;
}

.tooltip-text {
  font-size: 100%;
  height: 8rem;
  text-align: left;

}
.card-text {
  font-size: 100%;
  height: 4rem;
  text-align: left;
}

.multi-lines-text {
  white-space: pre-line;
}

