<bla-common-dialog [config]="config"
                   [loading]="loading">

  <a name="bla-selectionlist"></a>

  <form id="userNeuForm"
        class="horizontal-form half-page"
        #userNeuForm="ngForm">

    <!-- Basis für einen Account ist ein bestehender Eintrag eines DSB-Mitglieds -->
    <div class="form-group row">
      <label for="userDsbMitglied"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.USER_NEU.FORM.DSBMITGLIED.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <bla-quicksearch-list id="userDsbMitglied"
                              name="userDsbMitglied"
                              [items]="getVersionedDataObjects()"
                              [optionFieldSelector]="'nachname'"
                              (onSelect)="onSelect($event)"
                              [multipleSelections]="!multipleSelections"
                              selectionListHeight="15em"
                              style="width: 50%;">

        </bla-quicksearch-list>
      </div>
    </div>

    <!-- username / email -->
    <div class="form-group row">
      <label for="userUsername"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.USER_NEU.FORM.EMAIL.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="email"
               class="form-control"
               id="userUsername"
               name="userUsername"
               #userUsername="ngModel"
               [(ngModel)]="currentCredentials.username"
               [class.is-invalid]="userUsername.invalid && !userUsername.untouched"
               pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
               placeholder="{{ 'MANAGEMENT.USER_NEU.FORM.EMAIL.PLACEHOLDER' | translate }}"
               data-cy="username-input">
        <div class="invalid-feedback">
          {{ 'MANAGEMENT.USER_NEU.FORM.EMAIL.ERROR' | translate }}
        </div>
      </div>
    </div>

    <!-- Passwort -->
    <div class="form-group row">
      <label for="userPassword"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.USER_NEU.FORM.PASSWORD.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="password"
               class="form-control"
               required
               minlength="8"
               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d#\$\^+=!\*()@%&?]{8,}$"
               id="userPassword"
               name="userPassword"
               #userPassword="ngModel"
               [(ngModel)]="currentCredentials.password"
               [class.is-invalid]="userPassword.invalid  && !userPassword.untouched"
               placeholder="{{ 'MANAGEMENT.USER_NEU.FORM.PASSWORD.PLACEHOLDER' | translate }}"
               data-cy="password-input">
        <div class="invalid-feedback">
          {{ 'MANAGEMENT.USER_NEU.FORM.PASSWORD.ERROR' | translate }}
        </div>
      </div>
    </div>

    <!-- Verifikation Passwort -->
    <div class="form-group row">
      <label for="userVerifyPassword"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.USER_NEU.FORM.VERIFYPASSWORD.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="password"
               class="form-control"
               required
               id="userVerifyPassword"
               name="userVerifyPassword"
               #userVerifyPassword="ngModel"
               [(ngModel)]="verifyCredentials.password"
               [class.is-invalid]="currentCredentials.password !=  verifyCredentials.password"
               placeholder="{{ 'MANAGEMENT.USER_NEU.FORM.VERIFYPASSWORD.PLACEHOLDER' | translate }}"
               data-cy="verify-password-input">
        <div class="invalid-feedback">
          {{ 'MANAGEMENT.USER_NEU.FORM.VERIFYPASSWORD.ERROR' | translate }}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="user2FA"
             class="col-sm-6 col-form-label">
        {{ 'MANAGEMENT.USER_NEU.FORM.2FA.LABEL' | translate }}
      </label>
      <div class="col-sm-1">
        <input type="checkbox"
               class="form-control"
               id="user2FA"
               name="user2FA"
               #user2FA="ngModel"
               [(ngModel)]="currentCredentials.using2FA"
               [class.is-invalid]="user2FA.invalid">
      </div>
    </div>
    <div id="qr">
      <p>
        Scan this Barcode using Google Authenticator app on your phone
        to use it later in login
      </p>
      <img [src]="qrCode"
      />
    </div>

    <div class="form-group row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9 button-box">
        <bla-button
          [id]="'userSaveButton'"
          [disabled]="!userNeuForm.valid"
          [loading]="saveLoading"
          (onClick)="onSave($event)"
          data-cy="user-submit-button">
          {{ 'MANAGEMENT.USER_NEU.FORM.SAVE' | translate }}
        </bla-button>
      </div>
    </div>
  </form>

</bla-common-dialog>
