.layout-element-1 {
  background-color: #ff833a;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 4em;
  margin: .3em;
}

.layout-element-2 {
  background-color: cornflowerblue;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 4em;
  margin: .3em;
}

.layout-element-3 {
  background-color: darkgreen;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 4em;
  margin: .3em;
}

.layout-element-4 {
  background-color: deeppink;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 4em;
  margin: .3em;
}

.layout-element-5 {
  background-color: firebrick;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 4em;
  margin: .3em;
}

.layout-element-6 {
  background-color: #fff350;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 4em;
  margin: .3em;
}

.layout-element-7 {
  background-color: greenyellow;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 4em;
  margin: .3em;
}

