<bla-hilfe-button href="https://wiki.bsapp.de/doku.php?id=liga:verwaltung_mitglieder-uebersicht"
                  target="_blank"></bla-hilfe-button>
<bla-overview-dialog (onDeleteClicked)="onDelete($event)"
                     (onEditClicked)="onEdit($event)"
                     (onSearchClicked)="findBySearch($event)"
                     (onViewClicked)="onView($event)"
                     [config]="config"
                     [hidden]=false
                     [loading]="loading"
                     [rows]="rows"
                     [searchTerm]="searchTerm">
  <div (mouseover)="onMouseOver($event)"></div>
</bla-overview-dialog>

