<bla-hilfe-button href="https://wiki.bsapp.de/doku.php?id=liga:dsbmitgliederuebersicht" target="_blank"></bla-hilfe-button>
<bla-overview-dialog  [hidden]=false
                       [config]="config"
                       [rows]="rows"
                       [loading]="loading"
                       [searchTerm]="searchTerm"
                       (onViewClicked)="onView($event)"
                       (onEditClicked)="onEdit($event)"
                       (onDeleteClicked)="onDelete($event)"
                       (onSearchClicked)="findBySearch($event)" >

  </bla-overview-dialog>

