<bla-hilfe-button href="https://wiki.bsapp.de/doku.php?id=liga:verwaltung_veranstaltungen" target="_blank"></bla-hilfe-button>
<bla-breadcrumbs></bla-breadcrumbs>
<bla-row-layout>

<bla-selection-overview-dialog [config]="table_config"
                               (onDeleteClicked)="onDelete($event)"
                               (onEditClicked)="onEdit($event)"
                               (onViewClicked)="onView($event)"
                               [loading]="loading"
                               [items]="selectedDTOs"
                               [multipleSelections]="!multipleSelections"
                               [rows]="rows"
                               [findOnlyGeplantLaufend]=true
                               [optionFieldSelector]="'sportjahr'">
  <div (mouseover)="onMouseOver($event)"></div>
</bla-selection-overview-dialog>

</bla-row-layout>
