<bla-breadcrumbs></bla-breadcrumbs>
<bla-row-layout>

<bla-selection-overview-dialog [config]="table_config"
                                 [rows]="rows"
                                 [loading]="loading"
                                 (onViewClicked)="onView($event)"
                                 (onEditClicked)="onEdit($event)"
                                 (onDeleteClicked)="onDelete($event)"
                               [items]="selectedDTOs"
                               [multipleSelections]="!multipleSelections"
                               [optionFieldSelector]="'sportjahr'">

</bla-selection-overview-dialog>

</bla-row-layout>
