
<nav id="navbar" class="navbar navbar-expand bg-dark navbar-dark fixed-top">

  <button type="button" id="sidebarCollapseNavBar" class="btn-outline-light" (click)="comp.toggle()">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <img class="navbar-brand" src="../assets/img/logo.png" style="width:40px;">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">{{ 'language.link1' | translate }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">{{ 'language.link2' | translate }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">{{ 'language.link3' | translate }}</a>
    </li>
  </ul>

  <ul id="navbar-right" class="navbar-nav ml-auto">
    <button (click)="comp.useLanguage('en')">en</button>
    <button (click)="comp.useLanguage('de')">de</button>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="material-icons">settings_applications</i></a>
    </li>

  </ul>

</nav>
