<bla-common-dialog [config]="config"
                   [loading]="loading">

  <a name="bla-selectionlist"></a>

  <form id="benutzerForm"
        class="horizontal-form half-page"
        #benutzerForm="ngForm">



      <!-- Email / Username -->
      <div class="form-group row">
        <label for="benutzerEmail"
               class="col-sm-3 col-form-label">
          <span>{{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.EMAIL.LABEL' | translate }}</span>
          <span> *</span>
        </label>
        <div class="col-sm-9">
          <input type="email"
                 class="form-control"
                 [disabled]=true
                 id="benutzerEmail"
                 name="benutzerEmail"
                 #benutzerEmail="ngModel"
                 [(ngModel)]="currentBenutzerRolleDO[0].email"
                 placeholder="{{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.EMAIL.PLACEHOLDER' | translate }}">

          <div class="invalid-feedback">
            {{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.EMAIL.ERROR' | translate }}
          </div>
        </div>
      </div>
      <!-- Rolle -->
    <!-- Email / Username -->
    <div class="form-group row">
      <label for="benutzerRolleAlt"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.ROLEOLD.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               [disabled]=true
               id="benutzerRolleAlt"
               name="benutzerRolleAlt"
               #benutzerRolleAlt="ngModel"
               [(ngModel)]="currentBenutzerRolleDO.forEach();"
               placeholder="{{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.ROLEOLD.PLACEHOLDER' | translate }}">

        <div class="invalid-feedback">
          {{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.ROLLE.ERROR' | translate }}
        </div>
      </div>
    </div>

      <div class="form-group row">
        <label for="benutzerrolle"
               id="benutzerrolle"
               name="benutzerrolle"
               class="col-sm-3 col-form-label">
          <span>{{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.ROLENEW.LABEL' | translate }}: {{ getSelectedDTO() }}</span>
          <span> *</span>
        </label>
        <div class="col-sm-9">
          <bla-selectionlist
                             [id]="'quickSearch'"
                             [items]="getVersionedDataObjects()"
                             [optionFieldSelector]="'roleName'"
                             (onSelect)="onSelect($event)"
                             [multipleSelections]="true"
                             style="width: 50%; height: 10em;">


          </bla-selectionlist>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9 button-box">
          <bla-button
                      [id]="'benutzerUpdateButton'"
                      [disabled]="benutzerForm.valid"
                      [loading]="saveLoading"
                      (onClick)="onUpdate($event)">
            {{ 'MANAGEMENT.DSBMANNSCHAFT_DETAIL.FORM.UPDATE' | translate }}
          </bla-button>
        </div>
      </div>



  </form>

</bla-common-dialog>
