<bla-common-dialog [config]="config"
                   [loading]="loading">

  <form id="benutzerForm"
        class="horizontal-form half-page"
        #benutzerForm="ngForm">

    <!-- VORNAME -->
    <div class="form-group row">
      <label for="benutzerEmail"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.EMAIL.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="email"
               class="form-control"
               required
               id="benutzerEmail"
               name="benutzerEmail"
               #benutzerEmail="ngModel"
               [(ngModel)]="currentCredentials.username"
               [class.is-invalid]="benutzerEmail.invalid && !benutzerEmail.untouched"
               pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,63}$"
               placeholder="{{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.EMAIL.PLACEHOLDER' | translate }}">

        <div class="invalid-feedback">
          {{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.EMAIL.ERROR' | translate }}
        </div>
      </div>
    </div>

    <!-- Passwort -->
    <div class="form-group row">
      <label for="benutzerPassword"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.PASSWORD.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="password"
               class="form-control"
               required
               id="benutzerPassword"
               name="benutzerPassword"
               #benutzerPassword="ngModel"
               minlength="8"
               [(ngModel)]="currentCredentials.newpassword"
               [class.is-invalid]="benutzerPassword.invalid && !benutzerPassword.untouched"
               placeholder="{{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.PASSWORD.PLACEHOLDER' | translate }}">

        <div class="invalid-feedback">
          {{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.PASSWORD.ERROR' | translate }}
        </div>
      </div>
    </div>

    <!-- Password verification -->
    <!-- TODO Prüfung auf Identität der PWD funktioniert nicht -->
    <div class="form-group row">
      <label for="benutzerVerifyPassword"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.VERIFYPASSWORD.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="password"
               class="form-control"
               required
               id="benutzerVerifyPassword"
               name="benutzerVerifyPassword"
               #benutzerVerifyPassword="ngModel"
               [(ngModel)]="currentCredentials.verifypassword"
               [class.is-invalid]="benutzerVerifyPassword.value != benutzerPassword.value"
               placeholder="{{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.VERIFYPASSWORD.PLACEHOLDER' | translate }}">

        <div class="invalid-feedback">
          {{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.VERIFYPASSWORD.ERROR' | translate }}
        </div>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9 button-box">


        <bla-button *ngIf="!entityExists()"
                    [id]="'benutzerSaveButton'"
                    [disabled]="!benutzerForm.valid"
                    [loading]="saveLoading"
                    (onClick)="onSave($event)">
          {{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.SAVE' | translate }}
        </bla-button>
      </div>
    </div>
  </form>

</bla-common-dialog>
