<bla-common-dialog [config]="config"
                   [loading]="loading">

  <a name="bla-selectionlist"></a>

  <form id="benutzerForm"
        class="horizontal-form half-page"
        #benutzerForm="ngForm" >

      <!-- Email / Username -->
    <div class="form-group row">
      <label for="benutzerEmail"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.EMAIL.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="email"
               class="form-control"
               [disabled]=true
               id="benutzerEmail"
               name="benutzerEmail"
               #benutzerEmail="ngModel"
               [(ngModel)]="currentBenutzerRolleDO[0].email"
               placeholder="{{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.EMAIL.PLACEHOLDER' | translate }}">

        <div class="invalid-feedback">
          {{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.EMAIL.ERROR' | translate }}
        </div>
      </div>
    </div>

      <!-- Rolle -->
    <!-- Email / Username -->
    <div class="form-group row">
      <label for="benutzerRolleAlt"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.ROLE_OLD.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               [disabled]=true
               id="benutzerRolleAlt"
               name="benutzerRolleAlt"
               #benutzerRolleAlt="ngModel"
               [(ngModel)]="roleNames"
               placeholder="{{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.ROLE_OLD.PLACEHOLDER' | translate }}">

        <div class="invalid-feedback">
          {{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.ROLLE.ERROR' | translate }}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="benutzerrolle"
             id="benutzerrolle"
             name="benutzerrolle"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.ROLE_NEW.LABEL' | translate }}: {{ getSelectedDTO() }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <bla-selectionlist
          [id]="'quickSearch'"
          [items]="getVersionedDataObjects()"
          [optionFieldSelector]="'roleName'"
          (onSelect)="onSelect($event)"
          [multipleSelections]="true"
          style="width: 50%; height: 10em;">
        </bla-selectionlist>
      </div>
    </div>
      <div class="form-group row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9 button-box">
        <bla-button
          [id]="'benutzerUpdateButton'"
          [disabled]="!enableButton"
          [loading]="saveLoading"
          (onClick)="resetRole($event)">
          {{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.ROLE_UPDATE' | translate }}
        </bla-button>
      </div>
    </div>
  </form>

      <!-- Passwort -->
  <form id="passwordForm"
        class="horizontal-form half-page"
        #passwordForm="ngForm">
    <div class="form-group row">
      <label for="userPwdFormNewPwd"
             class="col-sm-3 col-form-label">
        <span>{{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.PASSWORD_NEW.LABEL' | translate }}</span>
        <span> *</span>
      </label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               id="userPwdFormNewPwd"
               name="userPwdFormNewPwd"
               required
               minlength="8"
               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])[a-zA-Z0-9]+$"
               #userPwdFormNewPwd="ngModel"
               [(ngModel)]="credentials.password"
               [class.is-invalid]="(userPwdFormNewPwd.invalid && !userPwdFormNewPwd.untouched)"
               placeholder="{{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.PASSWORD_NEW.PLACEHOLDER' | translate }}">
        <div class="invalid-feedback">
          {{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.PASSWORD_NEW.ERROR' | translate }}
        </div>
      </div>
    </div>
    <div class="form-group row">
    <div class="col-sm-3"></div>
      <div class="col-sm-9 button-box">
        <bla-button
          [id]="'passwordUpdateButton'"
          [disabled]="!passwordForm.valid"
          [loading]="savePW"
          (onClick)="resetPW($event)">
          {{ 'MANAGEMENT.BENUTZER_DETAIL.FORM.PW_UPDATE' | translate }}
        </bla-button>
      </div>
    </div>
  </form>
</bla-common-dialog>
