<bla-hilfe-button href="https://wiki.bsapp.de/doku.php?id=liga:benutzeruebersicht" target="_blank"></bla-hilfe-button>
<bla-overview-dialog [hidden]=false
                     [config]="configActive"
                     [rows]="displayRoles"
                     [loading]="loading"
                     [searchTerm]="searchTerm"
                     (onViewClicked)="onView($event)"
                     data-cy="test"
                     (onEditClicked)="onEdit($event)"
                     (onDeleteClicked)="onDelete($event)"
                     (onSearchClicked)="findBySearch($event)" >
  <div (mouseover)="onMouseOver($event)"></div>
</bla-overview-dialog>
