<bla-navigation-dialog [config]="config">
  <!-- Loading indicator -->
  <div *ngIf="loading">{{ "MANNSCHAFT.STATUS.LOADING" | translate }}</div>

  <!-- Mannschaft anzeigen -->
  <div *ngIf="!loading && mannschaft">
    <h1>{{ mannschaft.name || 'unbenannte Mannschaft' }} </h1>
    <span>{{ "MANNSCHAFT.SPORTJAHR" | translate }}: {{ mannschaft.sportjahr }}</span>
  </div>
  <div class="my-3">
    <ul class="nav nav-tabs">
      <li class="nav-item" *ngFor="let tab of tabs">
        <button
          data-cy="statisticTabButton"
          class="nav-link"
          [class.active]="tab.type === selectedStatistic"
          (click)="selectTab(tab.type)">
          {{ "MANNSCHAFT.TABS." + tab.type.valueOf() + ".TITLE" | translate }}
        </button>
      </li>
    </ul>

    <div class="mt-3 pl-3">
      <bla-mannschaft-table [wettkaempfe]="wettkaempfe"
                            [selectedMannschaft]="mannschaft" [selectedStatistic]="selectedStatistic" [veranstaltung]="veranstaltung"></bla-mannschaft-table>
    </div>


  </div>

  <bla-actionbutton
    class="item"
    id="jumpToVereinButton"
    [color]="ActionButtonColors.PRIMARY"
    [iconClass]="'users'"
    (onClick)="onPushtoVerein()"
  >
    {{ "zum Verein" }}
  </bla-actionbutton>
</bla-navigation-dialog>
