// basic css of content
.homeContent {
  margin: 5px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
}

// container for pictures and text
.flexChild {
  flex: 1 0 45%; // 45% -> two in one row
  margin: 20px;
  margin-top: 50px;
}

// css for Images of containers
.mosaikImg {
  width: 90%;
}
