<!DOCTYPE html>
<html>
<body>
<bla-common-dialog [config]="config" >
  <form id="regionenForm"
        class="horizontal-form half-page">
    <h3 class="print1" id="titel">{{currentVeranstaltung.name}}</h3>
    <h2 class="print1" id="titel2">{{getTitle()}}</h2>

    <!-- Die Texte werden in der de.json Datei gesetzt-->
    <!-- Print1 wird verwendet um gewisse html-Elemente im Druck sichtbar zu machen und diese anzuzeigen
    gesetzt wird es in styles.scss-->

    <!-- Veranstaltung -->
    <div id="selectVereink">
      <div class="row">
        <label class="col-sm-1 col-form-label">
          <span>{{ 'MANNSCHAFTEN.MANNSCHAFTEN.FORM.VERANSTALTUNG_NAME.LABEL' | translate }}</span>
        </label>
        <div class="col-sm-8">
          <bla-selectionlist [id]="'quickSearch'"
                             [loading]="areVeranstaltungenLoading"
                             [items]="veranstaltungen"
                             [selectedItemIds]=[currentVeranstaltung.id]
                             [optionFieldSelector]="'name'"
                             (onSelect)="onSelect($event);"
                             [multipleSelections]="!multipleSelections"
                             style="width: 50%; height: 10em;">

          </bla-selectionlist>
        </div>
      </div>
    </div>

    <!-- Mannschaft -->
    <div id="selectVerein">
      <div class="row">
        <label class="col-sm-1 col-form-label">
          <span>{{ 'MANNSCHAFTEN.MANNSCHAFTEN.FORM.MANNSCHAFT_NAME.LABEL' | translate }}</span>
        </label>
        <div class="col-sm-8">
          <select class="form-control"
                  id="vereine"
                  name="VereinName"
                  [(ngModel)]="currentMannschaft">
            <option *ngFor="let mannschaft of mannschaften" [ngValue]="mannschaft"> {{mannschaft.name}}</option>
          </select>
          <div class="invalid-feedback">
            {{ 'MANAGEMENT.REGION_DETAIL.FORM.REGION_TYP.ERROR' | translate }}
          </div>
        </div>
      </div>
    </div>

    <!-- Jahr -->
    <div class="row print1">
      <label class="col-sm-1 col-form-label">
        <span>{{ 'MANNSCHAFTEN.MANNSCHAFTEN.FORM.SPORTJAHR.LABEL' | translate }}</span>
      </label>
      <div class="col-sm-8">
        <select class="form-control"
                id="jahr"
                name="Jahre"
                [(ngModel)]="currentJahr"
                disabled="true">
          <option *ngFor="let Jahr of jahre"> {{Jahr}}</option>
        </select>
        <div class="invalid-feedback">
          {{ 'MANAGEMENT.REGION_DETAIL.FORM.REGION_TYP.ERROR' | translate }}
        </div>
      </div>
    </div>

    <br>
    <div id="vereinsinformationen" class="hidden">
      <h3>{{ 'MANAGEMENT.VEREIN_DETAIL.TITLE' | translate }}</h3>
      <!-- Vereinsname -->
      <div class="row print1">
        <label class="col-sm-1 col-form-label">
          <span>{{ 'MANAGEMENT.VEREIN_DETAIL.FORM.VEREIN_NAME.LABEL' | translate }}:</span>
        </label>
        <div class="col-sm-8">
          <div class="form-control">
            <div>{{this.currentVerein.name}}</div>
          </div>
        </div>
      </div>
      <!-- Regionsname -->
      <div class="row print1">
        <label class="col-sm-1 col-form-label">
          <span>{{ 'MANAGEMENT.VEREIN_DETAIL.FORM.VEREIN_REGION.LABEL' | translate }}:</span>
        </label>
        <div class="col-sm-8">
          <div class="form-control">
            <div>{{this.currentVerein.regionName}}</div>
          </div>
        </div>
      </div>
      <!-- Webseite -->
      <div class="row print1">
        <label class="col-sm-1 col-form-label">
          <span>{{ 'MANAGEMENT.VEREIN_DETAIL.FORM.VEREIN_WEBSITE.LABEL' | translate }}:</span>
        </label>
        <div class="col-sm-8">
          <div class="form-control">
            <div><a href="{{this.currentVerein.website}}">{{this.currentVerein.website}}</a></div>
          </div>
        </div>
      </div>
      <!-- Freitext -->
      <div class="row print1">
        <label class="col-sm-1 col-form-label">
          <span>{{ 'MANAGEMENT.VEREIN_DETAIL.FORM.VEREIN_DESCRIPTION.LABEL' | translate }}:</span>
        </label>
        <div class="col-sm-8">
            <textarea class="form-control" readonly>{{this.currentVerein.description}}</textarea>
        </div>
      </div>

      <!-- Vereinslogo -->
      <div class="row print1">
        <label class="col-sm-1 col-form-label">
          <span>{{ 'MANAGEMENT.VEREIN_DETAIL.FORM.VEREIN_ICON.LABEL' | translate }}:</span>
        </label>
        <div class="col-sm-8">
          <img src="{{this.currentVerein.icon}}"
               alt="{{ 'MANAGEMENT.VEREIN_DETAIL.FORM.VEREIN_ICON.ERROR_PLACEHOLDER' | translate }}"
               width="100" height="100"/>
        </div>
      </div>
    </div>

    <!-- Button -->
    <div id="Button">
      <!-- Button - Alle Mannschaften anzeigen -->
      <bla-button
        [id]="'showResultsButton'"
        (onClick)="loadErgebnisse(undefined);">
        {{ 'MANNSCHAFTEN.MANNSCHAFTEN.BUTTONS.ANZEIGENALL.LABEL' | translate }}
      </bla-button>
      &nbsp;
      <!-- Button - Aktuelle Mannschaft anzeigen -->
      <bla-button
        [id]="'showResultsButton'"
        (onClick)="gesamt = false; loadPopup(this.currentMannschaft);loadErgebnisse(this.currentMannschaft);">
        {{ 'MANNSCHAFTEN.MANNSCHAFTEN.BUTTONS.ANZEIGEN.LABEL' | translate }}
      </bla-button>
      &nbsp;
      <!-- Button - Einzelstatistik anzeigen -->
      <bla-button
        [id]="'showResultsButton'"
        (onClick)="gesamt = false; loadPopup(this.currentMannschaft);">
        {{ 'MANNSCHAFTEN.MANNSCHAFTEN.BUTTONS.ANZEIGENEinzel.LABEL' | translate }}
      </bla-button>
      &nbsp;
      <!-- Button - Einzelstatistik Gesamt anzeigen -->
      <bla-button
        [id]="'showResultsButton'"
        (onClick)="gesamt = true; loadPopup(this.currentMannschaft);">
        {{ 'MANNSCHAFTEN.MANNSCHAFTEN.BUTTONS.ANZEIGENEinzelGesamt.LABEL' | translate }}
      </bla-button>
      &nbsp;
      <!-- Button - Einzelstatistik als PDF -->
      <bla-download-button class = "hidden" id = "einzeldruckButton"
        [id]="'downloadEinzelstatistik'"
        [downloadUrl]="onButtonDownload('pdf/Einzelstatistik')"
        [fileName]="'Einzelstatistik.pdf'"> Einzelstatistik als PDF
      </bla-download-button>

      <!-- Button - Gesamtstatistik Drucken -->
      <bla-download-button class = "hidden" id = "gesamtdruckButton"
                           [id]="'downloadGesamtstatistik'"
                           [downloadUrl]="onButtonDownload('pdf/Gesamtstatistik')"
                           [fileName]="'Gesamtstatistik.pdf'"> Gesamtstatistik als PDF
      </bla-download-button>
    </div>
<!-- popup -->
    <div class="overlay" *ngIf="popup">
      <div class="popup">
        <h2>{{ 'MANNSCHAFTEN.MANNSCHAFTEN.POPUPTXT.POPUPÜBERSCHRIFT.LABEL' | translate }}</h2>
        <a class="close" (click)="popup = false">&times;</a>
        <div class="content_popup">
          <p>{{ 'MANNSCHAFTEN.MANNSCHAFTEN.POPUPTXT.POPUPINHALT.LABEL' | translate }}
          </p>
          <p></p>
        </div>
      </div>
    </div>

    <div class="col-sm-9">
      <div class="invalid-feedback">
        {{ 'MANAGEMENT.REGION_DETAIL.FORM.REGION_TYP.ERROR' | translate }}
      </div>
    </div>

    <!-- Row Gesamtstatistik -->
    <div class="row print1">
      <div id="Table0" class="hidden">
        <h3>{{"Gesamtstatistik pro Schütze"}}</h3>
        <bla-data-table id="row00"
                        [loading]="loadingData"
                        [config]="config_einzelGesamt_table"
                        [rows]="rows[0]">
        </bla-data-table>
      </div>
    </div>
    <!-- Row 1 -->
    <div class="row print1">
      <div id="Table1" class="hidden" [hidden]="!isTableFilled[0]">
        <h3>{{"Wettkampftag 1"}}</h3>
        <bla-data-table id="row0"
                        [loading]="loadingData"
                        [config]="config_table"
                        [rows]="rows[0]">
        </bla-data-table>
        <bla-data-table id="row01" class="hidden"
                        [loading]="loadingData"
                        [config]="config_einzel_table"
                        [rows]="rows[0]">
        </bla-data-table>
      </div>
    </div>
    <!-- Row 2 -->
    <div class="row print1">
      <div id="Table2" class="hidden" [hidden]="!isTableFilled[1]">
        <h3>{{"Wettkampftag 2"}}</h3>
        <bla-data-table id="row1"
                        [loading]="loadingData"
                        [config]="config_table"
                        [rows]="rows[0]">
        </bla-data-table>
        <bla-data-table id="row11" class="hidden"
                        [loading]="loadingData"
                        [config]="config_einzel_table"
                        [rows]="rows[0]">
        </bla-data-table>
      </div>
    </div>
    <!-- Row 3 -->
    <div class="row print1">
      <div id="Table3" class="hidden" [hidden]="!isTableFilled[2]">
        <h3>{{"Wettkampftag 3"}}</h3>
        <bla-data-table id="row2"
                        [loading]="loadingData"
                        [config]="config_table"
                        [rows]="rows[0]">
        </bla-data-table>
        <bla-data-table id="row21" class="hidden"
                        [loading]="loadingData"
                        [config]="config_einzel_table"
                        [rows]="rows[0]">
        </bla-data-table>
      </div>
    </div>
    <!-- Row 4 -->
    <div class="row print1">
      <div id="Table4" class="hidden" [hidden]="!isTableFilled[3]">
        <h3>{{"Wettkampftag 4"}}</h3>
        <bla-data-table id="row3"
                        [loading]="loadingData"
                        [config]="config_table"
                        [rows]="rows[0]">
        </bla-data-table>
        <bla-data-table id="row31" class="hidden"
                        [loading]="loadingData"
                        [config]="config_einzel_table"
                        [rows]="rows[0]">
        </bla-data-table>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9 button-box">

      </div>
    </div>
  </form>
</bla-common-dialog>
</body>
</html>
