#Button{
  margin-top: 20px;
}
#showResultButton{
  margin-top: 20px;
}
.row{
  margin-top: 20px;
}

/* Zeigt das Popup, Hintergrund wird unscharf */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}
/* Groesse und Farbe des Popup Fenster */
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
}
/* Symbol zum schliessen des Popup Fensters (oben rechts) */
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.hidden {
  display: none;
}


