<div class="Buttoncontainer">
  <div class="butonwrapper" *ngFor="let button of config.shortcutButtons">
    <button *ngIf="hasUserPermissions(button.permissions)" type="button" class="shortcut-btn">
      <img class="buttonlogo" *ngIf="button.icon" [src]="button.icon" alt="{{ button.title }}" />
    </button>
    <ng-container *ngIf="hasUserPermissions(button.permissions)">
      <p class="Button_Titel">
        <span *ngFor="let word of button.title.split(' ')">{{ word }}<br/></span>
      </p>
    </ng-container>
  </div>
</div>

