/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* Farbkonzept Website */
$hero-blue: #487AF5; //Title H2, visual accent elements
$primary-black: #2A2A2A; // Most Texts, Primary Buttons
$primary-white: #FCFCFC; //Background
$dark-gray: #888888; // Subtitle, Inactive Buttons
$light-gray: #EAEAEF; //Secondary Buttons
$accent-gold: #FFCC34; //Help, Tooltip, Link to Help
$accent-red: #F40E0E; //Destructive Actions, Delete Buttons
$true-white: #ffffff; //Navbar & Header Background

:root {
  --accent-gold: #{$accent-gold}
}

/* OLD
$primary-light: #b4ffff; // Sidebar-Background
$primary-dark: #007c91; // Sidebar-Font
$secondary: #ffc107; // hover Tables, Button
$secondary-light: #fff350;
$secondary-dark: #ff833a; // hover Links, Logo
*/

@font-face {
  font-family: Poppins-regular;
  src: url("/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Poppins-bold;
  src: url("/assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Poppins-semibold;
  src: url("/assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Poppins-light;
  src: url("/assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: Poppins-medium;
  src: url("/assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Bitter-regular;
  src: url("/assets/fonts/Bitter/Bitter-Regular.ttf ") format("truetype");
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
  background-color: $primary-white;
  font-family: Poppins-light, Roboto, "Helvetica Neue", sans-serif;
  color: $primary-black;
}

// ==================
/* GLOBAL TYPOGRAPHY */

//Use for: Page title
h1 {
  color: $primary-black;
  font-size: 1.8em;
  font-family: "Poppins-semibold", Roboto, "Helvetica Neue", sans-serif;
}

//Use for: Section title
h2 {
  color: $hero-blue;
  font-size: 1.2em;
  font-family: Poppins-Medium, Roboto, "Helvetica Neue", sans-serif;
}

//Use for: Component title
h3 {
  color: $primary-black;
  font-size: 0.9em;
  font-family: Poppins-Medium, Roboto, "Helvetica Neue", sans-serif;
}

//Use for: Label (e.g. date lable)
h4 {
  color: $dark-gray;
  font-size: 1em;
  font-weight: normal;
  font-family: "Bitter-regular", Roboto, "Helvetica Neue", sans-serif;
}

p {
  font-size: 0.9em;
}

// Use for: Erklärender subtitle unter H1 Page title
.subtitle {
  color: $dark-gray;
  font-size: 1em;
  font-family: Bitter-regular, Roboto, "Helvetica Neue", sans-serif;
  padding-bottom: 1em;
}

// ======================
/* COMMON STYLE ELEMENTS */

// Use for: Navbar, content cards, boxes
.soft-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

// Use for: normal text, normal links
p, a, a:visited {
  color: $primary-black;
  text-decoration: none;
}

// Hover styles
a:hover, a:focus {
  color: $hero-blue;
  transition: ease-in-out 0.3s;
  text-decoration: none;
}

//Remove?
.color-black, a.color-black, a:visited.color-black {
  color: $primary-black;
  text-decoration: none;
}

// =================
/* GLOBAL ANIMATIONS */

.animation.fade-in {
  -webkit-animation: fadein 0.3s;
  -moz-animation: fadein 0.3s;
  -ms-animation: fadein 0.3s;
  -o-animation: fadein 0.3s;
  animation: fadein 0.3s;
}

.animation.fade-out {
  -webkit-animation: fadeout 0.3s;
  -moz-animation: fadeout 0.3s;
  -ms-animation: fadeout 0.3s;
  -o-animation: fadeout 0.3s;
  animation: fadeout 0.3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Firefox < 16 */

@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Internet Explorer */

@-ms-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Opera < 12.1 */

@-o-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media print {
  body {
    visibility: hidden;
    height: auto;
  }
  .print {
    visibility: visible;
  }
  @page {
    margin: 1cm;
    height: auto;
  }
  body {
    visibility: visible;
  }
  table, figure {
    page-break-inside: avoid;
  }
  * {
    overflow: visible !important;
    visibility: visible;
    margin: auto;
    page-break-inside: avoid;

    table {
      page-break-inside: avoid
    }

    tr {
      page-break-inside: avoid;
      page-break-after: auto
    }
  }
  .print1 {
    margin: auto;
    visibility: visible;
    page-break-inside: avoid;

    table {
      page-break-inside: avoid
    }

    tr {
      page-break-inside: avoid;
      page-break-after: auto
    }
  }
}


.environment-corner-ribbon {
  width: 200px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: $primary-white;
  background: $accent-red;
  border: 2px solid $true-white;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  position: fixed;
}

.environment-corner-ribbon.bottom-right {
  top: auto;
  right: -70px;
  bottom: 5px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.action-btn-primary {
  --button-color: var(--primary);
}

.action-btn-secondary {
  --button-color: var(--secondary);
}

.action-btn-success {
  --button-color: var(--success);
}

.action-btn-danger {
  --button-color: var(--danger);
}

.action-btn {
  margin: 1rem;
  display: flex;
  align-items: center;
  max-height: 30px;
  white-space: nowrap;
  padding: 8px 15px 8px 35px;
  color: #fff;
  background-color: var(--button-color);
  border: none;
  border-radius: 30px;
  font-size: 12px;
  text-decoration: none;
  position: relative;
}

.action-btn:disabled {
  opacity: 0.75;
}

.action-btn .action-btn-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border: 2px solid var(--button-color);
  border-radius: 50%;
  position: absolute;
  left: -16px;
  background-color: var(--button-color);
  box-shadow: inset 0 0 0 4px white;
}

.action-anchor {
  margin: .2em;
  padding: .2em;
  font-size: .5em;
  width: 1.2rem;
  height: 1.2rem;
  border: .2em solid #000;
  border-radius: 50%;
  background-color: #000;
  box-shadow: inset 0 0 0 .2em white;
  color: #fff;
}

.action-anchor:hover {
  color: #fff;
}
