/* You can add global styles to this file, and also import other style files */

/* Farbkonzept Website */
$primary: #02bdd5; // Links, Navbar
$primary-light: #b4ffff; // Sidebar-Background
$primary-dark: #007c91; // Sidebar-Font
$secondary: #ffc107; // hover Tables, Button
$secondary-light: #fff350;
$secondary-dark: #ff833a; // hover Links, Logo

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

/*
 * global Typography
 */

// body, paragraph and link style
a, a:visited {
  color: $primary;
  text-decoration: none;
}

a:hover, a:focus {
  color: $secondary-dark;
  transition: ease-in-out 0.3s;
  text-decoration: none;
}

.color-black, a.color-black, a:visited.color-black {
  color: #000;
  text-decoration: none;
}

/*
 * global animations
 */

.animation.fade-in {
  -webkit-animation: fadein 0.3s;
  -moz-animation: fadein 0.3s;
  -ms-animation: fadein 0.3s;
  -o-animation: fadein 0.3s;
  animation: fadein 0.3s;
}

.animation.fade-out {
  -webkit-animation: fadeout 0.3s;
  -moz-animation: fadeout 0.3s;
  -ms-animation: fadeout 0.3s;
  -o-animation: fadeout 0.3s;
  animation: fadeout 0.3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Firefox < 16 */

@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Internet Explorer */

@-ms-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Opera < 12.1 */

@-o-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media print {
  body {
    visibility: hidden;
    height: auto;
  }
  .print{
    visibility: visible;
  }
  @page{
    margin: 1cm;
    height: auto;
  }
  table, figure {
    page-break-inside: avoid;
  }

}




.environment-corner-ribbon {
  width: 200px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  background: #cc2232;
  border: 2px solid #f0f0f0;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
  position: fixed;
}

.environment-corner-ribbon.bottom-right {
  top: auto;
  right: -70px;
  bottom: 5px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
