<div class="quicksearch-list">

  <div class="input-group mb-3">
    <input (input)="onSearch($event.target.value)"
           [disabled]="isDisabled()"
           [id]="id"
           [name]="id"
           [placeholder]="getPlacholder()"
           class="form-control quicksearch-list-search"
           type="text"
           data-cy="quicksearch-suchfeld">
    <div class="input-group-append"
         style="">
      <span class="input-group-text"
            id="basic-addon2">
        <fa-icon [icon]="findIcon"></fa-icon>
      </span>
    </div>
  </div>

  <bla-selectionlist (onSelect)="onItemSelect($event)"
                     [disabled]="isDisabled()"
                     [id]="'selectionListRegions'"
                     [items]="getFilteredItems()"
                     [loading]="loading"
                     [multipleSelections]="multipleSelections"
                     [optionFieldSelector]="optionFieldSelector"
                     [selectedItemIds]="getSelectedItemIds()"
                     [style.height]="selectionListHeight"
                     class="quicksearch-list-select"
                     data-cy="quicksearch-liste">
  </bla-selectionlist>

</div>
