<div class="row">
  <label class="form-label-box col-form-label pr-2" for="wettkampftagSelect">
    <span>test</span>
  </label>
  <select class="form-control w-auto"
          id="wettkampftagSelect"
          name="wettkampftagSelect"
          [(ngModel)]="selectedWettkampfTag"
          [disabled]="loading"
          (ngModelChange)="onSelectWettkampfTag()">
    <option *ngFor="let wettkampf of wettkaempfe"
            [ngValue]="wettkampf"> {{ wettkampf.wettkampfTag }}
    </option>
  </select>
</div>

<div class="row">
  <bla-data-table id="row00"
                  [loading]="loadingData"
                  [config]="currentConfig"
                  [rows]="rows[currentWettkampftag]"
                  data-cy="tableStatistik">
  </bla-data-table>
</div>
