<bla-common-dialog [config]="config">
  <div (mouseover)="onMouseOver($event)">
    <div>
      <div class="row" style="margin-left: 5px">

        <div class="time-box">
          Clock Icon {{ currentTime }}
        </div>

        <!-- Dies ist die aktuelle Ligatabelle  zur Veranstaltung  -->

        <bla-data-table
          [config]="config_table"
          [rows]="rowsLigatabelle"
          [loading]="loadingLigatabelle"
          (onRowEntry)="ligatabelleLinking();"
        >
        </bla-data-table>
       </div>
    </div>
  </div>
</bla-common-dialog>
