<bla-common-dialog [config]="config">
  <div (mouseover)="onMouseOver($event)">
    <div>
      <div class="row" style="margin-left: 5px">

        <div class="time-box">
          Clock Icon {{ currentTime }}
        </div>

        <!-- Dies ist die aktuelle Ligatabelle-->

        <table class="table table-hover table-sm table-responsive-sm thead-light"
               [id]="id"
               *ngIf="visible">
          <thead>
          <tr>
            <th *ngFor="let column of config_table.columns"
                >
              {{ column.propertyName.toUpperCase() }}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of ligatabelleData">
            <td>{{ row.platz }}</td>
            <td>{{ row.mannschaft }}</td>
            <td>{{ row.matchpunkte }}</td>
            <td>{{ row.satzpunkte }}</td>
            <td>{{ row.satzpunktdifferenz }}</td>
          </tr>
          </tbody>
        </table>
       </div>
    </div>
  </div>
</bla-common-dialog>
