.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 25px;
  height: 60px;
  flex-wrap: wrap;
}

.logo-and-header-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  flex: 1;
}

.logo-container {
  margin-right: 20px;
  margin-top: 20px;
}

img.logo {
  width: 100px;
  height: auto;
  display: block;
}

.veranstaltung-header {
  font-size: clamp(20px, 4vw, 40px);
  font-weight: bold;
  margin-bottom: 0;
}

.wettkampftag-header {
  font-size: clamp(16px, 3vw, 26px);
  font-weight: bold;
  padding: 5px;
  margin-left: 80px;
}

.time-box {
  font-size: clamp(25px, 5vw, 50px);
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  flex: 1;
  justify-content: flex-end;
}

.time-box:before {
  content: '🕒';
  margin-right: 10px;
  font-size: clamp(12px, 2.5vw, 25px);
}

.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.table {
  width: 100%;
  margin: 25px 25px;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  font-size: clamp(12px, 2vw, 24px);
}
