<h4>Downloads</h4>
<a #downloadLink></a>

<h5>PDF-Download</h5>
<p>
  <bla-download-actionbutton
    [colorClass]="'primary'"
    [iconClass]="'file-download'"
    [id]="'downloadPdf'"
    [downloadUrl]="getDownloadUrl('pdf')"
    [fileName]="'download.pdf'">Download PDF
  </bla-download-actionbutton>
  {{ getDownloadUrl('pdf') }}
</p>

<h5>Excel-Download</h5>
<p>
  <bla-download-actionbutton
    [colorClass]="'primary'"
    [iconClass]="'file-download'"
    [id]="'downloadXls'"
    [downloadUrl]="getDownloadUrl('xls')"
    [fileName]="'download.xls'">Download EXCEL (XLS)
  </bla-download-actionbutton>
  {{ getDownloadUrl('xls') }}
</p>

<h5>Word-Download</h5>
<p>
  <bla-download-actionbutton
    [colorClass]="'primary'"
    [iconClass]="'file-download'"
    [id]="'downloadDoc'"
    [downloadUrl]="getDownloadUrl('doc')"
    [fileName]="'download.doc'">Download WORD (DOC)
  </bla-download-actionbutton>
  {{ getDownloadUrl('doc') }}
</p>

<h5>CSV-Download</h5>
<p>
  <bla-download-actionbutton
    [colorClass]="'primary'"
    [iconClass]="'file-download'"
    [id]="'downloadCsv'"
    [downloadUrl]="getDownloadUrl('csv')"
    [fileName]="'download.csv'">Download CSV
  </bla-download-actionbutton>
  {{ getDownloadUrl('csv') }}
</p>

<h5>MDB-Download</h5>
<p>
  <bla-download-actionbutton
    [colorClass]="'primary'"
    [iconClass]="'file-download'"
    [id]="'downloadMdb'"
    [downloadUrl]="getDownloadUrl('mdb')"
    [fileName]="'download.mdb'">Download MDB (Microsoft Access)
  </bla-download-actionbutton>
  {{ getDownloadUrl('mdb') }}
</p>
