.breadcrumb {
  border-radius: 0;
  height: 3rem;
}

.breadcrumb-item a, .breadcrumb-item a:visited {
  color: #02bdd5;
  text-decoration: none;
}

.breadcrumb-item a:hover {
  color: #ff833a;
}


// for small devices
@media (max-width: 768px) {

  #breadcrumb-container {
    display: none;
  }

}
