@import 'src/styles.scss';
.breadcrumb {
  border-radius: 0;
  background-color: $primary-white;
}

.breadcrumb-item a, .breadcrumb-item a:visited {
  font-weight: bolder;
  text-decoration: none;
}

.breadcrumb-item a:hover {
  color: $hero-blue;
  font-weight: bold;
}

// for small devices
@media (max-width: 768px) {

  #breadcrumb-container {
    display: none;
  }

}
