<h2>Tabletverwaltung für Schusszettel – Wettkampftag {{ wettkampfId }}</h2>

<table>
  <thead>
  <tr>
    <th>Team</th>
    <th>QR-Code</th>
    <th>Link</th>
    <th>Aktionen</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let team of teams">
    <td>{{ team.name }}</td>
    <td>
      <button class="qr-button" (click)="openQrPopup(getQrUrl(team))" title="QR Code anzeigen">
        <img src="assets/img/Icons/QR_Code_anzeigen_zum_scan.png" alt="QR Icon" class="icon-img" />
      </button>

    </td>
    <td>
      <code style="word-break: break-all">{{ getQrUrl(team) }}</code>
      <button (click)="copyToClipboard(getQrUrl(team))">Kopieren</button>
    </td>
    <td>
      <button class="action-button" (click)="resetSession(team.teamId)" title="Reset Token">
        <img src="assets/img/Icons/Reset_Button.png" alt="Reset Icon" class="icon-img" />
      </button>
    </td>
  </tr>
  </tbody>
</table>

<bla-modal-dialog [visible]="selectedQrUrl !== null" (onClose)="closeQrPopup()">
  <h5 class="modal-dialog-header">
    <i class="fa fa-qrcode"></i>
    QR-Code
  </h5>

  <div class="modal-dialog-content">
    <qrcode
      [qrdata]="selectedQrUrl"
      [width]="256"
      [errorCorrectionLevel]="'M'">
    </qrcode>
  </div>
</bla-modal-dialog>
