<h2>Tabletverwaltung für Schusszettel – Wettkampftag {{ wettkampfId }}</h2>

<table>
  <thead>
  <tr>
    <th>Team</th>
    <th>QR-Code</th>
    <th>Link</th>
    <th>Aktionen</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let team of teams">
    <td>{{ team.name }}</td>
    <td>
      <button class="qr-button" (click)="openQrPopup(getQrUrl(team))">
        <span class="plus-icon">+</span>
      </button>

    </td>
    <td>
      <code style="word-break: break-all">{{ getQrUrl(team) }}</code>
      <button (click)="copyToClipboard(getQrUrl(team))">Kopieren</button>
    </td>
    <td>
      <button (click)="resetSession(team.teamId)">🔁 Reset</button>
    </td>
  </tr>
  </tbody>
</table>

<div *ngIf="selectedQrUrl" class="popup-overlay" (click)="closeQrPopup()">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <qrcode [qrdata]="selectedQrUrl" [size]="300"></qrcode>
    <br />
    <button (click)="closeQrPopup()">Schließen</button>
  </div>
</div>
