/* Farbkonzept Website */
$primary: #02bdd5; // Links, Navbar
$primary-light: #b4ffff; // Sidebar-Background
$primary-dark: #007c91; // Sidebar-Font
$secondary: #ffc107; // hover Tables
$secondary-light: #fff350;
$secondary-dark: #ff833a; // hover Links, Logo


