<div class="container">
  <h1>{{ 'SPOTTER.AUTH.TITLE' | translate }}</h1>
  <div class="form-group">
    <label for="spotterAuth">{{ 'SPOTTER.AUTH.TEXT' | translate }}</label>
    <input type="password"
           class="form-control"
           name="spotterAuth"
           id="spotterAuth"
           [(ngModel)]="AccessTokenInput"
           required
           pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,63}$"
           placeholder="{{ 'SPOTTER.AUTH.INFO' | translate }}">
    <br>
    <bla-button (click)="validateAccessToken()"
                [id] = "'spotterAuth'"
                [buttonSize] = "ButtonSize.LARGE_BLOCK">
                {{ 'SPOTTER.AUTH.BUTTON' | translate }}
    </bla-button>
  </div>
</div>

